

.header
  overflow: hidden

  &__container

    &--home
      padding: 205px 15px 60px

    &--development
      background-image: linear-gradient(30deg, rgba(43, 88, 118, 0.85) 0%, rgba(78, 67, 118, 0.85) 100%)
      padding: 205px 15px 175px

    &--reselling
      background-image: linear-gradient(30deg, rgba(5, 33, 156, 0.85) 0%, #242628 100%)
      padding: 155px 15px 135px

    &--android
      padding: 150px 15px 95px

    &--hosting
      background: linear-gradient(30deg, rgba(0, 92, 151, 0.85) 0%, rgba(54, 55, 149, 0.85) 100%)
      padding: 170px 15px 130px

    &--help
      padding: 175px 15px 160px
      .paragraph-big
        color: white
        padding: 25px 0 0 60px

    &--design
      background: linear-gradient(30deg, rgba(75, 108, 183, 0.85) 0%, rgba(75, 108, 183, 0.85) 0%, rgba(24, 40, 72, 0.85) 100%)
      padding: 175px 15px 165px

    &--download
      padding: 205px 15px 105px

    &--about
      padding: 170px 15px 140px


  &__row
    max-width: 980px
    margin: 0 auto

    &--about, &--home
      max-width: 1170px


  &__column-left
    padding-top: 20px
    .paragraph-big
      color: white
      margin-top: 24px

    hr
      border-top: 1px solid #6699cc
      max-width: 390px
      margin: 25px auto 25px 0

    &--reselling
      padding-top: 65px

    &--download, &--home
      padding-top: 0
      .left-bordered-text
        padding-bottom: 7px
        padding-left: 20px
        margin-top: 25px
        position: relative
        color: white
        display: inline-block
        span
          font-family: 'Maven Pro', sans-serif
          font-size: 36px
          font-weight: 400
          position: relative
          top: 5px
          margin-left: 15px
          img
            width: 37px
            position: relative
            bottom: 3px
            margin-right: 10px
        &:before
          position: absolute
          left: 0
          top: 0
          content: ''
          width: 3px
          height: 100%
          background: $orange
          border-radius: 1px

    &--home
      .left-bordered-text
        margin-top: 50px
        &:before
          background: $blue



    &--about
      padding-top: 70px
      .paragraph-big
        max-width: 420px
        margin-bottom: 25px

  &__column-right
    &--download
      padding-top: 7px
      .paragraph-big, .paragraph-small
        color: white
      .paragraph-small
        padding-top: 20px
        a
          display: inline-block
          padding-top: 25px


  &__buttons-row
    display: flex

    &--about
      margin-top: 25px
      margin-bottom: 30px

    &--home
      margin-top: 50px
      .cta-btn-medium
        color: white

  &__buttons-item
    .paragraph-small
      color: white
      margin-bottom: 10px
    &:first-child
      margin-right: 10px
      position: relative
      img
        width: 19px
        position: absolute
        left: 17px
        top: 14px
        transition: all 0.3s

    &--icon a
      padding-left: 32px
      &:hover
        padding-left: 14.5px
        img
          opacity: 0


  &__image
    &--android
      position: absolute
      top: -10px
      right: 0
    &--home
      img
        width: 100%

  &__video-box
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    border-radius: 6px
    background-color: $blue
    position: relative
    overflow: hidden
    img
      width: 100%

  &__play-video-icon
    width: 82px
    height: 82px
    border-radius: 50%
    background: white
    display: block
    position: absolute
    top: calc(50% - 41px)
    left: calc(50% - 41px)
    cursor: pointer
    img
      width: 25px
      position: absolute
      left: 32px
      top: calc(50% - 12.5px)

  &__card
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    border-radius: 6px
    border: 1px solid #f7f9fc
    background: white
    max-width: 360px
    text-align: center
    padding: 22px 45px 30px
    margin-left: auto

    .cta-btn-medium
      margin-top: 27px

  &--home
    background: linear-gradient(30deg, #263a68 0%, #242628 100%)

  &--reselling
    background: url("img/img_reselling_header-cover.jpg") no-repeat center/cover fixed

  &--development
    background: url("img/img_development_header-cover.jpg") no-repeat center/cover fixed

  &--android
    background: linear-gradient(30deg, #2980b9 0%, #2c3e50 100%)

  &--hosting
    background: url("img/img_hosting_header-cover.jpg") no-repeat center bottom fixed

  &--help
    background: linear-gradient(30deg, #2b5876 0%, #4e4376 100%)

  &--design
    background: url("img/img_design_header-cover.jpeg") no-repeat center/cover fixed

  &--download
    background: linear-gradient(30deg, #005c97 0%, #363795 100%)

  &--about
    background: linear-gradient(30deg, #2980b9 0%, #2c3e50 100%)




//responsiveness
@media (max-width: 1200px)
  .header

    &__column-left

      &--about
        padding-top: 0


@media (max-width: 992px)
  .header
    text-align: center
    .page-title
      font-size: 32px
      line-height: 34px
    .paragraph-big
      margin: 5px auto 0
      padding-left: 0

    &__container
      padding: 90px 0 60px

    &__column-left
      padding-top: 0
      &--download
        padding-top: 0
        .paragraph-big
          padding-left: 20px
          margin: 30px 0 15px

    &__video-box
      max-width: 500px
      margin: 0 auto

    hr
      margin: 25px auto !important

    &__buttons-row
      text-align: center
      flex-wrap: wrap

    &__buttons-item
      width: 100%
      &:first-child
        margin-right: 0
        margin-bottom: 30px

    &__card
      margin: 50px auto 0

    &__image
      display: none


@media (max-width: 768px)
  .header

    &__video-box
      max-width: 290px

    &__play-video-icon
      width: 34px
      height: 34px
      top: calc(50% - 17px)
      left: calc(50% - 17px)
      img
        width: 10px
        left: 13px
        top: calc(50% - 5px)

    &__buttons-row

      &--home
        margin-top: 25px!important

    .paragraph-small.left-bordered-text
      margin-top: 0!important


@media (max-width: 460px)
  .header
    text-align: left