.shop-product

  .main-card
    padding: 30px 90px 60px

  .shop-product__card-nav
    background: none
    padding-bottom: 15px
    border-bottom: 1px solid $white
    margin-bottom: 60px
    li
      &:before
        padding: 0!important
        color: $gray-light
      a
        color: $blue

  &__description-content
    padding-left: 65px

  //bootstrap tabs

  &__tabs
    border-bottom: 1px solid $white
    margin: 25px 0
    padding-bottom: 7px
    display: flex
    li
      width: 50%
      a
        border: none!important
        margin: 0
        font-weight: 600
        text-transform: uppercase
        color: $gray-light
        padding: 0
        position: relative
        display: inline-block
        &:before
          content: ''
          position: absolute
          bottom: -3px
          left: 0
          width: 100%
          height: 3px
          border-radius: 1px
          background: $blue
          opacity: 0
          transition: all 0.3s
        &:hover
          color: $blue!important
          background: none!important
      &.active a
        color: $blue!important
        &:before
          bottom: -8px
          opacity: 1

  //end

  &__steps-form
    margin-top: 90px

  &__form-title
    position: relative
    padding-bottom: 8px
    &:before
      content: ''
      position: absolute
      left: -100px
      bottom: 0
      width: 1000px
      height: 1px
      background: $white

  &__steps
    margin-top: 60px
    .paragraph-small
      padding-top: 9px

    &--two
      margin-top: 120px


  &__steps-checkmark
    width: 45px
    height: 45px
    padding-top: 8px
    border: 2px solid $orange
    border-radius: 50%
    text-align: center
    color: $gray-light
    position: relative
    transition: all 0.3s
    span
      position: absolute
      background: $blue
      width: 100%
      height: 100%
      top: 0
      left: 0
      border-radius: 50%
      padding-top: 6px
      opacity: 0
      transform: scale(0.3) rotate(-90deg)
      transition: all 0.3s
      img
        width: 15px
    &.checked
      border-color: $blue
      span
        opacity: 1
        transform: scale(1.02) rotate(0)

  label
    margin-bottom: 0
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
    input[type=number]
      -moz-appearance: textfield


  &__count
    label
      display: table

  &__count-btn
    border-radius: 6px
    background-color: $white
    width: 45px
    height: 45px
    text-align: center
    display: table-cell
    vertical-align: middle
    cursor: pointer
    transition: all 0.3s
    user-select: none
    &:hover
      background: $blue
      color: white
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)

  &__count-input:read-only
    box-shadow: none
    border: none
    background: none
    height: 45px
    min-width: 40px
    display: table-cell
    text-align: center
    font-weight: 600
    color: $black
    font-size: 16px

  &__sum
    padding-left: 30px
    position: relative
    bottom: 6px
    &:before, &:after
      position: absolute

    &:before
      content: '$'
      font-family: 'Maven Pro', sans-serif
      font-weight: 400
      text-transform: uppercase
      color: $blue
      font-size: 32px
      bottom: 7px

    &:after
      content: '+ VAT'
      color: $black
      font-size: 12px
      right: 15px
      bottom: 14px

  &__product-sum:read-only
    font-family: 'Maven Pro', sans-serif
    font-weight: 400
    text-transform: uppercase
    color: $blue
    font-size: 32px
    position: relative
    border: none
    border-bottom: 6px solid $white
    border-radius: 3px
    box-shadow: none!important
    height: auto
    background: none
    width: 100%
    padding-left: 20px
    padding-top: 0

  &__email
    label
      max-width: 260px
      input
        border-radius: 6px
        border: 2px solid $white
        box-shadow: none!important
        outline: none!important
        height: 45px
        color: $black
        font-size: 14px
        font-weight: 400
        &:active, &:focus
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)!important
          border-color: $blue
      span
        font-weight: 400
        margin-top: 10px
        display: block

  &__submit
    margin-top: 60px
    .col-sm-5
      text-align: right
      padding-top: 16px
      a
        color: $blue



//responsiveness
@media (max-width: 1200px)
  .shop-product
    .main-card
      padding: 30px 25px 90px

@media (max-width: 768px)
  .shop-product
    .main-card
      padding: 30px 15px 90px

    &__description-image
      .item-image
        margin: 0 auto 25px

    &__description-content
      padding: 0 15px

    &__steps-form
      margin-top: 60px

    .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-7
      padding-top: 30px

    &__steps
      margin-top: 0

      &--one

        .col-sm-4
          max-width: 200px
          padding-left: 15px
          padding-top: 0
          margin-top: 30px
          label input
            padding-bottom: 0

      &--two
        margin-top: 30px


    &__submit
      .col-sm-7
        padding-top: 0
        text-align: center
      .col-sm-5
        padding-top: 55px
        text-align: center


@media (max-width: 460px)
  .shop-product
    .main-card
      padding: 55px 15px 0
      border: none















