.shop, .shop-product

  &__container
    margin-top: 75px


.shop-sidebar
  border-radius: 6px
  border: 2px solid #f4f7fa
  background: white
  margin-bottom: 60px

  &__title
    padding: 26px 32px 10px
    border-bottom: 1px solid $white

  &__list
    padding: 26px 12px
    margin-bottom: 0

  &__list-item
    a
      color: #242628
      font-size: 16px
      font-weight: 600
      text-transform: uppercase
      padding: 7px 22px
      display: block
      border-radius: 6px
      &:hover
        color: $blue
    &.active a
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
      background-color: $blue
      color: white

.main-card
  border-radius: 6px
  border: 2px solid #f4f7fa
  overflow: hidden

.item-image
  text-align: center
  border-radius: 6px
  background: $white
  width: 265px
  height: 265px
  position: relative
  padding-top: 67.5px
  margin: 0
  img
    width: 130px
  &:before
    content: ''
    border: 2px solid white
    position: absolute
    left: 13px
    top: 13px
    width: calc(100% - 26px)
    height: calc(100% - 26px)
    border-radius: 6px


//responsiveness
@media (max-width: 992px)
  .shop-sidebar
    width: 265px
    margin: 0 auto 60px

@media (max-width: 460px)
  .shop-sidebar
    margin-bottom: 0




