.shop

  &__container
    min-height: calc(100vh - 460px)

  .main-card
    border-radius: 6px
    border: 2px solid #f4f7fa
    padding: 0 95px 35px
    overflow: hidden

  &__row-inside
    display: flex
    flex-wrap: wrap

  &__item
    padding-top: 60px
    padding-bottom: 60px
    position: relative
    width: 50%
    display: flex
    &:nth-child(even)
      .shop__item-content
        margin-left: auto

    &:nth-child(2n+3)
      &:before
        content: ''
        position: absolute
        left: -100px
        top: 0
        width: 1000px
        height: 1px
        background: $white


  &__item-content
    max-width: 265px
    display: flex
    flex-direction: column
    min-height: 100%

  %image-content-position
    position: absolute
    left: 13px
    top: 13px
    width: calc(100% - 26px)
    height: calc(100% - 26px)
    border-radius: 6px

  .item-image

    .image-overlay
      @extend %image-content-position
      background: linear-gradient(30deg, rgba(75, 108, 183, 0.85) 0%, rgba(75, 108, 183, 0.85) 0%, rgba(24, 40, 72, 0.85) 100%)
      text-align: center
      opacity: 0
      transition: all 0.5s
      a
        position: relative
        display: inline-block
        top: calc(50% - 57px/2)
        width: 57px
        height: 57px
        border: 1px solid white
        border-radius: 50%
        transition: all 0.3s
        margin: 0 20px
        img
          width: 28px
          position: absolute
          top: 14px
          left: 13px
          transition: all 0.3s
          &:last-child
            opacity: 0
        &:hover
          background: white
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
          img
            &:first-child
              opacity: 0
            &:last-child
              opacity: 1

    &:hover
      .image-overlay
        opacity: 1


  &__item-description
    flex-grow: 1
    .title-medium
      margin: 25px 0 15px
      text-transform: capitalize
    span
      display: inline-block
      margin: 25px 0
      color: $blue
      &:before
        content: '$'
      &:after
        content: '+ VAT'
        font-size: 12px
        color: $black
        margin-left: 6px
        position: relative

  &__add-to-cart
    border-top: 1px solid $white
    border-bottom: 1px solid $white
    padding: 20px 0
    margin-bottom: 30px
    a
      display: inline-block
      position: relative
      padding: 5px 30px
      text-transform: uppercase
      font-weight: 600
      color: $black
      img
        width: 20px
        position: absolute
        left: 0
        top: 4px
      &:hover
        color: $blue


//responsiveness
@media (max-width: 1200px)
  .shop

    .main-card
      padding: 0 45px 35px

@media (max-width: 768px)
  .shop

    .main-card
      padding: 0 15px


@media (max-width: 640px)
  .shop

    &__item
      width: 100%
      border-bottom: 1px solid $white

      &:nth-child(2n+3)
        &:before
          display: none

      &:last-child
        border-bottom: none


    &__item-content
      margin: 0 auto


@media (max-width: 460px)
  .shop

    .main-card
      border: none
      padding: 0

    &__item
      &:last-child
        padding-bottom: 0

