.video-player-modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 10
  background: rgba(36, 38, 40, 0.8)
  padding-top: 150px
  height: 100%
  display: none

.video-player-wrapper
  max-width: 800px
  height: 419px
  position: relative
  margin: 0 auto
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
.close-video-player
  position: absolute
  right: 15px
  top: 15px
  cursor: pointer
  img
    width: 40px


//responsivenes
@media (max-width: 800px)
  .video-player-modal
    padding-top: 50px
  .video-player-wrapper
    margin-left: 15px
    margin-right: 15px
    max-width: 100%
    height: 0
    padding-bottom: 52%

@media (max-width: 768px)
  .close-video-player img
    width: 25px