//Variables
@import 'variables/colors'
@import 'variables/fonts'
//end

//Common
@import 'common/navbar'
@import 'common/footer'
//end

//Forms
@import 'forms/forms'
//end

//Page headers
@import 'headers/headers'
//end

//Features
@import 'features/features'
//end

//Benefits
@import 'benefits/benefits'
//end

//Video modals
@import 'video-modals/video-modals'
//end

//Authorisation modals
@import 'auth-modals/auth-modals'
//end

//Home
@import 'home/home-features-home'
@import 'home/home-open-source'
@import 'home/home-testimonials'
@import 'home/home-run-network'
@import 'home/home-stats'
@import 'home/home-story'
@import 'home/home-team'
@import 'home/home-commercial'
//end

//Development
@import 'development/development-pricing'
//end

//Reselling
@import 'reselling/reselling-header'
@import 'reselling/reselling-features'
@import 'reselling/reselling-account-table'
@import 'reselling/reselling-white-label'
//end

//Android
@import 'android/android-features'
@import 'android/android-get-xibo'
//end

//Hosting
@import 'hosting/hosting-features'
@import 'hosting/hosting-calculate'
@import 'hosting/hosting-get-xibo'
@import 'hosting/hosting-domain'
//end

//Help
@import 'help/help-main'
@import 'help/help-self-hosted'
@import 'help/help-commercial'
@import 'help/help-faq'
//end

//Design
@import 'design/design-main'
@import 'design/design-features'
@import 'design/design-services'
@import 'design/design-portfolio'
@import 'design/design-get-quote'
//end

//Download
@import 'download/download-main'
@import 'download/download-step-one'
@import 'download/download-step-two'
@import 'download/download-help'
@import 'download/download-features'
//end

//About
@import 'about/about-main'
@import 'about/about-features-carousel'
@import 'about/about-widgets'
@import 'about/about-software'
@import 'about/about-config'
//end

//Shop
@import 'shop/shop-main'
@import 'shop/shop'
@import 'shop/shop-product'
//end

*
  box-sizing: border-box
  font-family: 'Open Sans', sans-serif

input[type='text'], input[type='number'], input[type='email'], input[type='password'], textarea
  -webkit-appearance: none!important


a
  text-decoration: none!important
  transition: all 0.3s

ul
  list-style: none
  padding: 0

button
  outline: none!important

//for all page titles (h1)
.page-title
  font-family: 'Maven Pro', sans-serif
  font-size: 52px
  line-height: 58px
  color: white
  font-weight: 400
  margin: 0
//end


//for h2, h3, h4
.title-big
  color: $black
  font-family: 'Maven Pro', sans-serif
  font-size: 32px
  font-weight: 400
  line-height: 34px
  margin: 0

.title-medium
  color: $black
  font-family: 'Maven Pro', sans-serif
  font-size: 24px
  font-weight: 400
  line-height: 28px
  margin: 0
  &--shop
    font-size: 18px


.title-small
  color: $black
  font-family: 'Maven Pro', sans-serif
  font-size: 16px
  font-weight: 500
  line-height: 26px
  text-transform: uppercase
//end

//mobile-titles

.m-title
  color: #343c45
  font-family: 'Maven Pro', sans-serif
  font-size: 22px
  font-weight: 400
  &--about
    color: $blue


//end

//paragraphs styles
p
  margin: 0

.paragraph-big
  color: $gray
  font-size: 16px
  line-height: 26px
  a
    color: $blue

.paragraph-small
  color: $gray-light
  font-size: 14px
  line-height: 23px
  a
    color: $blue

.text-big
  font-size: 13px
  line-height: 25px
  color: $gray
  a
    color: $blue

.text-small
  font-size: 12px
  line-height: 20px
  color: $gray-light
//end


//buttons style

%hover
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
  background: $blue
  color: white

.cta-btn-medium, .cta-btn-small, .cta-btn-login, .cta-btn-auth
  position: relative
  cursor: pointer
  border-radius: 4px
  color: $gray-light
  display: inline-block
  font-family: 'Maven Pro', sans-serif
  font-size: 12px
  font-weight: 700
  text-transform: uppercase
  padding: 14.5px
  transition: all 0.5s
  text-align: center
  border: 2px solid $blue

  &--blue-bg
    background: $blue

  &--blue-bg, &--orange-bg,
  &--green-bg, &--green-border,
  &--orange-border
    color: white
    &:hover
      color: white

  //green btn

  &--green-bg, &--green-border
    border-color: $green!important
    &:hover
      background: $green!important

  &--green-bg
    background: $green

  //end

  //orange btn

  &--orange-border, &--orange-bg
    border-color: $orange!important
    &:hover
      background: $orange!important

  &--orange-bg
    background: $orange

  //end

  &:hover
    @extend %hover
  &:active, &:focus, &:visited
    box-shadow: none!important
    outline: none!important

.cta-btn-login
  width: 98px
  padding: 5px!important
  font-weight: 500
  &:hover
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)!important
    background: $blue!important
    color: white!important


.cta-btn-medium
  width: 190px

.cta-btn-auth
  width: 225px


.cta-btn-long
  width: 264px
  padding: 8.5px
  background: $white
  border-radius: 6px
  display: block
  text-align: center
  color: $gray-light
  cursor: pointer
  position: relative
  img
    width: 20px
    position: absolute
    top: 9px
    right: 88px
    opacity: 0
    transition: all 0.3s

  &:hover
    @extend %hover
    padding-right: 38px
    img
      opacity: 1
      right: 70px

.cta-btn-small
  width: 165px

.cta-btn-big
  width: 360px
  color: $blue
  &:hover
    background: $blue!important
    color: white!important
    border-color: $blue!important



//end


//for all containers
.container
  padding: 120px 15px


//section-titles

.section-title
  text-align: center
  p.paragraph-big
    margin: 25px auto 0

//responsiveness
@media (max-width: 992px)
  .container
    padding: 55px 15px
@media (max-width: 768px)

  .section-title
    p.paragraph-big
      text-align: left!important

  .title-big
    font-size: 26px

  .title-medium
    font-size: 22px



