.development__pricing
  background: $white

//responsiveness
@media (max-width: 768px)
  .development__pricing
    &__container
      padding: 60px 15px

@media (max-width: 560px)
  .development__pricing
    .paragraph-big
      text-align: left