.design__get-quote

  background-image: linear-gradient(30deg, #4b6cb7 0%, #4b6cb7 0%, #182848 100%)

  &__container
    .section-title
      .paragraph-big, .title-big
        color: white
      .paragraph-big
        text-align: left
        max-width: 640px