.design__portfolio

  background: $white

  &__row
    margin-top: 55px

  &__item
    text-align: center
    a
      display: block
      border-radius: 6px
      overflow: hidden
      position: relative
      img
        width: 100%
        position: relative
        height: 100%
      &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: linear-gradient(30deg, rgba(75, 108, 183, 0.85) 0%, rgba(75, 108, 183, 0.85) 0%, rgba(24, 40, 72, 0.85) 100%)
        z-index: 2
        opacity: 0
        transition: all 0.5s
      &:hover
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
        &:before
          opacity: 1

    &--big
      a
        height: 400px

    &--wide
      a
        height: 200px
        margin-bottom: 30px

    &--small, &--medium
      a
        height: 170px


//responsiveness
@media (max-width: 992px)
  .design__portfolio

    &__container
      padding-bottom: 28px!important

    &__item
      width: 450px
      margin: 0 auto 32px
      padding: 0
      a
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
        height: auto

@media (max-width: 768px)
  .design__portfolio

    .section-title
      .paragraph-big
        text-align: center!important


@media (max-width: 540px)
  .design__portfolio


    &__item

      padding: 0 15px

      width: 100%

      &--big
        padding: 0

      &--small, &--medium
        display: none

