.design__services
  border-top: 1px solid $white

  &__item
    position: relative
    overflow: hidden

    &:before
      content: ''
      position: absolute
      left: 50%
      height: 100%
      background: black

    &:nth-child(odd):before
      box-shadow: 9999px 0 0 9999px $white

    &:nth-child(even):before
      box-shadow: -9999px 0 0 9999px $white

  &__container
    max-width: 980px


  &__column-text
    padding-top: 60px
    img
      width: 40px

    .paragraph-big
      text-transform: uppercase
      color: $black
      font-weight: 600
      margin: 26px 0 13px
    .paragraph-small
      max-width: 220px

  &__icon
    width: 69px
    height: 69px
    border-radius: 50%
    text-align: center
    padding: 13px
    &--first
      background: linear-gradient(30deg, #263a68 0%, #242628 100%)
    &--second
      background: linear-gradient(30deg, #227af3 0%, #242628 100%)
    &--third
      background: linear-gradient(30deg, #227af3 0%, #42adf6 0%, #227af3 99%, #227af3 100%)

  &__column-image
    img
      max-width: 535px
      display: block
      border-radius: 6px
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
      margin-left: auto

    &--middle
      img
        margin-left: 0


//responsiveness
@media (max-width: 992px)
  .design__services

    &__item
      &:before
        display: none

      &:first-child
        background: linear-gradient(30deg, #4b6cb7 0%, #4b6cb7 0%, #182848 100%)

        .paragraph-big, .paragraph-small
          color: white

      &:nth-child(2)
        background: $white


    &__column-text
      text-align: center
      padding-top: 30px

      .paragraph-big, .paragraph-small
        margin-left: auto
        margin-right: auto

    &__icon
      margin: 0 auto

    &__column-image
      img
        margin: 0 auto

@media (max-width: 768px)
  .design__services

    &__column-image
      img
        width: 100%!important
        max-width: 100%

    &__column-text
      text-align: left
      padding: 30px 30px 0 68px

      .paragraph-small
        margin-left: 0

    &__icon
      margin-left: 0