.features

  &__container

    &--home
      .section-title
        .paragraph-big
          text-align: left
          max-width: 720px

  //features description with 2 rows

  &__description-image

    &__column-left
      text-align: center
      img
        width: 158px

      &--design
        text-align: left


    &__column-right
      p.paragraph-big
        max-width: 676px
        position: relative
        &:before
          content: ''
          width: 1px
          height: 100%
          background: $white
          position: absolute
          left: -95px
          top: 0

      &--reselling
        p.paragraph-big:before
          background: white


  //end

  &__row
    margin-top: 60px

    &--development
      margin-top: 115px

    &--reselling, &--home
      margin-top: 75px



  &__card
    border-radius: 6px
    min-height: 390px
    background: white
    padding: 60px 50px 15px 65px
    p, h4
      color: white

    .title-small
      color: $black
    .paragraph-small
      color: $gray

    //features card with white text

    &--colored
      background: white

      .title-small, .paragraph-small
        color: white

    //end

    //bordered if bg white

    border: 2px solid $white

    //end


    &--shadowed
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2)

    .title-small
      margin: 26px 0 20px

    &--development
      background: linear-gradient(30deg, #2b5876 0%, #4e4376 100%)

    &--hosting
      background: $white

  &__card-icon
    width: 69px
    height: 69px
    background: white
    border-radius: 50%
    text-align: center
    padding: 13px
    img
      width: 100%

    //gradients for reselling card icons

    &--reselling1, &--hosting1, &--download1, &--home1
      background-image: linear-gradient(30deg, #263a68 0%, #242628 100%)
    &--reselling2, &--hosting2, &--download2, &--home2
      background-image: linear-gradient(30deg, #227af3 0%, #242628 100%)
    &--reselling3, &--hosting3, &--download3, &--home3
      background-image: linear-gradient(30deg, #227af3 0%, #42adf6 0%, #227af3 99%, #227af3 100%)

    //end

    //gradient for android card

    &--android
      background: linear-gradient(30deg, #009900 0%, #ffff99 100%)
    //end

  &__cta-container
    text-align: center
    padding-top: 60px




//responsiveness
@media (max-width: 1200px)
  .features

    &__card
      padding: 60px 15px 15px 38px

    &__description-image

      &__column-right
        p.paragraph-big:before
          left: -50px


@media (max-width: 992px)
  .features

    &__item:nth-child(2)
      margin: 30px 0

    &__row
      margin-top: 50px

    &__card

      &--shadowed
        box-shadow: none
        border: 2px solid $white

    &__description-image

      &__column-left

        &--design
          text-align: center

      &__column-right
        padding-top: 20px
        .paragraph-big
          padding-top: 30px
          border-top: 1px solid $white
          &:before
            display: none


    &__cta-container
      padding-top: 30px

@media (max-width: 768px)
  .features

    &__container

      &--download .section-title
        h2.title-big
          text-align: left