.about__config
  background: $white

  &__container
    max-width: 980px

  &__card
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    border-radius: 6px
    background-color: white
    padding: 60px 100px
    overflow: hidden

    //bootstrap tabs

    ul.nav.nav-tabs
      display: flex
      border-bottom: none
      text-align: center
      max-width: 750px
      margin: 0 auto
      li
        flex-grow: 1
        a
          width: 360px
          color: $blue
          font-family: 'Maven Pro', sans-serif
          font-size: 16px
          font-weight: 500
          text-transform: uppercase
          padding: 17px
          text-align: center
          border-radius: 6px
          border: 2px solid $white
          cursor: pointer
          outline: none
          &:hover
            background: $blue
            color: white
            border-color: $blue
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)

        &.active a
          background: $blue
          color: white
          border-color: $blue
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)

        &:first-child
          margin-right: 14px
        &:last-child
          margin-left: 14px

    .tab-content
      padding-top: 60px

      #cms

        .title-medium
          margin-bottom: 25px
          &--blue
            color: $blue
          &--orange
            color: $orange

        .cms-top
          max-width: 580px
          margin: 0 auto
          padding-bottom: 55px
          background: white

          .image-box
            background: $white
            width: 200px
            height: 200px
            text-align: center
            padding-top: 32.5px
            border-radius: 6px
            margin-left: auto
            img
              width: 135px

        .cms-bottom
          position: relative
          padding-top: 30px
          &:before, &:after
            content: ''
            position: absolute
            top: 0
            background: $white

          &:before
            left: -100px
            height: 1px
            width: 950px

          &:after
            width: 1px
            height: calc(100% + 60px)
            left: 50%

          .row
            .col-sm-6:last-child
              padding-left: 90px

            .paragraph-small
              max-width: 265px
              &:not(.list-title)
                min-height: 69px

            .list
              margin-top: 25px
              margin-bottom: 25px
              position: relative
              padding-left: 27px
              &:before
                content: ''
                position: absolute
                left: 0
                top: 0
                height: 100%
                width: 7px
                border-radius: 3px

              .list-title
                margin-bottom: 25px
              ul
                li
                  color: $gray-light
                  line-height: 23px
                  margin-bottom: 20px
                  padding-left: 40px
                  position: relative
                  &:before
                    position: absolute
                    left: 0
                    top: 2px
              &.list-blue
                &:before
                  background: $blue
                li
                  &:before
                    content: url("img/svg/Download/icon_check_blue_rounded.svg")
                    width: 20px

              &.list-orange
                &:before
                  background: $orange
                li
                  &:before
                    content: url("img/svg/Download/icon_check_orange_rounded.svg")
                    width: 20px


      #signage-players
        .row
          .col-md-4
            .card
              border-radius: 6px
              border: 2px solid $white
              text-align: center
              padding: 60px 15px 30px 15px
              min-height: 509px
              img
                width: 38px
                margin: 40px 0 45px
              .paragraph-small
                text-align: left
                margin-bottom: 30px
                min-height: 184px


        //end

//responsiveness
@media (max-width: 1200px)
  .about__config
    #signage-players
      .card
        min-height: 532px!important

@media (max-width: 992px)
  .about__config

    &__card

      padding: 60px 15px

      ul.nav.nav-tabs
        li
          width: 50%
          a
            width: 100%
            padding: 14.5px
            border-radius: 4px
            font-size: 12px

      #cms
        .cms-bottom
          .row
            .col-sm-6:last-child
              padding-left: 25px!important


    #signage-players
      .col-md-4:nth-child(2)
        margin: 60px 0!important
      .card
        min-height: 100%!important
        .paragraph-small
          min-height: 100%!important



@media (max-width: 768px)
  .about__config
    #cms
      .cms-top
        .row .col-sm-6:last-child
          display: none
      .cms-bottom
        &:after
          display: none
        .row
          .col-sm-6:first-child
            border-bottom: 1px solid $white
            padding-bottom: 30px
            margin-bottom: 30px
          .col-sm-6:last-child
            padding-left: 15px!important

@media (max-width: 560px)
  .about__config
    ul.nav.nav-tabs
      flex-wrap: wrap
      li
        width: 100%
        margin: 0 0 30px 0!important
    .tab-content
      padding-top: 25px
