.about__features-carousel

  &__item
    margin-top: 60px

    &:nth-child(odd)

      .tab-content
        text-align: right

    //1

    &:nth-child(2)
      .title-medium
        color: $blue
      ul.nav.nav-tabs
        li
          a
            &:hover
              border-left: 5px solid $blue
          &.active
            a
              border-left: 5px solid $blue
            b
              color: $blue

    //2

    &:nth-child(3)
      .title-medium
        color: $orange
      ul.nav.nav-tabs
        li
          a
            &:hover
              border-left: 5px solid $orange
          &.active
            a
              border-left: 5px solid $orange
            b
              color: $orange

    //3

    &:nth-child(4)
      .title-medium
        color: $violet
      ul.nav.nav-tabs
        li
          a
            &:hover
              border-left: 5px solid $violet
          &.active
            a
              border-left: 5px solid $violet
            b
              color: $violet

    //4

    &:last-child
      .title-medium
        color: $green
      ul.nav.nav-tabs
        li
          a
            &:hover
              border-left: 5px solid $green
          &.active
            a
              border-left: 5px solid $green
            b
              color: $green


  &__card
    border-radius: 6px
    border: 2px solid #f4f7fa
    padding: 60px 60px 10px 100px

    .title-medium, img, p.paragraph-small
      animation: fade-in-tab-content 0.8s forwards
      position: relative
      top: 50px
      opacity: 0

    .title-medium
      color: $blue
      margin-bottom: 80px
      animation-delay: 0.1s

    img
      max-width: 360px
      animation-delay: 0.2s

    @keyframes fade-in-tab-content
      to
        top: 0
        opacity: 1


  //bootstrap tabs

  ul.nav.nav-tabs
    border-bottom: none
    li
      margin-bottom: 25px
      a
        padding: 25px
        border: none
        border-left: 5px solid transparent
        border-radius: 6px
        transition: all 0.5s
        b
          color: $black
          font-family: 'Maven Pro', sans-serif
          font-size: 16px
          font-weight: 500
          line-height: 22px
          text-transform: uppercase
          transition: all 0.5s
        span
          display: block
          margin-top: 20px

        &:hover, &:active, &:focus
          background: none

      &.active a
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)

  //end


//responsiveness
@media (max-width: 992px)
  .about__features-carousel

    //bootstrap tabs

    ul.nav.nav-tabs
      position: relative
      display: flex
      &:before
        content: ''
        position: absolute
        left: 0
        bottom: 1.5px
        z-index: -1
        width: 100%
        height: 1px
        background: $white
      li
        margin-bottom: 0
        position: static
        flex-grow: 1
        a
          padding: 0 0 3px 0
          border: none!important
          position: static
          display: inline-block
          border-radius: 0!important
          border-bottom: 4px solid transparent!important
          margin-right: 0
          b
            font-size: 12px
            font-weight: 700
          span
            &.m-title
              position: absolute
              top: -100px
              left: 0
              opacity: 0
              transition: all 0.5s

          &:hover, &:active, &:focus
            border: none!important

        &.active a
          box-shadow: none
          border: none!important
          border-bottom: 4px solid $blue!important
          border-radius: 2px!important
          span
            &.m-title
              opacity: 1!important

    .tab-pane
      padding-top: 30px
      p.paragraph-small
        margin-bottom: 25px
        text-align: left

    .tab-content
      text-align: center!important

    //end


    &__item
      &:nth-child(4), &:last-child
        display: none
      &:nth-child(3)
        ul.nav.nav-tabs li.active a
          border-bottom: 4px solid $orange!important
        .m-title
          color: $orange

    &__card
      padding-top: 130px
      padding-bottom: 60px

@media (max-width: 768px)
  .about__features-carousel

    &__container

    &__card
      padding: 70px 0 0
      border: none

      img
        width: 215px

    &__item
      &:nth-child(3)
        margin-top: 65px





