.about__software

  &__container
    max-width: 780px
    .paragraph-big
      max-width: 470px
    .title-medium
      margin-top: 60px
      margin-bottom: 25px

  &__column
    img
      width: 163px
    .title-small
      margin: 20px 0

//responsiveness
@media (max-width: 992px)

  .about__software

    &__column
      img
        display: block
        margin: 0 auto
      &:first-child
        margin-bottom: 55px

