.about__widgets

  background: linear-gradient(30deg, #2980b9 0%, #2c3e50 100%)

  &__container

    .title-big
      color: white

    .paragraph-big
      color: white
      max-width: 640px

  &__table
    max-width: 810px
    background: white
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    border-radius: 6px
    margin: 55px auto 0
    overflow: hidden

    tr
      th, td
        vertical-align: middle
        border: 1px solid $white
        &:first-child
          padding-left: 70px
          padding-right: 30px
          width: 250px
        &:nth-child(n+2)
          text-align: center
          width: 250px
      th
        color: $black
        font-family: 'Maven Pro', sans-serif
        font-size: 24px
        font-weight: 400
        padding-top: 13px
        padding-bottom: 13px
        img
          width: 28px
          display: none
      td
        color: $gray-light
        font-size: 14px
        font-weight: 400
        padding-top: 2px
        padding-bottom: 2px
        img
          width: 15px


//responsiveness
@media (max-width: 768px)

  .about__widgets

    &__table
      max-width: 100%!important
      width: 100%!important

      tr
        td, th
          width: auto!important
          padding-left: 10px!important
          padding-right: 10px!important

        th
          span
            display: none
          img
            display: block
            margin: 0 auto