.form-user
  max-width: 555px
  background: white
  margin: 60px auto 0
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
  border-radius: 6px
  padding: 60px 100px 55px
  text-align: center
  position: relative
  overflow: hidden

  label
    width: 358px
    margin-bottom: 20px
    position: relative

    input:not([type='checkbox']), textarea
      border-radius: 6px
      color: $gray-light
      font-weight: 400
      border: 2px solid $white
      box-shadow: none
      padding-left: 21px
      &::-webkit-input-placeholder
        color: $gray-light
      &::-moz-placeholder
        color: $gray-light
      &:-ms-input-placeholder
        color: $gray-light
      &:-moz-placeholder
        color: $gray-light
      &:active, &:focus
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
        border-radius: 6px
        border: 2px solid $blue
        background-color: white

    input
      height: 57px
      &:disabled
        background: $white
        &:focus, &:active
          box-shadow: none
          border: 2px solid $white

    textarea
      resize: none
      height: 162px
      padding-top: 15px

  .cta-btn-medium
    margin: 5px auto 0

label.checkbox
  position: relative
  color: $gray-light
  font-size: 14px
  font-weight: 400
  padding-left: 32px
  cursor: pointer
  input
    display: none
  &:before, &:after
    position: absolute
  &:after
    content: ''
    width: 24px
    height: 24px
    border-radius: 6px
    border: 2px solid #f4f7fa
    left: 0
    bottom: 0
  &:before
    content: ''
    background: url("img/svg/Download/icon_download_check_blue.svg") center/cover no-repeat
    left: 5px
    top: 1px
    width: 15px
    height: 15px
    opacity: 0
    transform: rotate(90deg) scale(0.1)
    transition: all 0.3s

  &.checked
    &:before
      transform: rotate(0) scale(1)
      opacity: 1


label.error-field
  input, textarea
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)!important
    border-radius: 6px!important
    border: 2px solid #ef5350!important

label.success-field
  img
    width: 16px
    position: absolute
    right: 21px
    top: 21px
    transform: scale(0.5) rotate(-90deg)
    opacity: 0
    animation: success-rotate-icon 0.5s forwards




@keyframes success-rotate-icon
  to
    opacity: 1
    transform: scale(1) rotate(0)

//responsiveness
@media (max-width: 768px)
  .form-user
    padding: 60px 20px 55px
    label
      width: 100%