.modal
  background: rgba(52, 60, 69, 0.9)
  .modal-dialog
    .modal-content
      border: none
      background: none
      box-shadow: none
      .close
        position: absolute
        top: 40px
        right: 50px
        opacity: 1
        img
          width: 16px
      .title-big
        text-align: left
        margin-bottom: 32px
      .text-big
        color: $gray-light

      button.cta-btn-auth
        margin-bottom: 25px

      a:not(.cta-btn-auth)
        color: $blue
        box-shadow: none!important
        outline: none!important
        &.redirect
          text-transform: uppercase!important
          font-family: 'Maven Pro', sans-serif
          font-size: 12px
          font-weight: 700
          margin-left: 5px

      .form-group
        display: flex
        margin-bottom: 35px
        padding-top: 15px
        .checkbox
          text-align: left
          width: 50%
          margin: 0
          flex-grow: 1
        a
          font-size: 13px
          padding-top: 1px

      .modal-bottom
        margin-top: 30px
        padding-top: 30px
        position: relative
        &:before
          content: ''
          position: absolute
          left: -100px
          top: 0
          width: 700px
          height: 1px
          background: $white

#signup-modal
  button.cta-btn-auth
    margin-top: 15px

#forgot-pwd-modal
  button.cta-btn-auth
    margin-top: 15px
  h2
    margin-bottom: 20px
  p.paragraph-big
    color: $black
    text-align: left
    margin-bottom: 25px
    max-width: 285px
  .modal-bottom
    margin-top: 10px

//responsiveness
@media (max-width: 768px)
  .modal

    .close
      top: 25px!important
      right: 30px!important

    .modal-bottom
      font-size: 12px!important

    form
      padding-bottom: 30px!important
      margin-top: 0!important