.benefits

  &__container
    .section-title
      .paragraph-big
        max-width: 495px

  &__row
    padding-top: 55px

  &__column-left
    padding-left: 100px
    position: relative
    overflow: hidden

  &__carousel-item
    padding-top: 15px
    .title-medium
      margin-bottom: 25px
    .paragraph-small
      max-width: 395px

  &__column-right
    img
      width: 100%
      border-radius: 6px
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)

  &__sign-up
    text-align: center
    padding-top: 60px


  &--hosting
    background: linear-gradient(30deg, #005c97 0%, #363795 100%)
    .paragraph-big, .title-big, .paragraph-small, .title-medium
      color: white


  //owl carousel

  .owl-item
    position: relative!important
    opacity: 0
    transition: all 0.9s
    &.active
      opacity: 1


  .owl-dots
    width: 25px
    margin-top: 0!important
    text-align: center
    position: absolute
    top: 21px
    left: -47px
    .owl-dot
      display: block
      margin-bottom: 18px
      span
        width: 12px
        height: 12px
        background: $gray-light
        transition: all 0.3s
      &.active span
        box-shadow: 0 0 0 3px white, 0 0 0 5px $gray-light
        background: $orange
      &:hover span
        background: $orange!important

//end


.hosting .owl-dots
  .owl-dot
    span
      background: white
    &.active
      span
        box-shadow: 0 0 0 3px #14539b, 0 0 0 5px white




//responsiveness
@media (max-width: 992px)
  .benefits
    &__container
      .title-medium
        font-size: 22px

    &__column-left
      padding-left: 15px!important
      padding-top: 40px
      .paragraph-small
        max-width: 100%!important


    .owl-dots
      position: relative!important
      left: 0!important
      top: 0!important
      transform: rotate(0)
      text-align: center
      margin-top: 30px!important
      width: auto!important
      .owl-dot
        display: inline-block!important
        margin-bottom: 0!important

    &__sign-up
      padding-top: 55px
