.home__testimonials
  position: relative
  &:before
    content: ''
    width: 100%
    height: 50%
    background: linear-gradient(30deg, #263a68 0%, #227af3 0%, #ea8f75 99%, #ea8f75 100%)
    position: absolute
    left: 0
    top: 0
    z-index: -1

  &__container
    max-width: 980px

    .section-title
      .paragraph-big, .title-big
        color: white

  &__card
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    border-radius: 6px
    background: white
    margin-top: 60px
    padding: 60px 200px 45px
    position: relative
    overflow: hidden


  //owl carousel

  .owl-carousel
    position: relative

    .text
      text-align: center
      .paragraph-small.testimonials-item-title
        margin-bottom: 25px
      p.paragraph-small:not(.testimonials-item-title)
        font-style: italic

    .owl-nav

      .owl-prev, .owl-next
        position: absolute
        bottom: 10px
        width: 36px
        height: 36px
        border: 2px solid #f6fafb
        border-radius: 50%
        background: none
        transition: all 0.3s
        img
          width: 14px
          position: absolute
          left: 9px
          top: 9px
          transition: all 0.3s
          &:last-child
            opacity: 0
        &:hover
          background: $blue
          border-color: $blue
          img
            &:first-child
              opacity: 0
            &:last-child
              opacity: 1

      .owl-prev
        left: -105px
      .owl-next
        right: -105px

    &.carousel-testimonials-img
      padding-top: 20px
      position: relative
      width: 90%
      margin: 60px auto 0
      &:before
        content: ''
        position: absolute
        top: 0
        left: -225px
        height: 1px
        background: $white
        width: 1000px

      .owl-stage
        min-height: 160px
        padding-top: 30px
        .owl-item

          .img-item
            position: relative
            img
              transition: all 0.7s
              width: 50px
              height: 50px
              border-radius: 50%
            .author
              width: 150px
              position: absolute
              left: -50px
              bottom: -70px
              opacity: 0
              text-align: center
              transition: all 0.7s

          &.center
            img
              box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
              transform: scale(1.6)
            .author
              opacity: 1!important

          &.middle-size
            img
              transform: scale(1.3)


  &__brands
    padding-top: 50px


//responsiveness
@media (max-width: 992px)
  .home__testimonials

    &__card
      padding: 60px 35px

    .owl-nav
      position: relative
      margin-top: 25px

    .owl-prev, .owl-next
      position: relative!important
      top: 0!important
    .owl-prev
      left: 0!important
      margin-right: 55px!important
    .owl-next
      right: 0!important
      margin-left: 55px!important

    .carousel-testimonials-img
      margin-top: 15px!important


@media (max-width: 768px)
  .home__testimonials
    .section-title
      .paragraph-big
        text-align: center!important

    .img-item
      img
        margin: 0 auto 25px
        transform: scale(1)!important
        width: 80px!important
        height: 80px!important
      .author
        position: relative!important
        top: 0!important
        left: 0!important
        margin: 0 auto

@media (max-width: 540px)
  .home__testimonials

    .item-description
      position: relative!important
      bottom: 0!important
      left: 0!important
      width: 100%!important
      margin-top: 30px
