.home__open-source

  &__more-features-btn
    text-align: center

  &__container
    max-width: 980px

    .section-title
      margin: 120px 0 50px

  &__links
    margin-top: 60px

  &__link-licence
    img
      width: 230px
  &__link-github
    margin-left: 50px
    img
      width: 85px


//responsiveness
@media (max-width: 992px)
  .home__open-source

    &__container

      .section-title
        margin: 55px 0 50px

    &__links
      margin-top: 30px

    &__link-licence
      img
        width: 120px
    &__link-github
      padding-left: 30px
      img
        width: 55px


@media (max-width: 992px)
  .home__open-source

    &__container .section-title .paragraph-big
      text-align: center!important