.home__features-home

  .section-title
    h2, .paragraph-big
      color: white

  .title-medium
    margin-bottom: 25px
    margin-top: 30px

  .paragraph-small
    max-width: 400px

  .home__features-home-top, .home__features-home-bottom
    .title-medium, .paragraph-small
      color: white

    &__column:last-child
      padding-left: 30px

  .home__features-home-top, .home__features-home-middle
    img
      width: 100%

  //top

  .home__features-home-top

    background: linear-gradient(30deg, #227af3 0%, #242628 100%)

    .paragraph-big
      text-align: left
      max-width: 650px

    &__row
      margin-top: 60px

    &__column:last-child
      padding-left: 30px

  //end

  .home__features-home-bottom
    background: linear-gradient(30deg, #227af3 0%, #42adf6 0%, #227af3 99%, #227af3 100%)

    &__column
      position: relative

    img
      position: absolute
      right: 95px
      top: -30px


//responsiveness
@media (max-width: 1200px)
  .home__features-home

    .title-medium
      margin-top: 0

    .home__features-home-top, .home__features-home-bottom

      &__column:last-child
        padding-left: 20px


@media (max-width: 992px)
  .home__features-home

    .title-medium
      margin-bottom: 20px

    .home__features-home-top,  .home__features-home-middle, .home__features-home-bottom
      img
        max-width: 360px
        display: block
        margin: 0 auto

      &__column:first-child
        padding-bottom: 30px

    .home__features-home-bottom

      &__column
        &:first-child
          text-align: center

      img
        position: relative
        right: 0
        top: 0
        width: 160px!important
