.home__run-network
  background: linear-gradient(30deg, #227af3 0%, #42adf6 0%, #227af3 99%, #227af3 100%)

  &__container
    max-width: 980px

    .section-title
      .title-big
        color: white


  &__row
    margin-top: 60px

  &__card
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    border-radius: 6px
    border: 1px solid #f6fafb
    background: white
    padding: 60px 0
    text-align: center
    .title-medium, .paragraph-small
      text-align: left

    .title-medium
      margin-bottom: 25px

  &__card-content
    padding: 30px 75px 30px 95px

  &__card-icon
    width: 69px
    height: 69px
    border-radius: 50%
    padding-top: 14px
    margin: 0 auto
    img
      width: 40px

    &--icon1
      background: linear-gradient(30deg, #263a68 0%, #227af3 0%, #ea8f75 99%, #ea8f75 100%)

    &--icon2
      background: linear-gradient(30deg, #227af3 0%, #242628 100%)


//responsiveness
@media (max-width: 992px)
  .home__run-network


    &__card-content
      padding: 30px 15px 30px 22px

@media (max-width: 768px)

  .home__run-network

    &__card

      .title-medium
        text-align: center

    &__column:last-child
      margin-top: 30px