.home__commercial

  background: $white

  &__container
    max-width: 1010px
    .section-title
      .paragraph-big
        max-width: 660px

  &__tabs-wrapper
    margin-top: 55px

  &__m-select
    margin: 0 auto
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    border-radius: 6px
    background-color: $blue
    color: white
    padding: 14px 40px 14px 76px
    font-size: 16px
    position: relative
    z-index: 3
    display: none
    cursor: pointer
    img
      width: 30px
      position: absolute
      left: 25px
      top: 9px
    b
      font-weight: 400

  //bootstrap tab links

  &__tabs
    display: flex
    position: relative
    border-bottom: none

    &:before
      content: ''
      width: calc(100% - 30px)
      position: absolute
      left: 15px
      bottom: - 32px
      height: 1px
      background: white

    li
      width: 20%
      margin: 0 15px
      a
        text-align: center
        display: block
        margin: 0
        border: none!important
        position: relative
        padding-top: 120px
        color: $gray-light
        font-size: 16px
        transition: all 0.5s
        background: white
        width: 100%
        height: 166px
        border-radius: 10px

        &:before
          content: ''
          position: absolute
          left: 0
          bottom: -25px
          width: 100%
          height: 6px
          border-radius: 3px
          background: $blue
          transition: all 0.3s
          opacity: 0

        img
          width: 75px
          position: absolute
          top: 30px
          left: calc(50% - 37.5px)
          transition: all 0.3s
          &:first-child
            opacity: 0

      &.active, &:hover
        a
          color: white!important
          background: $blue!important
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
          img
            &:first-child
              opacity: 1
            &:last-child
              opacity: 0
      &.active a:before
        opacity: 1
        bottom: -34px


  //end


  //bootstrap tab content

  &__tab-content

    .tab-pane
      padding: 60px 15px 0
      .card
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
        border-radius: 6px
        background: white
        padding: 60px 50px 60px 100px
        .cta-btn-small
          margin-top: 30px
        .col-md-4
          padding-right: 0
          .title-medium
            margin-bottom: 20px
        .col-md-8
          padding-top: 20px
          img
            width: 100%

  //end


//responsiveness
@media (max-width: 992px)
  .home__commercial


    &__tabs-wrapper
      max-width: 290px
      margin: 45px auto 0
      position: relative

    &__m-select
      display: block

    &__tabs
      flex-direction: column
      background: white
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
      border-radius: 6px
      padding: 65px 0 20px
      position: absolute
      top: 0
      left: 0
      width: 100%
      z-index: 2
      display: none
      &:before
        display: none
      li
        margin: 0
        width: 100%
        a
          border-radius: 0
          background: none
          height: auto
          text-align: left
          padding: 12px 15px 12px 76px
          &:before
            display: none
          img
            bottom: 0
            top: 8px
            left: 25px
            width: 30px
            &:first-child
              display: none
            &:last-child
              opacity: 1
        &.active, &:hover
          a
            background: none!important
            box-shadow: none
            color: $gray-light!important
            img
              &:last-child
                opacity: 1



    &__tab-content
      .tab-pane
        padding: 60px 0 0
        .card
          padding: 60px 25px
          .col-md-4
            padding-bottom: 30px
            text-align: center
            .title-medium, .paragraph-small
              text-align: left


