.home__team

  &__row
    display: flex
    flex-wrap: wrap

  &__item
    width: 50%
    display: flex
    padding-top: 55px

  &__item-image
    box-shadow: 0 0 5px 1px rgba(204, 204, 223, 0.5)
    border-radius: 6px
    width: 163px
    overflow: hidden
    margin-bottom: 20px
    img
      width: 100%

  &__item-links
    text-align: center
    a
      display: inline-block
      margin: 0 16px
    img
      width: 24px

  &__item-content-right
    padding-left: 30px
    padding-right: 30px

    .text-small
      margin: 5px 0 18px

    .paragraph-small
      max-width: 270px


//responsiveness
@media (max-width: 992px)
  .home__team

    &__item
      width: 100%
      border-bottom: 1px solid $white
      padding-bottom: 55px
      &:last-child
        border-bottom: none
        padding-bottom: 0

      .paragraph-small
        max-width: 100%


    &__item-content-right
      padding-right: 0



@media (max-width: 600px)
  .home__team

    &__item
      flex-wrap: wrap

    &__item-content-right
      padding-left: 0

    &__item-content-left
      width: 100%
      margin-bottom: 25px

    &__item-image
      margin: 0 auto 20px
