.home__story

  background: $white

  &__container
    padding: 0
    overflow: hidden

  &__column

    &--text
      padding: 90px 45px 120px 210px

      .title-big, .paragraph-big
        text-align: left

      .paragraph-big
        max-width: 420px
        margin: 45px 0 0!important


//responsiveness
@media (max-width: 1200px)
  .home__story

    &__column

      &--text
        padding: 55px 45px 55px 45px


@media (max-width: 992px)
  .home__story

    .section-title
      .title-big
        text-align: center
      .paragraph-big
        margin: 25px auto 0!important

    &__column

      &--text
        padding: 55px 30px

      &--image
        height: 450px!important



@media (max-width: 600px)
  .home__story

    .section-title
      .paragraph-big
        margin: 25px 0 0!important
    &__column

      &--image
        height: 250px!important