.home__stats

  &__container
    max-width: 980px

  &__row
    margin-top: 30px

  &__column
    text-align: center
    margin-top: 10px
    .paragraph-big
      text-transform: uppercase

  &__count
    font-family: 'Maven Pro', sans-serif
    font-size: 52px
    font-weight: 500
    line-height: 72px
    color: $blue
    margin-bottom: 10px
    display: block


//responsiveness
@media (max-width: 768px)
  .home__stats
    .section-title
      .paragraph-big
        text-align: center!important