.download__step-one

  &__container
    padding-bottom: 60px!important

    .title-big
      max-width: 560px
      margin: 0 auto

  &__row
    margin-top: 60px

  &__card
    border-radius: 6px
    border: 2px solid $white
    padding: 55px 50px 28px 100px
    position: relative
    min-height: 389px
    a:not(.cta-btn-medium)
      color: $blue
      display: inline-block

    &--right
      background: $white
      padding-left: 290px
      padding-top: 45px

      a.popup-link
        margin-top: 10px
        margin-left: 30px


  &__row-inside

    &--top
      a.popup-link
        margin-top: 40px!important



    &--bottom
      padding-top: 55px
      border-top: 1px solid $white
      margin-top: 20px

      .col-md-3
        padding: 0

        p
          position: relative
          bottom: 10px

  &__column-inside
    position: relative

  &__card-icon
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 195px
    background: white
    text-align: center
    padding: 146px 0
    img
      width: 74px

  &__price
    color: $black!important
    margin-top: 20px!important
    margin-bottom: 20px!important
    display: block
    span
      display: block



//responsiveness
@media (max-width: 1200px)
  .download__step-one

    &__container
      max-width: 750px

    &__row-inside

      &--bottom
        .col-md-7
          width: 40%!important
        .col-md-3
          p
            top: 0

    &__card
      min-height: 100%

    &__column
      width: 100%
      &:last-child
        margin-top: 30px


    a.popup-link
      display: block


    .what-are-benefits-popup img
      right: 70%

@media (max-width: 992px)
  .download__step-one

    &__container
      max-width: 600px
      padding-bottom: 45px!important

    .section-title
      text-align: left

    &__card
      padding: 45px 25px 28px 55px!important

    &__row-inside

      &--top
        a:not(.cta-btn-medium)
          margin-top: 25px

      &--bottom
        padding-top: 30px
        .col-md-7
          a
            margin-bottom: 25px
        .col-md-3
          padding: 0 15px

    &__card-icon
      display: none

    .what-are-benefits-popup
      right: 80px

@media (max-width: 768px)

  .what-are-benefits-popup
    padding-left: 55px
    left: 0
    right: 0
    width: 100%
    img
      left: 100px!important