.download__help
  background: linear-gradient(30deg, #005c97 0%, #363795 100%)

  &__container
    max-width: 980px

    .title-big
      color: white

  &__card
    border-radius: 6px
    background: white
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    padding: 55px 15px
    text-align: center
    margin-top: 55px

    .title-medium
      margin-bottom: 55px

    .paragraph-small
      max-width: 230px
      margin: 23.5px auto

  &__list
    padding-left: 120px

  &__list-item
    text-align: left
    color: $gray-light
    font-size: 14px
    line-height: 23px
    margin-bottom: 25px
    max-width: 260px
    position: relative

    &:before
      content: url("img/svg/Download/icon_check_orange_rounded.svg")
      position: absolute
      left: -40px
      top: 3px
      width: 20px


//responsiveness
@media (max-width: 992px)
  .download__help
    &__list
      padding-left: 65px


@media (max-width: 768px)
  .download__help

    .title-big
      text-align: left

    &__list
      padding-left: 0

    &__list-item
      text-align: center
      margin: 0 auto 25px


@media (max-width: 460px)
  .download__help

    .paragraph-small
      text-align: center!important

    &__list
      padding-left: 0

    &__list-item
      text-align: left
      padding-left: 37px
      margin: 0 0 25px
      &:before
        left: 0