.download

  &__step-rounded

    border: 2px solid $blue
    width: 82px
    height: 82px
    border-radius: 50%
    text-align: center
    padding-top: 15px
    position: relative
    top: 2px

    span
      color: $blue
      position: relative
      top: 6px
      margin-left: 5px

    &--step2
      top: 11px
      border-color: $orange
      span
        color: $orange


  &__steps-card-title
    position: relative
    padding: 5px 0

    h3
      margin-bottom: 20px

    &:before
      content: ''
      width: 3px
      height: 100%
      position: absolute
      left: -30px
      top: 0
      background: $white

    &--cloud:before
      background: $orange




  //popup

  &__popup
    position: absolute
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    border-radius: 6px
    background: white
    padding: 55px 15px 45px 120px
    right: 0
    width: 456px
    z-index: 2
    display: none
    img
      position: absolute
      top: -25px
      right: 28%
    .popup-content
      position: relative
      .popup-title
        color: $black
        line-height: 23px
      ul
        margin-top: 20px
        li
          display: block
          margin-bottom: 13px
          position: relative
          padding-left: 40px
          &:before
            content: url("img/svg/Download/icon_check_orange_rounded.svg")
            position: absolute
            left: 0
            top: 3px
            width: 20px
          &:last-child
            margin-bottom: 0

      &:before
        content: ''
        width: 7px
        height: calc(100% - 10px)
        border-radius: 3px
        background-color: #ea8f75
        position: absolute
        left: -26px
        top: 5px
        bottom: 5px

    &--requirements
      right: 0
      .popup-content:before
        background: $blue
      li:before
        content: url("img/svg/Download/icon_check_blue_rounded.svg")!important



  //end

//responsiveness
@media (max-width: 992px)
  .download

    &__step-rounded
      border: none
      padding: 0 0 8px
      text-align: left
      border-radius: 0
      width: auto
      height: auto
      display: inline-block
      border-bottom: 3px solid $white
      margin-bottom: 25px
      span
        font-size: 32px

      &--step2
        top: 4px!important


//responsiveness
@media (max-width: 1200px)
  .download

    &__popup
      img
        right: 70%

@media (max-width: 992px)
  .download

    &__popup
      right: 80px

@media (max-width: 768px)
  .download

    &__popup
      padding-left: 55px
      left: 0
      right: 0
      width: 100%
      img
        left: 100px!important