.download__step-two

  &__container
    padding-top: 0!important

  &__card

    border-radius: 6px
    border: 2px solid $white

  &__card-body
    padding: 60px 100px

  &__row-top
    .col-md-2
      width: 179.58px

  &__row-bottom

    margin-top: 55px
    border-top: 1px solid $white

    .title-medium
      text-align: center
      margin-bottom: 25px

  &__item
    padding-top: 50px

    &--disabled
      .title-medium
        color: #cccccc

  &__item-card
    background: $white
    padding: 105px 15px 30px
    text-align: center
    min-height: 545px
    position: relative
    border-radius: 10px

    .cta-btn-medium
      margin: 30px 0 0

    .paragraph-small
      padding-left: 20px
      text-align: left

    .text-big
      margin-top: 25px

  &__item-header
    position: absolute
    left: 0
    top: 0
    width: 100%
    img
      width: 37px

  &__item-icon
    width: 69px
    height: 69px
    background: white
    border-radius: 50%
    text-align: center
    padding-top: 16px
    position: relative
    right: 15px
    bottom: 5px

  &__price-label
    position: absolute
    right: 15px
    top: 18px
    text-transform: uppercase
    font-family: 'Maven Pro', sans-serif
    font-size: 12px
    font-weight: 700
    color: white
    border-radius: 6px
    padding: 6px 26px
    &--free
      background: $blue
    &--soon
      background: white
      color: #cccccc
    &--lowest
      background: $green


  &__card-footer
    padding: 55px 0
    text-align: center
    border-top: 1px solid $white
    max-width: 942px
    margin: 55px auto 0


//responsiveness
@media (max-width: 1200px)
  .download__step-two

    &__card-body
      padding: 60px 50px

    &__row-bottom
      padding-left: 0


@media (max-width: 992px)
  .download__step-two

    &__item-card
      min-height: 100%

    &__row-bottom
      border-top: none
      margin-top: 0


@media (max-width: 768px)
  .download__step-two

    &__row-top
      padding-left: 20px

    &__card
      border: none

    &__card-body
      padding: 0 0 0 20px

    &__card-footer
      border-top: none
      padding-top: 0
      text-align: left
