.help__faq

  background: $white

  &__accordion
    margin-top: 55px
    margin-bottom: 0

    .panel.panel-default
      border-radius: 6px!important
      overflow: hidden
      border: none
      transition: all 0.5s
      margin-top: 10px

      .panel-heading
        padding: 0
        background: white
        a
          display: block
          padding: 55px 165px 55px 96px
          position: relative
          img
            width: 21px
            position: absolute
            right: 96px
            top: 60px
            transition: all 0.5s
            &:first-child
              top: 57px
            &:last-child
              opacity: 0
              transform: scale(0.1)

      .panel-body
        border-top: none
        padding: 0 165px 58px 96px
        .paragraph-small
          position: relative
          top: 30px!important
          transition: all 0.5s
          opacity: 0

      &.accordion-shadowed
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)

        .panel-heading
          a
            padding-bottom: 30px!important
            img
              &:first-child
                opacity: 0
                transform: scale(0.1)
              &:last-child
                opacity: 1
                transform: scale(1)

        .panel-body
          .paragraph-small
            top: 0!important
            opacity: 1


//responsiveness
@media (max-width: 768px)
  .help__faq

    &__accordion

      .panel.panel-default
        margin-top: 32px

      .panel-heading
        a
          padding: 42px 60px 42px 22px!important
          font-size: 22px
          line-height: 28px
          img
            right: 28px!important
            top: 48px!important
            &:first-child
              top: 45px
            &:last-child
              opacity: 0
              transform: scale(0.1)

      .panel-body
        padding: 0 15px 58px 22px!important


