.help__self-hosted

  .section-title
    .paragraph-big
      max-width: 690px

  &__row
    margin-top: 58px

  &__card
    text-align: center
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    border-radius: 6px
    border-top: 5px solid transparent
    transition: all 0.5s
    padding: 56px 85px
    margin-bottom: 60px
    min-height: 528px

    img
      width: 54px
      margin-bottom: 25px

    .paragraph-small
      margin: 20px 0 27px
      text-align: left
      min-height: 207px

    &:hover
      border-top: 5px solid $blue

  &__notification-card
    border-radius: 6px
    background-color: $white
    width: 100%
    padding: 45px 70px 45px 115px
    display: table
    img
      width: 54px
    .paragraph-small
      padding-left: 30px
      padding-top: 0
      max-width: 306px
      display: table-cell
      vertical-align: middle

  &__notigication-card-icon, &__notigication-card-btn
    display: table-cell
    height: 54px
    vertical-align: middle

  &__notification-card-btn
    text-align: right


//responsiveness
@media (max-width: 992px)
  .help__self-hosted

    &__card
      min-height: 100%

      .paragraph-small

        min-height: 100%

      &--community-support
        padding-bottom: 56px

    &__notification-card
      padding: 45px 70px 45px!important


@media (max-width: 768px)
  .help__self-hosted

    &__card
      padding: 56px 15px 56px 30px!important

    &__notification-card
      display: block!important
      text-align: center
      padding: 55px 30px!important

      .paragraph-small
        text-align: center
        padding: 28px 0
        max-width: 100%!important
        display: block!important

    &__notification-card-btn
      text-align: center


@media (max-width: 460px)
  .paragraph-small
    text-align: left!important

