.help__commercial

  background: linear-gradient(30deg, #2b5876 0%, #4e4376 100%)

  .title-big, .paragraph-big
    color: white
  .paragraph-big
    max-width: 555px

  &__row
    margin-top: 55px

  &__card
    background: white
    border-radius: 6px
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    padding: 55px 0 30px

  &__card-content
    padding: 0 60px
    img
      width: 67px
      margin-bottom: 25px
    .title-medium
      margin-bottom: 18px

    .paragraph-small
      min-height: 92px

  &__card-buttons
    padding-top: 30px
    border-top: 1px solid $white
    text-align: center
    margin-top: 30px
    a
      &:first-child
        margin-right: 11px


//responsiveness
@media (max-width: 992px)
  .help__commercial

    &__column
      &--left
        margin-bottom: 60px

    &__card-content
      .title-medium
        text-align: center
      .paragraph-small
        min-height: 10px!important

@media (max-width: 768px)
  .help__commercial

    &__card-content
      padding: 0 15px 0 22px
      .title-medium
        text-align: left
      img
        margin: 0 auto 25px
        display: block
    &__card-buttons
      a
        margin: 0 auto
        display: block
        &:first-child
          margin: 0 auto 10px

