doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // Bootstrap CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
        rel='stylesheet',
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u',
        crossorigin='anonymous')
        //end

        //fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i',
        rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900',
        rel='stylesheet')
        //end

        //owl carousel
        link(href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css',
        rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css',
        rel='stylesheet')
        //end

        // Main CSS
        link(href='css/main.min.css' rel='stylesheet')
        //end

        title About

    body

        // NAVBAR

        //desktop navbar

        nav.navbar.navbar-default.navbar-fixed-top.about-nav-bg(role='navigation')

            .container-fluid

                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        img(src='img/xibo-logo.svg', alt='logo')

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='#') Home
                        li
                            a(href='#') About
                        li
                            a(href='#') Download
                        li
                            a(href='#') Shop
                        li
                            a(href='#') Help
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Services
                                i.glyphicon.glyphicon-menu-down
                            ul.dropdown-menu
                                li.dropdown-triangle
                                    img(src='img/svg/Home/icon_header_triangle.svg')
                                li
                                    a(href='#') Cloud hosting
                                        img(src='img/svg/Home/icon_home_cloud_blue.svg')
                                        img(src='img/svg/Home/icon_home_cloud_dark.svg')
                                        span Simple, reliable, scalable Xibo CMS Cloud Hosting
                                li
                                    a(href='#') Development
                                        img(src='img/svg/Home/icon_home_development_blue.svg')
                                        img(src='img/svg/Home/icon_home_development_dark.svg')
                                        span Sponsor the development of a new feature or bug fix
                                li
                                    a(href='#') Design
                                        img(src='img/svg/Home/icon_home_design_blue.svg')
                                        img(src='img/svg/Home/icon_home_design_dark.svg')
                                        span Outsource your design work to our experts
                                li
                                    a(href='#') Reselling
                                        img(src='img/svg/Home/icon_home_reselling_blue.svg')
                                        img(src='img/svg/Home/icon_home_reselling_dark.svg')
                                        span Considering Xibo as the foundation for your business?
                                li
                                    a(href='#') Xibo for Android
                                        img(src='img/svg/Home/icon_home_android_blue.svg')
                                        img(src='img/svg/Home/icon_home_android_dark.svg')
                                        span Built for the Xibo CMS, runs on Android
                    ul.nav.navbar-nav.navbar-right
                        li.navbar-twitter
                            a(href='#')
                                img(src='img/svg/Home/icon_header_git.svg', alt='twitter')
                                | Follow us
                        li.navbar-login
                            a.cta-btn-login(href='#') Log in
                        li.navbar-cart
                            a(href='#')
                                img(src='img/svg/Home/icon_header_cart.svg', alt='cart')
                                span 2

        //end desktop navbar


        //mobile navbar

        nav.m-navbar

            .m-navbar__top

                .m-navbar__logo
                    a(href='#')
                        img(src='img/logo.png', alt='logo')
                .m-navbar__toggle
                    span

            .m-navbar__popup

                span.m-navbar__close-popup
                    img(src='img/svg/Help/icon_help_close.svg', alt='close')

                ul.m-navbar__list
                    li.m-navbar__list-item
                        a(href='#') Home
                    li.m-navbar__list-item
                        a(href='#') Shop
                    li.m-navbar__list-item
                        a(href='#') About
                    li.m-navbar__list-item
                        a(href='#') Help
                    li.m-navbar__list-item
                        a(href='#') Download

                .m-navbar__services
                    h5.m-title Services

                    ul.m-navbar__list.m-navbar__list--services
                        li.m-navbar__list-item
                            a(href='#') Hosting
                        li.m-navbar__list-item
                            a(href='#') Reselling
                        li.m-navbar__list-item
                            a(href='#') Design
                        li.m-navbar__list-item
                            a(href='#') Xibo for Android
                        li.m-navbar__list-item
                            a(href='#') Development

                .m-navbar__footer
                    .m-navbar__login
                        a.cta-btn-login(href='#')
                            | Log in
                    .m-navbar__twitter
                        a(href='#')
                            img(src='img/svg/Home/icon_home_git_dark.svg', alt='twitter')
                            | Follow us


        //ned mobile navbar



        // END NAVBAR


        //MAIN

        .about

            //VIDEO PLAYER MODAL

            .video-player-modal
                span.close-video-player
                    img(src='img/svg/Help/icon_help_close.svg')
                .video-player-wrapper
                    iframe(width='100%', height='100%', src='https://www.youtube.com/embed/jqIXnyL8B1k', frameborder='0', allowfullscreen='')


            //END VIDEO PLAYER MODAL

            // HEADER

            .header.header--about
                .container-fluid.header__container.header__container--about

                    .row.header__row.header__row--about

                        .col-md-6.header__column-left.header__column-left--about
                            h1.page-title
                                | Xibo Open Source
                                | Digital Signage
                            p.paragraph-big
                                | Community driven with 7 years development behind us;
                                | Xibo is a web content management system and native
                                | signage players.

                            .header__buttons-row.header__buttons-row--about

                                .header__buttons-item.header__buttons-item--icon.hidden-xs
                                    a.cta-btn-medium.cta-btn-medium--orange-border(href='#')
                                        img(src='img/svg/About/icon_about_play_orange.svg')
                                        | SEE HOW IT WORKS

                                .header__buttons-item
                                    a.cta-btn-medium.cta-btn-medium--orange-bg(href='#')
                                        | TRY FREE XIBO

                        .col-md-6.header__column-right
                            .header__video-box
                                img(src='img/about-header.png')
                                span.header__play-video-icon
                                    img(src='img/svg/Android/icon_android_play.svg')

            // END HEADER


            // FEATURES CAROUSEL

            .about__features-carousel

                .container.about__features-carousel__container

                    .section-title
                        h2.title-big Features
                        p.paragraph-big
                            | Xibo is packed with features to make authoring your content quick and simple.

                    //1

                    .about__features-carousel__item

                        .about__features-carousel__card

                            .row.about__features-carousel__card-row

                                .col-md-6.col-md-push-6.about__features-carousel__card-column

                                    ul.nav.nav-tabs.about__features-carousel__tabs
                                        li.active
                                            a(href='#design', data-toggle='tab')
                                                b Design
                                                span.visible-sm.visible-xs.m-title.m-title--about Design your layouts
                                                span.paragraph-small.hidden-sm.hidden-xs
                                                    | Create Layouts for all of your design ideas,
                                                    | split the screen how you want and drop in Widgets
                                                    | to show your video, images and text.
                                                    | Powerful widgets integrate content from 3rd parties
                                                    | to keep your display fresh and up to date.
                                        li
                                            a(href='#preview', data-toggle='tab')
                                                b Preview
                                                span.visible-sm.visible-xs.m-title.m-title--about Design your layouts2
                                                span.paragraph-small.hidden-sm.hidden-xs
                                                    | Bring your design to life in the browser and see how
                                                    | it will look on screen. Play it through from start
                                                    | to finish to get the complete picture.
                                        li
                                            a(href='#templates', data-toggle='tab')
                                                b Templates
                                                span.visible-sm.visible-xs.m-title.m-title--about Design your layouts3
                                                span.paragraph-small.hidden-sm.hidden-xs
                                                    | Save your finished creation for reuse later,
                                                    | to share with others or to present a consistent
                                                    | corporate branding. Quickly build new layouts from
                                                    | templates for a smooth workflow.


                                .col-md-6.col-md-pull-6.about__features-carousel__card-column

                                    .tab-content
                                        #design.tab-pane.active
                                            h3.title-medium.hidden-sm.hidden-xs Design your layouts
                                            p.paragraph-small.visible-sm.visible-xs
                                                | Bring your design to life in the browser and see how
                                                | it will look on screen. Play it through from start
                                                | to finish to get the complete picture.
                                            img(src='img/about-f1.png')

                                        #preview.tab-pane
                                            h3.title-medium.hidden-sm.hidden-xs Design your layouts
                                            p.paragraph-small.visible-sm.visible-xs
                                                | Bring your design to life in the browser and see how
                                                | it will look on screen. Play it through from start
                                                | to finish to get the complete picture.
                                            img(src='img/about-f2.png')

                                        #templates.tab-pane
                                            h3.title-medium.hidden-sm.hidden-xs Design your layouts
                                            p.paragraph-small.visible-sm.visible-xs
                                                | Bring your design to life in the browser and see how
                                                | it will look on screen. Play it through from start
                                                | to finish to get the complete picture.
                                            img(src='img/about-f3.png')


                    //2

                    .about__features-carousel__item

                        .about__features-carousel__card

                            .row.about__features-carousel__card-row

                                .col-md-6.about__features-carousel__card-column

                                    ul.nav.nav-tabs.about__features-carousel__tabs
                                        li.active
                                            a(href='#scheduling', data-toggle='tab')
                                                b Scheduling
                                                span.visible-sm.visible-xs.m-title.m-title--about Schedule your Content1
                                                span.paragraph-small.hidden-sm.hidden-xs
                                                    | One off, repeating and always-on events,
                                                    | Xibo has everything covered.
                                                    | Split your calendar into pre-defined
                                                    | Dayparting for ultimate ease of Scheduling.
                                        li
                                            a(href='#campaigns', data-toggle='tab')
                                                b Campaigns
                                                span.visible-sm.visible-xs.m-title.m-title--about Schedule your Content2
                                                span.paragraph-small.hidden-sm.hidden-xs
                                                    | Add Layouts to Campaigns to ensure they
                                                    | are shown in a certain order and
                                                    | to make scheduling easier.
                                        li
                                            a(href='#priority', data-toggle='tab')
                                                b Priority
                                                span.visible-sm.visible-xs.m-title.m-title--about Schedule your Content3
                                                span.paragraph-small.hidden-sm.hidden-xs
                                                    | Give each Schedule a priority
                                                    | so that you can be sure your messages
                                                    | are shown at the right time,
                                                    | alongside complimentary Layouts.


                                .col-md-6.about__features-carousel__card-column

                                    .tab-content
                                        #scheduling.tab-pane.active
                                            h3.title-medium.hidden-sm.hidden-xs Schedule your Content1
                                            p.paragraph-small.visible-sm.visible-xs
                                                | Bring your design to life in the browser and see how
                                                | it will look on screen. Play it through from start
                                                | to finish to get the complete picture.
                                            img(src='img/about-f1.png')

                                        #campaigns.tab-pane
                                            h3.title-medium.hidden-sm.hidden-xs Schedule your Content2
                                            p.paragraph-small.visible-sm.visible-xs
                                                | Bring your design to life in the browser and see how
                                                | it will look on screen. Play it through from start
                                                | to finish to get the complete picture.
                                            img(src='img/about-f2.png')

                                        #priority.tab-pane
                                            h3.title-medium.hidden-sm.hidden-xs Schedule your Content3
                                            p.paragraph-small.visible-sm.visible-xs
                                                | Bring your design to life in the browser and see how
                                                | it will look on screen. Play it through from start
                                                | to finish to get the complete picture.
                                            img(src='img/about-f3.png')


                    //3

                    .about__features-carousel__item

                        .about__features-carousel__card

                            .row.about__features-carousel__card-row

                                .col-md-6.about__features-carousel__card-column

                                    .tab-content
                                        #admin.tab-pane.active
                                            h3.title-medium Manage your Network
                                            img(src='img/about-f1.png')

                                        #proof.tab-pane
                                            h3.title-medium Manage your Network
                                            img(src='img/about-f2.png')

                                        #groups.tab-pane
                                            h3.title-medium Manage your Network
                                            img(src='img/about-f3.png')

                                .col-md-6.about__features-carousel__card-column

                                    ul.nav.nav-tabs.about__features-carousel__tabs
                                        li.active
                                            a(href='#admin', data-toggle='tab')
                                                b Display Admin
                                                span.paragraph-small.hidden-sm.hidden-xs
                                                    | See all the Displays on your network
                                                    | in real-time and monitor their status.
                                                    | Collect diagnostic information,
                                                    | request a screenshot and send
                                                    | commands to be executed immediately.
                                        li
                                            a(href='#proof', data-toggle='tab')
                                                b Proof of Play
                                                span.paragraph-small.hidden-sm.hidden-xs
                                                    | Collect proof of play information
                                                    | from each Display so that you know
                                                    | your content has been shown.
                                                    | See this data by Layout or
                                                    | Widget in our powerful reports.
                                        li
                                            a(href='#groups', data-toggle='tab')
                                                b Groups
                                                span.paragraph-small.hidden-sm.hidden-xs
                                                    | Use Display Groups to organise your
                                                    | Displays into logical sets, then
                                                    | schedule and report on them.
                                                    | Nest Display Groups to create
                                                    | a hierarchy that best reflects your organisation.


                    //4

                    .about__features-carousel__item

                        .about__features-carousel__card

                            .row.about__features-carousel__card-row

                                .col-md-6.about__features-carousel__card-column

                                    ul.nav.nav-tabs.about__features-carousel__tabs
                                        li.active
                                            a(href='#users', data-toggle='tab')
                                                b Users
                                                span.paragraph-small.hidden-sm.hidden-xs
                                                    | Xibo’s built in User Authentication
                                                    | system keeps your content safe and secure,
                                                    | ensuring that only authenticated users have access.
                                                    | Enterprise users can use “single sign on”
                                                    | via SAML for integration with an existing user directory.
                                        li
                                            a(href='#groups2', data-toggle='tab')
                                                b Groups
                                                span.paragraph-small.hidden-sm.hidden-xs
                                                    | Add users to one or more Groups to
                                                    | effectively organise and grant system access.
                                        li
                                            a(href='#priority2', data-toggle='tab')
                                                b Priority
                                                span.paragraph-small.hidden-sm.hidden-xs
                                                    | Assign Users and User Groups permissions
                                                    | to all your user content and control exactly
                                                    | who is allowed to add/edit and delete those items.


                                .col-md-6.about__features-carousel__card-column

                                    .tab-content
                                        #users.tab-pane.active
                                            h3.title-medium User Access Control
                                            img(src='img/about-f1.png')

                                        #groups2.tab-pane
                                            h3.title-medium User Access Control
                                            img(src='img/about-f2.png')

                                        #priority2.tab-pane
                                            h3.title-medium User Access Control
                                            img(src='img/about-f3.png')




            // END FEATURES CAROUSEL


            // WIDGETS

            .about__widgets

                .container.about__widgets__container

                    .section-title
                        h2.title-big Widgets
                        p.paragraph-big
                            | Easily add our powerful widgets to your Layouts
                            | to show your content and seamlessly
                            | integrate dynamic third party
                            | information from a variety of sources.

                    table.about__widgets__table
                        tr
                            th
                                span Widget
                            th
                                span Windows
                                img(src='img/svg/About/icon_download_windows_blue.svg')
                            th
                                span Ubuntu
                                img(src='img/svg/About/icon_about_ubuntu.svg')
                            th
                                span Android
                                img(src='img/svg/About/icon_about_android.svg')

                        tr
                            td Images
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')

                        tr
                            td Video
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td Flash
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                            td
                        tr
                            td Html
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td Webpages
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td Weather
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td RTSP Streams
                            td
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td TLS Streams
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td Audio
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td Powerpoint
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                            td
                        tr
                            td RS232
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td Clocks
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td Traffic
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td Shell commands
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td Stocks
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td Currencies
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td CSV
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td Custom Fonts
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td RSS/Atom
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td Media RSS
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                        tr
                            td Custom Widgets
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')
                            td
                                img(src='img/svg/About/icon_about_check_blue.svg')


            // END WIDGETS



            // SOFTWARE

            .about__software
                .container.about__software__container

                    .section-title
                        h2.title-big Intelligently Designed Software
                        p.paragraph-big
                            | Designed with simplicity in mind, choose from Docker or Cloud
                            | installations and start using Xibo in minutes.

                    h3.title-medium.text-center
                        | It all fits together with ease.

                    .row.about__software__row

                        .col-md-5.about__software__column
                            img(src='img/svg/About/icon_about_cms.svg')
                            h4.title-small Content management system

                            p.paragraph-small
                                | The Content Management System (CMS)
                                | is the heart of the Xibo Solution.
                                br
                                br
                                | Manage your digital signage content
                                | with ease and deploy from anywhere
                                | in the comfort of your web browser.


                        .col-md-5.col-md-offset-2.about__software__column
                            img(src='img/svg/About/icon_about_signage-player.svg')
                            h4.title-small Signage players

                            p.paragraph-small
                                | Turn a TV, projector or dedicated panel into
                                | a signage player by adding a device running
                                | one of our native Player applications.


            // END SOFTWARE



            // CONFIG

            .about__config
                .container.about__config__container

                    .about__config__card

                        ul.nav.nav-tabs.about__config__tabs
                            li.active
                                a.cta-btn-big.cms-btn(href='#cms', data-toggle='tab') Content management system
                            li
                                a.cta-btn-big.signage-btn(href='#signage-players', data-toggle='tab') Signage players

                        .tab-content
                            #cms.tab-pane.active

                                .cms-top.about__config

                                    .row

                                        .col-sm-6
                                            h3.title-medium
                                                | Content Management
                                                | System
                                            p.paragraph-small
                                                | The Xibo CMS is a web application
                                                | which runs on Docker or our
                                                | Xibo in the Cloud platform.

                                        .col-sm-6
                                            .image-box
                                                img(src='img/svg/About/icon_about_cms_gradient.svg')

                                .cms-bottom

                                    .row

                                        .col-sm-6
                                            h3.title-medium.title-medium--blue Self-hosted
                                            p.paragraph-small.paragraph-small--blue
                                                | Use our super easy Docker installation
                                                | to run on a server with Docker installed.

                                            .list.list-blue

                                                p.paragraph-small.list-title
                                                    | Requirenments:
                                                ul
                                                    li Docker CE 1.7.1+
                                                    li Docker Compose 1.5+
                                                    li Shell Access

                                            a.cta-btn-medium.cta-btn-small--blue-bg(href='#') DOWNLOAD XIBO


                                        .col-sm-6
                                            h3.title-medium.title-medium--orange Cloud
                                            p.paragraph-small
                                                | Get peace of mind by running your CMS
                                                | on our Cloud Hosting, called Xibo in the Cloud.

                                            .list.list-orange

                                                ul
                                                    li Deploy in minutes
                                                    li Commercial support included
                                                    li HTTPS enabled as standard
                                                    li One-click CMS Upgrades
                                                    li Routine daily backups
                                                    li Scaling up as your network grows
                                                    li Access anywhere

                                            a.cta-btn-medium.cta-btn-medium--orange-bg(href='#') LEARN MORE


                            #signage-players.tab-pane

                                .row

                                    .col-md-4
                                        .card

                                            h3.title-medium Xibo for Windows
                                            img(src='img/svg/About/icon_download_windows_blue.svg')
                                            p.paragraph-small
                                                | Our signage player for windows
                                                | is a native windows application
                                                | available for Windows 7
                                                | and higher.
                                                br
                                                br
                                                | Run the windows installer, tell
                                                | the player your CMS connection
                                                | information and you're done.
                                            a.cta-btn-medium.cta-btn-small--blue-bg(href='#') DOWNLOAD

                                    .col-md-4
                                        .card
                                            h3.title-medium Xibo for Ubuntu
                                            img(src='img/svg/About/icon_about_ubuntu.svg')
                                            p.paragraph-small
                                                | We're hard at work bringing
                                                | back the Ubuntu Player!
                                                br
                                                br
                                                | Xibo used to run on Ubuntu
                                                | and we're very sorry we had
                                                | to discontinue that Player.
                                                br
                                                br
                                                | We are working hard to bring
                                                | it back and hope to have
                                                | a player available late 2017.

                                    .col-md-4
                                        .card
                                            h3.title-medium Xibo for Android
                                            img(src='img/svg/About/icon_about_android.svg')
                                            p.paragraph-small
                                                | Built for the Xibo CMS, runs
                                                | on Android.
                                                br
                                                | Our
                                                a(href='#')  commercial
                                                |  player runs
                                                | on Android 4.4 or higher and
                                                | brings Xibo to Android!
                                                br
                                                | It is a native android application,
                                                | lovingly optimized for stability
                                                |  and performance.
                                            a.cta-btn-medium.cta-btn-medium--green-bg(href='#') LEARN MORE


            // END CONFIG

        //END MAIN


        // FOOTER

        footer.footer
            .container.footer__container

                .footer__row

                    .footer__column
                        img(src='img/spring-signage_logo_white.svg', alt='spring signage')
                        p.text-small
                            | 36 Church Street - Ground Floor,
                            | North Laine, Brighton, BN 1 1RL
                        span.footer__registered.text-small
                            | Registered company: 07811749
                        span.footer__copyright.text-small
                            | © 2017 Spring Signage LTD

                    .footer__column.visible-xs
                        span.footer__registered.footer__registered--mobile.text-small
                            | Registered company: 07811749

                    .footer__column
                        h3.title-medium
                            | Product
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Home
                            li.footer__list-item
                                a(href='#') About
                            li.footer__list-item
                                a(href='#') Download
                            li.footer__list-item
                                a(href='#') Xibo for Android
                            li.footer__list-item
                                a(href='#') Shop

                    .footer__column
                        h3.title-medium
                            | Company
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Hosting
                            li.footer__list-item
                                a(href='#') Development
                            li.footer__list-item
                                a(href='#') Design
                            li.footer__list-item
                                a(href='#') Reseller
                            li.footer__list-item
                                a(href='#') Terms
                            li.footer__list-item
                                a(href='#') Privacy Policy

                    .footer__column
                        h3.title-medium
                            | Help
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Help Page
                            li.footer__list-item
                                a(href='#') User Manual
                            li.footer__list-item
                                a(href='#') Blog
                            li.footer__list-item
                                a(href='#') Community Forum
                            li.footer__list-item
                                a(href='#') Knowledge Base
                            li.footer__list-item
                                a(href='#') Youtube Channel

                    .footer__column
                        h3.title-medium
                            | Stay in touch
                        a.footer__cta.cta-btn-small.cta-btn-small--blue-bg
                            | CONTACT US
                            img(src='img/svg/Home/icon_footer_envelope.svg', alt='message')
                        ul.footer__social-links
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_facebook_blue.svg', alt='facebook')
                                    img(src='img/svg/Home/icon_footer_facebook.svg', alt='facebook')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_twitter_blue.svg', alt='twitter')
                                    img(src='img/svg/Home/icon_footer_twitter.svg', alt='twitter')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_google_blue.svg', alt='google')
                                    img(src='img/svg/Home/icon_footer_google.svg', alt='google')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_rss_blue.svg', alt='rss')
                                    img(src='img/svg/Home/icon_footer_rss.svg', alt='rss')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_youtube_blue.svg', alt='youtube')
                                    img(src='img/svg/Home/icon_footer_youtube.svg', alt='youtube')

        // END FOOTER



        // JQuery
        script(src='https://code.jquery.com/jquery-3.2.1.min.js',
        integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=',
        crossorigin='anonymous')

        // Bootstrap JS
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
        crossorigin='anonymous')

        //Owl carousel
        script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js')

        script(src='js/jquery.mousewheel.min.js')

        // Custom JS
        script(src='js/custom.min.js')

        // owl carousel


