doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // Bootstrap CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
        rel='stylesheet',
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u',
        crossorigin='anonymous')
        //end

        //fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i',
        rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900',
        rel='stylesheet')
        //end

        // Main CSS
        link(href='css/main.min.css' rel='stylesheet')
        //end

        title Design

    body

        // NAVBAR

        //desktop navbar

        nav.navbar.navbar-default.navbar-fixed-top.design-nav-bg(role='navigation')

            .container-fluid

                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        img(src='img/xibo-logo.svg', alt='logo')

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='#') Home
                        li
                            a(href='#') About
                        li
                            a(href='#') Download
                        li
                            a(href='#') Shop
                        li
                            a(href='#') Help
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Services
                                i.glyphicon.glyphicon-menu-down
                            ul.dropdown-menu
                                li.dropdown-triangle
                                    img(src='img/svg/Home/icon_header_triangle.svg')
                                li
                                    a(href='#') Cloud hosting
                                        img(src='img/svg/Home/icon_home_cloud_blue.svg')
                                        img(src='img/svg/Home/icon_home_cloud_dark.svg')
                                        span Simple, reliable, scalable Xibo CMS Cloud Hosting
                                li
                                    a(href='#') Development
                                        img(src='img/svg/Home/icon_home_development_blue.svg')
                                        img(src='img/svg/Home/icon_home_development_dark.svg')
                                        span Sponsor the development of a new feature or bug fix
                                li
                                    a(href='#') Design
                                        img(src='img/svg/Home/icon_home_design_blue.svg')
                                        img(src='img/svg/Home/icon_home_design_dark.svg')
                                        span Outsource your design work to our experts
                                li
                                    a(href='#') Reselling
                                        img(src='img/svg/Home/icon_home_reselling_blue.svg')
                                        img(src='img/svg/Home/icon_home_reselling_dark.svg')
                                        span Considering Xibo as the foundation for your business?
                                li
                                    a(href='#') Xibo for Android
                                        img(src='img/svg/Home/icon_home_android_blue.svg')
                                        img(src='img/svg/Home/icon_home_android_dark.svg')
                                        span Built for the Xibo CMS, runs on Android
                    ul.nav.navbar-nav.navbar-right
                        li.navbar-twitter
                            a(href='#')
                                img(src='img/svg/Home/icon_header_git.svg', alt='twitter')
                                | Follow us
                        li.navbar-login
                            a.cta-btn-login(href='#') Log in
                        li.navbar-cart
                            a(href='#')
                                img(src='img/svg/Home/icon_header_cart.svg', alt='cart')
                                span 2

        //end desktop navbar


        //mobile navbar

        nav.m-navbar

            .m-navbar__top

                .m-navbar__logo
                    a(href='#')
                        img(src='img/logo.png', alt='logo')
                .m-navbar__toggle
                    span

            .m-navbar__popup

                span.m-navbar__close-popup
                    img(src='img/svg/Help/icon_help_close.svg', alt='close')

                ul.m-navbar__list
                    li.m-navbar__list-item
                        a(href='#') Home
                    li.m-navbar__list-item
                        a(href='#') Shop
                    li.m-navbar__list-item
                        a(href='#') About
                    li.m-navbar__list-item
                        a(href='#') Help
                    li.m-navbar__list-item
                        a(href='#') Download

                .m-navbar__services
                    h5.m-title Services

                    ul.m-navbar__list.m-navbar__list--services
                        li.m-navbar__list-item
                            a(href='#') Hosting
                        li.m-navbar__list-item
                            a(href='#') Reselling
                        li.m-navbar__list-item
                            a(href='#') Design
                        li.m-navbar__list-item
                            a(href='#') Xibo for Android
                        li.m-navbar__list-item
                            a(href='#') Development

                .m-navbar__footer
                    .m-navbar__login
                        a.cta-btn-login(href='#')
                            | Log in
                    .m-navbar__twitter
                        a(href='#')
                            img(src='img/svg/Home/icon_home_git_dark.svg', alt='twitter')
                            | Follow us


        //ned mobile navbar



        // END NAVBAR


        //MAIN

        .design

            // HEADER

            .header.header--design
                .container-fluid.header__container.header__container--design

                    .row.header__row

                        .col-md-6.header__column-left
                            h1.page-title Design Services
                            p.paragraph-big
                                | Outsource your design work to our experts

                        .col-md-6.header__column-right
                            .header__card
                                p.paragraph-big Want to discuss your project?
                                a.cta-btn-medium.cta-btn-medium--blue-bg(href='#') TALK TO US

            // END HEADER


            // FEATURES

            .features
                .container.features__container

                    .row.features__description-image

                        .col-md-4.features__description-image__column-left.features__description-image__column-left--design
                            img(src='img/svg/Design/icon_design_design.svg', alt='icon')
                        .col-md-8.features__description-image__column-right
                            p.paragraph-big
                                | You’ve picked great software to run your Digital Signage network, now you need
                                | to design your layouts to get your message across. Our professional design team
                                | can help you turn your ideas into layouts that pop.
                                br
                                br
                                | Our designers know how to get the best from the Xibo software. They can design
                                | your layouts for you, giving them a professional touch.

            // END FEATURES


            // SERVICES

            .design__services

                //1

                .design__services__item

                    .container.design__services__container

                        .row.design__services__row

                            .col-md-8.col-md-push-4.design__services__column-image
                                img(src='img/img_reselling_header-cover.jpg')

                            .col-md-4.col-md-pull-8.design__services__column-text
                                .design__services__icon.design__services__icon--first
                                    img(src='img/svg/Design/icon_design_template-design.svg')
                                p.paragraph-big Template Design
                                p.paragraph-small
                                    | We can take your ideas and requirements,
                                    | and make reusable layout templates
                                    | that look great.

                //2

                .design__services__item

                    .container.design__services__container

                        .row.design__services__row

                            .col-md-8.design__services__column-image.design__services__column-image--middle
                                img(src='img/img_reselling_header-cover.jpg')

                            .col-md-4.design__services__column-text
                                .design__services__icon.design__services__icon--second
                                    img(src='img/svg/Design/icon_design_layout-creation.svg')
                                p.paragraph-big Layout Creation
                                p.paragraph-small
                                    | Want your content added to the mix?
                                    | We can do that for you as well,
                                    | delivering complete working layouts.

                //3

                .design__services__item

                    .container.design__services__container

                        .row.design__services__row

                            .col-md-8.col-md-push-4.design__services__column-image
                                img(src='img/img_reselling_header-cover.jpg')

                            .col-md-4.col-md-pull-8.design__services__column-text
                                .design__services__icon.design__services__icon--third
                                    img(src='img/svg/Design/icon_design_media-services.svg')
                                p.paragraph-big Media Services
                                p.paragraph-small
                                    | Already have content or media that
                                    | needs to be adapted for use in Xibo? We can help!

            // END SERVICES


            // PORTFOLIO

            .design__portfolio

                .container.design__portfolio__container

                    .section-title

                        h2.title-big Portfolio
                        p.paragraph-big
                            | You can see our works here

                    //custom row, not bootstrap .row. CSS flex.
                    .row.design__portfolio__row

                        .col-md-6.design__portfolio__column.design__portfolio__column--left

                            .design__portfolio__item.design__portfolio__item--big
                                a(href='#')
                                    img(src='img/design-portfolio1.png')

                        .col-md-6.design__portfolio__column.design__portfolio__column--right

                            .row.design__portfolio__inside-row

                                .col-md-12.design__portfolio__item.design__portfolio__item--wide
                                    a(href='#')
                                        img(src='img/design-portfolio1.png')

                                .col-md-5.design__portfolio__item.design__portfolio__item--small
                                    a(href='#')
                                        img(src='img/img_reselling_header-cover.jpg')

                                .col-md-7.design__portfolio__item.design__portfolio__item--medium
                                    a(href='#')
                                        img(src='img/img_development_header-cover.jpg')

            // END PORTFOLIO


            // GET A QUOTE

            .design__get-quote
                .container.design__get-quote__container
                    .section-title
                        h2.title-big Discuss your project with our team today
                        p.paragraph-big
                            | We’ll collect your requirements, and offer you a fixed price for your project, so there’s
                            | no hidden costs or unpleasant surprises. If you host with Spring Signage, or your CMS
                            | is accessible via the Internet, we can deliver your templates or layouts directly to your
                            | CMS so they’re ready to go!

                    form.form-user.form-user--design
                        label.error-field
                            input.form-control(type='text', placeholder='First name')
                        label.success-field
                            input.form-control(type='text', placeholder='Last name')
                        label
                            input.form-control(type='text', placeholder='Subject', disabled)
                        label
                            textarea.form-control(placeholder='Message')
                        button.cta-btn-medium.cta-btn-medium--blue-bg(type='submit')
                            | GET A QUOTE

            //END GET A QUOTE



        //END MAIN


        // FOOTER

        footer.footer
            .container.footer__container

                .footer__row

                    .footer__column
                        img(src='img/spring-signage_logo_white.svg', alt='spring signage')
                        p.text-small
                            | 36 Church Street - Ground Floor,
                            | North Laine, Brighton, BN 1 1RL
                        span.footer__registered.text-small
                            | Registered company: 07811749
                        span.footer__copyright.text-small
                            | © 2017 Spring Signage LTD

                    .footer__column.visible-xs
                        span.footer__registered.footer__registered--mobile.text-small
                            | Registered company: 07811749

                    .footer__column
                        h3.title-medium
                            | Product
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Home
                            li.footer__list-item
                                a(href='#') About
                            li.footer__list-item
                                a(href='#') Download
                            li.footer__list-item
                                a(href='#') Xibo for Android
                            li.footer__list-item
                                a(href='#') Shop

                    .footer__column
                        h3.title-medium
                            | Company
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Hosting
                            li.footer__list-item
                                a(href='#') Development
                            li.footer__list-item
                                a(href='#') Design
                            li.footer__list-item
                                a(href='#') Reseller
                            li.footer__list-item
                                a(href='#') Terms
                            li.footer__list-item
                                a(href='#') Privacy Policy

                    .footer__column
                        h3.title-medium
                            | Help
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Help Page
                            li.footer__list-item
                                a(href='#') User Manual
                            li.footer__list-item
                                a(href='#') Blog
                            li.footer__list-item
                                a(href='#') Community Forum
                            li.footer__list-item
                                a(href='#') Knowledge Base
                            li.footer__list-item
                                a(href='#') Youtube Channel

                    .footer__column
                        h3.title-medium
                            | Stay in touch
                        a.footer__cta.cta-btn-small.cta-btn-small--blue-bg
                            | CONTACT US
                            img(src='img/svg/Home/icon_footer_envelope.svg', alt='message')
                        ul.footer__social-links
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_facebook_blue.svg', alt='facebook')
                                    img(src='img/svg/Home/icon_footer_facebook.svg', alt='facebook')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_twitter_blue.svg', alt='twitter')
                                    img(src='img/svg/Home/icon_footer_twitter.svg', alt='twitter')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_google_blue.svg', alt='google')
                                    img(src='img/svg/Home/icon_footer_google.svg', alt='google')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_rss_blue.svg', alt='rss')
                                    img(src='img/svg/Home/icon_footer_rss.svg', alt='rss')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_youtube_blue.svg', alt='youtube')
                                    img(src='img/svg/Home/icon_footer_youtube.svg', alt='youtube')

        // END FOOTER



        // JQuery
        script(src='https://code.jquery.com/jquery-3.2.1.min.js',
        integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=',
        crossorigin='anonymous')

        // Bootstrap JS
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
        crossorigin='anonymous')

        // Custom JS
        script(src='js/custom.min.js')

