doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // Bootstrap CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
        rel='stylesheet',
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u',
        crossorigin='anonymous')
        //end

        //fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i',
        rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900',
        rel='stylesheet')
        //end

        // Main CSS
        link(href='css/main.min.css' rel='stylesheet')
        //end

        title Download

    body

        // NAVBAR

        //desktop navbar

        nav.navbar.navbar-default.navbar-fixed-top.download-nav-bg(role='navigation')

            .container-fluid

                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        img(src='img/xibo-logo.svg', alt='logo')

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='#') Home
                        li
                            a(href='#') About
                        li
                            a(href='#') Download
                        li
                            a(href='#') Shop
                        li
                            a(href='#') Help
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Services
                                i.glyphicon.glyphicon-menu-down
                            ul.dropdown-menu
                                li.dropdown-triangle
                                    img(src='img/svg/Home/icon_header_triangle.svg')
                                li
                                    a(href='#') Cloud hosting
                                        img(src='img/svg/Home/icon_home_cloud_blue.svg')
                                        img(src='img/svg/Home/icon_home_cloud_dark.svg')
                                        span Simple, reliable, scalable Xibo CMS Cloud Hosting
                                li
                                    a(href='#') Development
                                        img(src='img/svg/Home/icon_home_development_blue.svg')
                                        img(src='img/svg/Home/icon_home_development_dark.svg')
                                        span Sponsor the development of a new feature or bug fix
                                li
                                    a(href='#') Design
                                        img(src='img/svg/Home/icon_home_design_blue.svg')
                                        img(src='img/svg/Home/icon_home_design_dark.svg')
                                        span Outsource your design work to our experts
                                li
                                    a(href='#') Reselling
                                        img(src='img/svg/Home/icon_home_reselling_blue.svg')
                                        img(src='img/svg/Home/icon_home_reselling_dark.svg')
                                        span Considering Xibo as the foundation for your business?
                                li
                                    a(href='#') Xibo for Android
                                        img(src='img/svg/Home/icon_home_android_blue.svg')
                                        img(src='img/svg/Home/icon_home_android_dark.svg')
                                        span Built for the Xibo CMS, runs on Android
                    ul.nav.navbar-nav.navbar-right
                        li.navbar-twitter
                            a(href='#')
                                img(src='img/svg/Home/icon_header_git.svg', alt='twitter')
                                | Follow us
                        li.navbar-login
                            a.cta-btn-login(href='#') Log in
                        li.navbar-cart
                            a(href='#')
                                img(src='img/svg/Home/icon_header_cart.svg', alt='cart')
                                span 2

        //end desktop navbar


        //mobile navbar

        nav.m-navbar

            .m-navbar__top

                .m-navbar__logo
                    a(href='#')
                        img(src='img/logo.png', alt='logo')
                .m-navbar__toggle
                    span

            .m-navbar__popup

                span.m-navbar__close-popup
                    img(src='img/svg/Help/icon_help_close.svg', alt='close')

                ul.m-navbar__list
                    li.m-navbar__list-item
                        a(href='#') Home
                    li.m-navbar__list-item
                        a(href='#') Shop
                    li.m-navbar__list-item
                        a(href='#') About
                    li.m-navbar__list-item
                        a(href='#') Help
                    li.m-navbar__list-item
                        a(href='#') Download

                .m-navbar__services
                    h5.m-title Services

                    ul.m-navbar__list.m-navbar__list--services
                        li.m-navbar__list-item
                            a(href='#') Hosting
                        li.m-navbar__list-item
                            a(href='#') Reselling
                        li.m-navbar__list-item
                            a(href='#') Design
                        li.m-navbar__list-item
                            a(href='#') Xibo for Android
                        li.m-navbar__list-item
                            a(href='#') Development

                .m-navbar__footer
                    .m-navbar__login
                        a.cta-btn-login(href='#')
                            | Log in
                    .m-navbar__twitter
                        a(href='#')
                            img(src='img/svg/Home/icon_home_git_dark.svg', alt='twitter')
                            | Follow us


        //ned mobile navbar



        // END NAVBAR


        //MAIN

        .download

            // HEADER

            .header.header--download
                .container-fluid.header__container.header__container--download

                    .row.header__row

                        .col-md-8.header__column-left.header__column-left--download
                            h1.page-title Get Xibo Digital Signage
                            p.paragraph-big.left-bordered-text
                                | Current Release
                                span 1.8.1

                        .col-md-4.header__column-right.header__column-right--download
                            p.paragraph-big Find us on Github
                            p.paragraph-small
                                | Our new development happens in the open
                                | on Github and the latest installable code can
                                | be downloaded from our release archives.
                                br
                                a(href='#') Source link

            // END HEADER


            // STEP 1

            .download__step-one
                .container.download__step-one__container

                    .section-title
                        h2.title-big
                            |Get started with Xibo you need a CMS
                            | and at least 1 signage player



                    .row.download__step-one__row

                        //left

                        .col-md-6.download__step-one__column

                            .download__step-one__card.download__step-one__card--left

                                .row.download__step-one__row-inside.download__step-one__row-inside--top

                                    .col-md-5.download__step-one__column-inside
                                        p.paragraph-small.download__step-rounded
                                            | Step
                                            span.title-big 1

                                    .col-md-7.download__step-one__column-inside
                                        .download__steps-card-title
                                            h3.title-medium Download CMS
                                            p.paragraph-small Run on your own servers
                                        a.popup-link.popup-link--requirements(href='#') What are the requirements?

                                .row.download__step-one__row-inside.download__step-one__row-inside--bottom

                                    .col-md-7.download__step-one__column-inside

                                        a.cta-btn-medium.cta-btn-medium--blue-bg(href='#') START DOWNLOAD

                                    .col-md-3.download__step-one__column-inside
                                        p.paragraph-small
                                            | And follow

                                            a(href='#') the installiation guide

                                //popup

                                .download__popup.download__popup--requirements
                                    img(src='img/svg/Home/icon_header_triangle.svg')
                                    .popup-content
                                        p.popup-title
                                            | Requirenments:

                                        ul
                                            li.paragraph-small Docker CE 1.7.1+
                                            li.paragraph-small Docker Compose 1.5+
                                            li.paragraph-small Shell Access
                                            li.paragraph-small
                                                | SSL Certificates - we strongly
                                                | recommend using SSL
                                            li.paragraph-small
                                                | Backup provision - don’t forget
                                                | to backup your data

                                //end


                        //right

                        .col-md-6.download__step-one__column

                            .download__step-one__card.download__step-one__card--right

                                .download__step-one__card-icon
                                    img(src='img/svg/Download/icon_download_cloud_orange.svg')

                                .download__steps-card-title.download__steps-card-title--cloud
                                    h3.title-medium Xibo in the Cloud
                                    p.paragraph-small
                                        | We host your CMS on our Cloud
                                        | platform from only

                                p.download__step-one__price.page-title £1.20
                                    span.text-big per month per display
                                a.cta-btn-medium.cta-btn-medium--orange-bg(href='#') LEARN MORE
                                .download__step-one__popup-btn
                                    a.text-big.popup-link.popup-link--benefits(href='#') What are the benefits?

                                //popup

                                .download__popup.download__popup--benefits
                                    img(src='img/svg/Home/icon_header_triangle.svg')
                                    .popup-content
                                        p.popup-title
                                            | What are the benefits?

                                        ul
                                            li.paragraph-small Deploy in minutes
                                            li.paragraph-small 14 day free trial - no credit card required
                                            li.paragraph-small
                                                | £1.20 per display slot per month, billed
                                                | annually (+VAT)
                                            li.paragraph-small
                                                | SSL Certificates - we strongly
                                                | recommend using SSL
                                            li.paragraph-small
                                                | Backup provision - don’t forget
                                                | to backup your data

                                //end

            // END STEP 1


            // STEP 2

            .download__step-two
                .container.download__step-two__container

                    .download__step-two__card

                        .download__step-two__card-body

                            .row.download__step-two__row-top

                                .col-md-2.download__step-two__column

                                    p.paragraph-small.download__step-rounded.download__step-rounded--step2
                                        | Step
                                        span.title-big 2

                                .col-md-6.download__step-two__column

                                    .download__steps-card-title
                                        h3.title-medium Download a Signage Player
                                        p.paragraph-small
                                            | Choose a native Windows application or
                                            | our commercial player for Android

                            .row.download__step-two__row-bottom

                                //1

                                .col-md-4.download__step-two__item

                                    h3.title-medium Xibo for Windows

                                    .download__step-two__item-card

                                        .download__step-two__item-header
                                            .download__step-two__item-icon
                                                img(src='img/svg/Download/icon_download_windows_blue.svg')
                                            span.download__step-two__price-label.download__step-two__price-label--free
                                                | Free

                                        p.paragraph-small
                                            | Our signage player for windows
                                            | is a native windows application
                                            | available for Windows 7
                                            | and higher.
                                            br
                                            br
                                            | Run the windows installer, tell
                                            | the player your CMS connection
                                            | information and you're done.
                                            br
                                            br
                                            | Packed with
                                            a(href='')  Features.
                                            br
                                            | Requires .NET Framework 4.5,
                                            | Windows Media Player and
                                            | Internet Explorer 11.

                                        a.cta-btn-medium.cta-btn-medium--blue-bg(href='#')
                                            | START DOWNLOAD

                                        p.text-big
                                            | And follow
                                            a(href='#')  the installiation guide

                                //2

                                .col-md-4.download__step-two__item.download__step-two__item--disabled

                                    h3.title-medium Xibo for Ubuntu

                                    .download__step-two__item-card

                                        .download__step-two__item-header
                                            .download__step-two__item-icon
                                                img(src='img/svg/Download/icon_download_ubuntu.svg')
                                            span.download__step-two__price-label.download__step-two__price-label--soon
                                                | COMING SOON

                                        p.paragraph-small
                                            | We are working hard to bring
                                            | the Xibo Ubuntu Player back
                                            | and hope to have a player
                                            | available late 2017.

                                //3

                                .col-md-4.download__step-two__item
                                    h3.title-medium Xibo for Android

                                    .download__step-two__item-card

                                        .download__step-two__item-header
                                            .download__step-two__item-icon
                                                img(src='img/svg/Download/icon_download_android.svg')
                                            span.download__step-two__price-label.download__step-two__price-label--lowest
                                                | LOWEST TCO

                                        p.paragraph-small
                                            | Built for the Xibo CMS our
                                            a(href='')  commercial
                                            |   player runs on
                                            | Android 4.4 or higher and
                                            | brings Xibo to Android!
                                            br
                                            br
                                            | It is a native android application,
                                            | lovingly optimized for stability
                                            | and performance.
                                            br
                                            br
                                            | Simple one-time £15 GBP +VAT
                                            | client
                                            a(href='#')  licence fee
                                            |  per major version.
                                            br
                                            br
                                            | Commercial support for the
                                            | Player application as standard.

                                        a.cta-btn-medium.cta-btn-medium--green-bg.cta-btn-medium--green-border(href='#')
                                            | LEARN MORE

                        //step2 footer

                        .download__step-two__card-footer
                            p.paragraph-small
                                | First time using Xibo? Check the Installation Guides for
                                a(href='#')  Windows
                                |  and
                                a(href='#')  Android

            // END STEP2


            // HELP

            .download__help
                .container.download__help__container

                    .section-title
                        h2.title-big Need help installing Xibo CMS?

                    .row.download__help__row

                        .col-sm-6.download__help__column

                            .download__help__card.download__help__card--left

                                h3.title-medium Let us install the CMS

                                ul.download__help__list

                                    li.download__help__list-item
                                        | Get a VPS from one of our
                                        | recommended suppliers
                                        br
                                        | (running Ubuntu 16.04 LTS 64 bit)
                                    li.download__help__list-item
                                        | Provide us the access details
                                    li.download__help__list-item
                                        | We’ll install Xibo for you, with
                                        | SSL support via LetsEncrypt

                                a.cta-btn-medium.cta-btn-medium--orange-bg(href='#') LEARN MORE



                        .col-sm-6.download__help__column

                            .download__help__card.download__help__card--right

                                h3.title-medium Let us install the CMS

                                p.paragraph-small
                                    | Our help page guides you through
                                    | the support options available

                                a.cta-btn-medium(href='#') HELP PAGE

                                p.paragraph-small
                                    | Our help page guides you through
                                    | the support options available

                                a.cta-btn-medium.cta-btn-medium--blue-bg(href='#') USER MANUAL

            // END HELP



            // FEATURES

            .features
                .container.features__container.features__container--download

                    .section-title
                        h2.title-big The easiest way is to use Xibo in the Cloud
                        p.paragraph-big Simple, reliable, scalable Xibo CMS Cloud Hosting


                    .row.features__row

                        .col-md-4.features__item
                            .features__card.features__card--bordered
                                .features__card-icon.features__card-icon--download1
                                    img(src='img/svg/Download/icon_download_cms_white.svg', alt='icon')
                                h4.title-small CMS
                                p.paragraph-small
                                    | Full featured Xibo CMS, ready in 10 minutes.

                        .col-md-4.features__item
                            .features__card.features__card--shadowed
                                .features__card-icon.features__card-icon--download2
                                    img(src='img/svg/Download/icon_download_price.svg', alt='icon')
                                h4.title-small Price
                                p.paragraph-small
                                    | £1.20 GBP per display slot per month, billed annually.
                                    br
                                    br
                                    | 500MB library storage, 2GB monthly bandwidth per display slot.

                        .col-md-4.features__item
                            .features__card.features__card--bordered
                                .features__card-icon.features__card-icon--download3
                                    img(src='img/svg/Download/icon_download_service.svg', alt='icon')
                                h4.title-small Service
                                p.paragraph-small
                                    | Managed service, expert support,
                                    | first class global network.

                        .col-md-12.features__cta-container
                            a.cta-btn-medium.cta-btn-medium--blue-bg(href='#') LEARN MORE

            // END FEATURES


        //END MAIN


        // FOOTER

        footer.footer
            .container.footer__container

                .footer__row

                    .footer__column
                        img(src='img/spring-signage_logo_white.svg', alt='spring signage')
                        p.text-small
                            | 36 Church Street - Ground Floor,
                            | North Laine, Brighton, BN 1 1RL
                        span.footer__registered.text-small
                            | Registered company: 07811749
                        span.footer__copyright.text-small
                            | © 2017 Spring Signage LTD

                    .footer__column.visible-xs
                        span.footer__registered.footer__registered--mobile.text-small
                            | Registered company: 07811749

                    .footer__column
                        h3.title-medium
                            | Product
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Home
                            li.footer__list-item
                                a(href='#') About
                            li.footer__list-item
                                a(href='#') Download
                            li.footer__list-item
                                a(href='#') Xibo for Android
                            li.footer__list-item
                                a(href='#') Shop

                    .footer__column
                        h3.title-medium
                            | Company
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Hosting
                            li.footer__list-item
                                a(href='#') Development
                            li.footer__list-item
                                a(href='#') Design
                            li.footer__list-item
                                a(href='#') Reseller
                            li.footer__list-item
                                a(href='#') Terms
                            li.footer__list-item
                                a(href='#') Privacy Policy

                    .footer__column
                        h3.title-medium
                            | Help
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Help Page
                            li.footer__list-item
                                a(href='#') User Manual
                            li.footer__list-item
                                a(href='#') Blog
                            li.footer__list-item
                                a(href='#') Community Forum
                            li.footer__list-item
                                a(href='#') Knowledge Base
                            li.footer__list-item
                                a(href='#') Youtube Channel

                    .footer__column
                        h3.title-medium
                            | Stay in touch
                        a.footer__cta.cta-btn-small.cta-btn-small--blue-bg
                            | CONTACT US
                            img(src='img/svg/Home/icon_footer_envelope.svg', alt='message')
                        ul.footer__social-links
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_facebook_blue.svg', alt='facebook')
                                    img(src='img/svg/Home/icon_footer_facebook.svg', alt='facebook')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_twitter_blue.svg', alt='twitter')
                                    img(src='img/svg/Home/icon_footer_twitter.svg', alt='twitter')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_google_blue.svg', alt='google')
                                    img(src='img/svg/Home/icon_footer_google.svg', alt='google')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_rss_blue.svg', alt='rss')
                                    img(src='img/svg/Home/icon_footer_rss.svg', alt='rss')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_youtube_blue.svg', alt='youtube')
                                    img(src='img/svg/Home/icon_footer_youtube.svg', alt='youtube')

        // END FOOTER



        // JQuery
        script(src='https://code.jquery.com/jquery-3.2.1.min.js',
        integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=',
        crossorigin='anonymous')

        // Bootstrap JS
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
        crossorigin='anonymous')

        // Custom JS
        script(src='js/custom.min.js')

        script.
            var popupPosY = function () {
                var popupBenLinkY = $('.download .popup-link--benefits').offset().top + 50;
                var parentBenY = $('.download__step-one__card--right').offset().top;
                var popupReqLinkY = $('.download .popup-link--requirements').offset().top + 38;
                var parentReqY = $('.download__step-one__card--left').offset().top;
                var sumTopBen = popupBenLinkY - parentBenY;
                var sumTopReq = popupReqLinkY - parentReqY;
                $('.download__popup--benefits').css({
                    'top': sumTopBen
                });
                $('.download__popup--requirements').css({
                    'top': sumTopReq
                });
            };
            popupPosY();
            $(window).resize(function () {
                popupPosY();
            });


