doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // Bootstrap CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
        rel='stylesheet',
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u',
        crossorigin='anonymous')
        //end

        //fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i',
        rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900',
        rel='stylesheet')
        //end

        // Main CSS
        link(href='css/main.min.css' rel='stylesheet')
        //end

        title Help

    body

        // NAVBAR

        //desktop navbar

        nav.navbar.navbar-default.navbar-fixed-top.help-nav-bg(role='navigation')

            .container-fluid

                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        img(src='img/xibo-logo.svg', alt='logo')

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='#') Home
                        li
                            a(href='#') About
                        li
                            a(href='#') Download
                        li
                            a(href='#') Shop
                        li
                            a(href='#') Help
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Services
                                i.glyphicon.glyphicon-menu-down
                            ul.dropdown-menu
                                li.dropdown-triangle
                                    img(src='img/svg/Home/icon_header_triangle.svg')
                                li
                                    a(href='#') Cloud hosting
                                        img(src='img/svg/Home/icon_home_cloud_blue.svg')
                                        img(src='img/svg/Home/icon_home_cloud_dark.svg')
                                        span Simple, reliable, scalable Xibo CMS Cloud Hosting
                                li
                                    a(href='#') Development
                                        img(src='img/svg/Home/icon_home_development_blue.svg')
                                        img(src='img/svg/Home/icon_home_development_dark.svg')
                                        span Sponsor the development of a new feature or bug fix
                                li
                                    a(href='#') Design
                                        img(src='img/svg/Home/icon_home_design_blue.svg')
                                        img(src='img/svg/Home/icon_home_design_dark.svg')
                                        span Outsource your design work to our experts
                                li
                                    a(href='#') Reselling
                                        img(src='img/svg/Home/icon_home_reselling_blue.svg')
                                        img(src='img/svg/Home/icon_home_reselling_dark.svg')
                                        span Considering Xibo as the foundation for your business?
                                li
                                    a(href='#') Xibo for Android
                                        img(src='img/svg/Home/icon_home_android_blue.svg')
                                        img(src='img/svg/Home/icon_home_android_dark.svg')
                                        span Built for the Xibo CMS, runs on Android
                    ul.nav.navbar-nav.navbar-right
                        li.navbar-twitter
                            a(href='#')
                                img(src='img/svg/Home/icon_header_git.svg', alt='twitter')
                                | Follow us
                        li.navbar-login
                            a.cta-btn-login(href='#') Log in
                        li.navbar-cart
                            a(href='#')
                                img(src='img/svg/Home/icon_header_cart.svg', alt='cart')
                                span 2

        //end desktop navbar


        //mobile navbar

        nav.m-navbar

            .m-navbar__top

                .m-navbar__logo
                    a(href='#')
                        img(src='img/logo.png', alt='logo')
                .m-navbar__toggle
                    span

            .m-navbar__popup

                span.m-navbar__close-popup
                    img(src='img/svg/Help/icon_help_close.svg', alt='close')

                ul.m-navbar__list
                    li.m-navbar__list-item
                        a(href='#') Home
                    li.m-navbar__list-item
                        a(href='#') Shop
                    li.m-navbar__list-item
                        a(href='#') About
                    li.m-navbar__list-item
                        a(href='#') Help
                    li.m-navbar__list-item
                        a(href='#') Download

                .m-navbar__services
                    h5.m-title Services

                    ul.m-navbar__list.m-navbar__list--services
                        li.m-navbar__list-item
                            a(href='#') Hosting
                        li.m-navbar__list-item
                            a(href='#') Reselling
                        li.m-navbar__list-item
                            a(href='#') Design
                        li.m-navbar__list-item
                            a(href='#') Xibo for Android
                        li.m-navbar__list-item
                            a(href='#') Development

                .m-navbar__footer
                    .m-navbar__login
                        a.cta-btn-login(href='#')
                            | Log in
                    .m-navbar__twitter
                        a(href='#')
                            img(src='img/svg/Home/icon_home_git_dark.svg', alt='twitter')
                            | Follow us


        //ned mobile navbar



        // END NAVBAR


        //MAIN

        .help

            // HEADER

            .header.header--help
                .container-fluid.header__container.header__container--help

                    .row.header__row

                        .col-md-6.header__column-left
                            h1.page-title Help and Support

                        .col-md-6.header__column-right
                            p.paragraph-big
                                | No matter which flavour of Xibo you have, you've got
                                | us to help you along the way. Use the tiles below to get
                                | the right support for you.

            // END HEADER


            // SELF HOSTED

            .help__self-hosted

                .container.help__self-hosted__container

                    .section-title
                        h2.title-big For Self-Hosted Users
                        p.paragraph-big
                            | Xibo has a thriving Open Source community and a dedicated
                            | team employed by the project’s sponsor.
                            | Choose from the below options to get the help you need.

                    .row.help__self-hosted__row

                        .col-md-6.help__self-hosted__column

                            .help__self-hosted__card
                                img(src='img/svg/Help/icon_help_user-manual.svg')
                                h3.title-medium User Manual
                                p.paragraph-small
                                    | The first place to look for documentation,
                                    | guides and advice, the Xibo Manual
                                    | is a comprehensive, step by step,
                                    | explanation of all the concepts in Xibo.

                                a.cta-btn-medium(href='#') GET HELP


                        .col-md-6.help__self-hosted__column

                            .help__self-hosted__card.help__self-hosted__card--community-support
                                img(src='img/svg/Help/icon_help_community-support.svg')
                                h3.title-medium Community support
                                p.paragraph-small
                                    | Each question in our community is treated
                                    | with care and will be answered by the team
                                    | or the community as quickly as possible.
                                    | We have categories for Support, Features
                                    | and General Discussion.
                                    br
                                    br
                                    | There are extensive archives to look through
                                    | with answers to thousands of existing questions.

                                a.cta-btn-medium(href='#') FIND THE ANSWER

                        .col-md-12.help__self-hosted__notigication-container

                            .help__self-hosted__notification-card
                                .help__self-hosted__notification-card-icon
                                    img(src='img/svg/Help/icon_help_youtube.svg')
                                p.paragraph-small
                                    | Visit our YouTube channel for training videos,
                                    | how-tos and more.
                                .help__self-hosted__notification-card-btn
                                    a.cta-btn-medium(href='#') OUR CHANNEL

            // END SELF HOSTED


            //COMMERCIAL

            .help__commercial

                .container.help__commercial__container

                    .section-title
                        h2.title-big For Commercial Users
                        p.paragraph-big
                            | Deploying digital signage in your environment
                            | can be daunting, no matter
                            | what size or scope the installation.
                            | If you need assistance our Help Desk is
                            | open 24/7 for new tickets andis monitored
                            | by our support team Monday
                            | to Friday, 8AM to 4:30PM GMT.

                    .row.help__commercial__row

                        .col-md-6.help__commercial__column.help__commercial__column--left

                            .help__commercial__card

                                .help__commercial__card-content
                                    img(src='img/svg/Help/icon_help_cloud-android.svg')
                                    h3.title-medium For Cloud and Android users
                                    p.paragraph-small
                                        | Xibo in the Cloud and Xibo for Android come
                                        | with our standard support service - contact us
                                        | here for help with any problems you might have.

                                .help__commercial__card-buttons
                                    a.cta-btn-medium.cta-btn-medium--blue-bg(href='#')
                                        | OPEN A TICKET
                                    a.cta-btn-medium(href='#')
                                        | CHECK STATUS


                        .col-md-6.help__commercial__column

                            .help__commercial__card

                                .help__commercial__card-content
                                    img(src='img/svg/Help/icon_help_enterprise.svg')
                                    h3.title-medium Enterprise Support
                                    p.paragraph-small
                                        | Open a ticket below if you are an Enterprise
                                        | Support contract holder.
                                        br
                                        a(href='#')  Contact Us
                                        |  if you are interested in commercial
                                        | support but don’t currently hold a support contract.

                                .help__commercial__card-buttons
                                    a.cta-btn-medium.cta-btn-medium--blue-bg(href='#')
                                        | OPEN A TICKET
                                    a.cta-btn-medium(href='#')
                                        | CHECK STATUS


            //END COMMERCIAL


            .help__faq
                .container.help__faq__container
                    .section-title
                        h2.title-big Frequently Asked Questions

                    #accordion.panel-group.help__faq__accordion
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a.title-medium(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                                        | What is Digital Signage?
                            #collapseOne.panel-collapse.collapse.in
                                .panel-body
                                    p.paragraph-small
                                        | Yes! Xibo is free software and released under an Open Source licence - the AGPLv3.
                                        br
                                        br
                                        | Along our journey we realised that there is a lot more to Digital Signage than software - we wanted
                                        | the opportunity to provide value added products and services which are totally optional, but also
                                        | useful to someone deploying a Xibo solution. These are the commercial services listed on this website,
                                        | such as Cloud hosting, Android players and Enterprise support.
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a.title-medium(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                                        | Is Xibo free?
                            #collapseTwo.panel-collapse.collapse
                                .panel-body
                                    p.paragraph-small
                                        | Yes! Xibo is free software and released under an Open Source licence - the AGPLv3.
                                        br
                                        br
                                        | Along our journey we realised that there is a lot more to Digital Signage than software - we wanted
                                        | the opportunity to provide value added products and services which are totally optional, but also
                                        | useful to someone deploying a Xibo solution. These are the commercial services listed on this website,
                                        | such as Cloud hosting, Android players and Enterprise support.
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a.title-medium(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                                        | Is there a knowledge base? Where can I find it?
                            #collapseThree.panel-collapse.collapse
                                .panel-body
                                    p.paragraph-small
                                        | Yes! Xibo is free software and released under an Open Source licence - the AGPLv3.
                                        br
                                        br
                                        | Along our journey we realised that there is a lot more to Digital Signage than software - we wanted
                                        | the opportunity to provide value added products and services which are totally optional, but also
                                        | useful to someone deploying a Xibo solution. These are the commercial services listed on this website,
                                        | such as Cloud hosting, Android players and Enterprise support.
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a.title-medium(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
                                        | If I buy something, who am I buying from?
                            #collapseFour.panel-collapse.collapse
                                .panel-body
                                    p.paragraph-small
                                        | Yes! Xibo is free software and released under an Open Source licence - the AGPLv3.
                                        br
                                        br
                                        | Along our journey we realised that there is a lot more to Digital Signage than software - we wanted
                                        | the opportunity to provide value added products and services which are totally optional, but also
                                        | useful to someone deploying a Xibo solution. These are the commercial services listed on this website,
                                        | such as Cloud hosting, Android players and Enterprise support.





        //END MAIN


        // FOOTER

        footer.footer
            .container.footer__container

                .footer__row

                    .footer__column
                        img(src='img/spring-signage_logo_white.svg', alt='spring signage')
                        p.text-small
                            | 36 Church Street - Ground Floor,
                            | North Laine, Brighton, BN 1 1RL
                        span.footer__registered.text-small
                            | Registered company: 07811749
                        span.footer__copyright.text-small
                            | © 2017 Spring Signage LTD

                    .footer__column.visible-xs
                        span.footer__registered.footer__registered--mobile.text-small
                            | Registered company: 07811749

                    .footer__column
                        h3.title-medium
                            | Product
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Home
                            li.footer__list-item
                                a(href='#') About
                            li.footer__list-item
                                a(href='#') Download
                            li.footer__list-item
                                a(href='#') Xibo for Android
                            li.footer__list-item
                                a(href='#') Shop

                    .footer__column
                        h3.title-medium
                            | Company
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Hosting
                            li.footer__list-item
                                a(href='#') Development
                            li.footer__list-item
                                a(href='#') Design
                            li.footer__list-item
                                a(href='#') Reseller
                            li.footer__list-item
                                a(href='#') Terms
                            li.footer__list-item
                                a(href='#') Privacy Policy

                    .footer__column
                        h3.title-medium
                            | Help
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Help Page
                            li.footer__list-item
                                a(href='#') User Manual
                            li.footer__list-item
                                a(href='#') Blog
                            li.footer__list-item
                                a(href='#') Community Forum
                            li.footer__list-item
                                a(href='#') Knowledge Base
                            li.footer__list-item
                                a(href='#') Youtube Channel

                    .footer__column
                        h3.title-medium
                            | Stay in touch
                        a.footer__cta.cta-btn-small.cta-btn-small--blue-bg
                            | CONTACT US
                            img(src='img/svg/Home/icon_footer_envelope.svg', alt='message')
                        ul.footer__social-links
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_facebook_blue.svg', alt='facebook')
                                    img(src='img/svg/Home/icon_footer_facebook.svg', alt='facebook')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_twitter_blue.svg', alt='twitter')
                                    img(src='img/svg/Home/icon_footer_twitter.svg', alt='twitter')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_google_blue.svg', alt='google')
                                    img(src='img/svg/Home/icon_footer_google.svg', alt='google')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_rss_blue.svg', alt='rss')
                                    img(src='img/svg/Home/icon_footer_rss.svg', alt='rss')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_youtube_blue.svg', alt='youtube')
                                    img(src='img/svg/Home/icon_footer_youtube.svg', alt='youtube')

        // END FOOTER



        // JQuery
        script(src='https://code.jquery.com/jquery-3.2.1.min.js',
        integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=',
        crossorigin='anonymous')

        // Bootstrap JS
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
        crossorigin='anonymous')

        // Custom JS
        script(src='js/custom.min.js')

