doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // Bootstrap CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
        rel='stylesheet',
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u',
        crossorigin='anonymous')
        //end

        //fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i',
        rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900',
        rel='stylesheet')
        //end

        //owl carousel
        link(href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css',
        rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css',
        rel='stylesheet')
        //end

        // Main CSS
        link(href='css/main.min.css' rel='stylesheet')
        //end

        title Home

    body

        // NAVBAR

        //desktop navbar

        nav.navbar.navbar-default.navbar-fixed-top.home-nav-bg(role='navigation')

            .container-fluid

                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        img(src='img/xibo-logo.svg', alt='logo')

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='#') Home
                        li
                            a(href='#') About
                        li
                            a(href='#') Download
                        li
                            a(href='#') Shop
                        li
                            a(href='#') Help
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Services
                                i.glyphicon.glyphicon-menu-down
                            ul.dropdown-menu
                                li.dropdown-triangle
                                    img(src='img/svg/Home/icon_header_triangle.svg')
                                li
                                    a(href='#') Cloud hosting
                                        img(src='img/svg/Home/icon_home_cloud_blue.svg')
                                        img(src='img/svg/Home/icon_home_cloud_dark.svg')
                                        span Simple, reliable, scalable Xibo CMS Cloud Hosting
                                li
                                    a(href='#') Development
                                        img(src='img/svg/Home/icon_home_development_blue.svg')
                                        img(src='img/svg/Home/icon_home_development_dark.svg')
                                        span Sponsor the development of a new feature or bug fix
                                li
                                    a(href='#') Design
                                        img(src='img/svg/Home/icon_home_design_blue.svg')
                                        img(src='img/svg/Home/icon_home_design_dark.svg')
                                        span Outsource your design work to our experts
                                li
                                    a(href='#') Reselling
                                        img(src='img/svg/Home/icon_home_reselling_blue.svg')
                                        img(src='img/svg/Home/icon_home_reselling_dark.svg')
                                        span Considering Xibo as the foundation for your business?
                                li
                                    a(href='#') Xibo for Android
                                        img(src='img/svg/Home/icon_home_android_blue.svg')
                                        img(src='img/svg/Home/icon_home_android_dark.svg')
                                        span Built for the Xibo CMS, runs on Android
                    ul.nav.navbar-nav.navbar-right
                        li.navbar-twitter
                            a(href='#')
                                img(src='img/svg/Home/icon_header_git.svg', alt='twitter')
                                | Follow us
                        li.navbar-login
                            a.cta-btn-login(href='#', data-toggle='modal', data-target='#login-modal') Log in
                        li.navbar-cart
                            a(href='#')
                                img(src='img/svg/Home/icon_header_cart.svg', alt='cart')
                                span 2

        //end desktop navbar


        //mobile navbar

        nav.m-navbar

            .m-navbar__top

                .m-navbar__logo
                    a(href='#')
                        img(src='img/logo.png', alt='logo')
                .m-navbar__toggle
                    span

            .m-navbar__popup

                span.m-navbar__close-popup
                    img(src='img/svg/Help/icon_help_close.svg', alt='close')

                ul.m-navbar__list
                    li.m-navbar__list-item
                        a(href='#') Home
                    li.m-navbar__list-item
                        a(href='#') Shop
                    li.m-navbar__list-item
                        a(href='#') About
                    li.m-navbar__list-item
                        a(href='#') Help
                    li.m-navbar__list-item
                        a(href='#') Download

                .m-navbar__services
                    h5.m-title Services

                    ul.m-navbar__list.m-navbar__list--services
                        li.m-navbar__list-item
                            a(href='#') Hosting
                        li.m-navbar__list-item
                            a(href='#') Reselling
                        li.m-navbar__list-item
                            a(href='#') Design
                        li.m-navbar__list-item
                            a(href='#') Xibo for Android
                        li.m-navbar__list-item
                            a(href='#') Development

                .m-navbar__footer
                    .m-navbar__login
                        a.cta-btn-login(href='#', data-toggle='modal', data-target='#login-modal')
                            | Log in
                    .m-navbar__twitter
                        a(href='#')
                            img(src='img/svg/Home/icon_home_git_dark.svg', alt='twitter')
                            | Follow us


        //ned mobile navbar

        // END NAVBAR


        //MODALS

        //login

        #login-modal.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    form.form-user

                        h2.title-big Log in
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true')
                                img(src='img/svg/Help/icon_help_close.svg', alt='close')

                        label
                            input.form-control(type='email', placeholder='Email')
                        label
                            input.form-control(type='password', placeholder='Password')

                        .form-group
                            label.checkbox
                                input(type='checkbox')
                                | Remember me
                            a.hidden-xs(href='#', data-toggle='modal', data-target='#forgot-pwd-modal')
                                | Forgot your password?

                        button.cta-btn-auth.cta-btn-auth--blue-bg(type='submit') Log in to your account
                        a.visible-xs(href='#', data-toggle='modal', data-target='#forgot-pwd-modal')
                            | Forgot your password?

                        p.text-big.modal-bottom
                            | Not a member yet?
                            a.redirect(href='#', data-toggle='modal', data-target='#signup-modal')  Sign up


        // sign up
        #signup-modal.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    form.form-user

                        h2.title-big Sign up
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true')
                                img(src='img/svg/Help/icon_help_close.svg', alt='close')

                        label.success-field
                            input.form-control(type='text', placeholder='First Name')
                        label
                            input.form-control(type='text', placeholder='Last Name')
                        label
                            input.form-control(type='email', placeholder='Your Email')
                        label
                            input.form-control(type='password', placeholder='Password')

                        button.cta-btn-auth.cta-btn-auth--blue-bg(type='submit') Create an account
                        p.text-big
                            | Already have an account?
                            a.redirect(href='#') Sign in

                        p.text-big.modal-bottom
                            | By signing up to Xibo you are accepting our
                            br
                            a(href='#') terms and conditions

        //forgot password

        #forgot-pwd-modal.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    form.form-user
                        h2.title-big Forgot your password?
                        p.paragraph-big
                            | Don't worry! Just fill in your email and
                            | we'll help you reset your password.
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true')
                                img(src='img/svg/Help/icon_help_close.svg', alt='close')

                        label
                            input.form-control(type='email', placeholder='Enter your Email')

                        button.cta-btn-auth.cta-btn-auth--blue-bg(type='submit') Send an email
                        p.text-big.modal-bottom
                            | Back to
                            a.redirect(href='#')  Log in

        //END MODALS


        //MAIN

        .home

            // HEADER

            .header.header--home
                .container-fluid.header__container.header__container--home

                    .row.header__row.header__row--home

                        .col-md-5.header__column-left.header__column-left--home
                            h1.page-title
                                | Xibo Open Source
                                | Digital Signage
                            p.paragraph-big
                                | We power digital signage networks worldwide
                                | on Windows and Android screens

                            .header__buttons-row.header__buttons-row--home

                                .header__buttons-item
                                    a.cta-btn-medium.cta-btn-small--blue-bg(href='#')
                                        | LEARN MORE

                                .header__buttons-item.hidden-xs
                                    a.cta-btn-medium(href='#')
                                        | GET XIBO

                            p.paragraph-small.left-bordered-text
                                | Player available on
                                span
                                    img(src='img/svg/Home/icon_home_windows.svg')
                                    img(src='img/svg/Home/icon_home_android.svg')

                        .col-md-7.header__column-right
                            .header__image.header__image--home
                                img(src='img/home-header.png')

            // END HEADER


            // FEATURES

            .features
                .container.features__container.features__container--home

                    .section-title
                        h2.title-big Why you should be using Digital Signage
                        p.paragraph-big
                            | It is impossible to avoid engaging with Digital Signage throughout everyday life; be it waiting for
                            | the train, popping to the shops, or at work. We’re all used to seeing digital signage in society and
                            | a location without a sign is starting to stand out!
                            br
                            br
                            | Xibo Digital Signage is a low-cost, high performance solution to launch your business, workplace
                            | or organisation into the future. Xibo doesn’t just replicate print media, but actively increases
                            | engagement allowing you to deliver your message more effectively than ever before.


                    .row.features__row.features__row--home

                        .col-md-4.features__item
                            .features__card.features__card--shadowed
                                .features__card-icon.features__card-icon--home1
                                    img(src='img/svg/Home/icon_home_engage.svg', alt='icon')
                                h4.title-small Engage
                                p.paragraph-small
                                    | Go beyond fixed images and text, create engaging displays to wow
                                    | your audience.
                                    br
                                    br
                                    | Grab their attention, and hold it for longer.

                        .col-md-4.features__item
                            .features__card
                                .features__card-icon.features__card-icon--home2
                                    img(src='img/svg/Home/icon_home_update.svg', alt='icon')
                                h4.title-small Update
                                p.paragraph-small
                                    | Keep your message fresh by changing content instantly,
                                    | or on a schedule, whenever and from wherever you want.

                        .col-md-4.features__item
                            .features__card
                                .features__card-icon.features__card-icon--home3
                                    img(src='img/svg/Home/icon_home_save.svg', alt='icon')
                                h4.title-small Save
                                p.paragraph-small
                                    | Don’t waste time and money on traditional print media.
                                    br
                                    br
                                    | Always up to date and relevant, without the hassle of print and distribution.

            // END FEATURES


            // HOME FEATURES

            .home__features-home

                //top

                .home__features-home-top

                    .container.home__features-home-top__container

                        .section-title
                            h2.title-big Features
                            p.paragraph-big
                                | Xibo offers you enterprise-grade features,
                                | without the enterprise price tag.
                                | ave a look at some of the key features that Xibo offers,
                                | that can get you on the road to creating impressive,
                                | engaging digital signs to drive your message home.

                        .row.home__features-home-top__row

                            .col-md-7.home__features-home-top__column
                                img(src='img/mack-book-air.png')

                            .col-md-5.home__features-home-top__column
                                h3.title-medium Create your Content
                                p.paragraph-small
                                    | Easily layout your content and add live information from
                                    | the web using Xibo's Widgets. There’s no limit to the number
                                    | of screen designs you can build using the simple drag and
                                    | drop designer, which offers a wide range of media support.
                                    br
                                    br
                                    | Integrate third party content such as current weather, traffic,
                                    | RSS feeds, streaming video, or web sites, and mix them in
                                    | with your own to create a seamless design.


                //middle

                .home__features-home-middle

                    .container.home__features-home-middle__container

                        .row.home__features-home-middle__row

                            .col-md-6.col-md-push-6.home__features-home-middle__column
                                img(src='img/home-features-macbook.png')

                            .col-md-6.col-md-pull-6.home__features-home-middle__column
                                h3.title-medium Schedule to your Screens
                                p.paragraph-small
                                    | Using the Xibo calendar you can schedule your creations
                                    |  to your screens. Choose from simple or advanced scheduling
                                    | with always on, repeating and dayparting capabilities.
                                    | Schedule with a click of a button; what you want, where and
                                    | when you want it.
                                    br
                                    br
                                    | Make scheduling even easier by organising your Layouts
                                    | into Campaigns, or throw up a design right after you’ve
                                    | finished it with Schedule Now.


                //bottom

                .home__features-home-bottom

                    .container.home__features-home-bottom__container

                        .row.home__features-home-bottom__row

                            .col-md-7.home__features-home-bottom__column
                                img(src='img/home-features-ipad.png')

                            .col-md-5.home__features-home-bottom__column
                                h3.title-medium Manage your Network
                                p.paragraph-small
                                    | Make sure your message is being received. Monitor your
                                    | network of screens and see the status of each one, check
                                    | proof of play data and view diagnostic information.
                                    | Keep things running smoothly, straight from your web browser.
                                    br
                                    br
                                    | Use Display Groups to organise your network into logical
                                    | sections, which can be nested or created automatically from
                                    | a search query, to help you get the right content to the right
                                    | screens with minimal effort.

            // END HOME FEATURES


            // OPEN SOURCE

            .home__open-source

                .container.home__open-source__container

                    .home__open-source__more-features-btn
                        a.cta-btn-medium.cta-btn-small--blue-bg(href='#') MORE FEATURES

                    .section-title
                        h2.title-big Open Source
                        p.paragraph-big Community driven with over 7 years development behind us.

                    .row.home__open-source__row

                        .col-md-6.home__open-source__column

                            p.paragraph-small
                                | We're committed to keeping Xibo Open Source. Everything you need
                                | to run your digital signage network with Xibo is Open Source and will always be Open Source.
                                br
                                br
                                | Open Source is great, but it can sometimes be a little daunting to tackle a new piece of software all alone. The project offers some commercial products and services designed to help you on your journey, all of which are completely optional.
                                br
                                br
                                | By choosing any of our commercial services, you are enabling the ongoing development and maintenance of the project by enabling
                                | us to employ great developers, support staff and infrastructure.

                        .col-md-6.home__open-source__column

                            p.paragraph-small
                                | You can choose Xibo with complete confidence.
                                br
                                | Download the code and do with it as you will in accordance with our AGPLv3 licence.

                            .home__open-source__links
                                a.home__open-source__link-licence(href='#')
                                    img(src='img/svg/Home/img_home_agpl.png')
                                a.home__open-source__link-github(href='#')
                                    img(src='img/svg/Home/github-big-logo.svg')

            // END OPEN SOURCE



            // TESTIMONIALS

            .home__testimonials

                .container.home__testimonials__container

                    .section-title
                        h2.title-big Testimonials
                        p.paragraph-big
                            span 9,058 customers in
                            span  138
                            |  countries are using Xibo

                    .home__testimonials__card

                        .owl-carousel.carousel-testimonials.owl-theme

                            .text
                                p.paragraph-small.testimonials-item-title
                                    | 1 Xibo is an
                                    b  amazing
                                    |  tool!
                                p.paragraph-small
                                    | Open Source is great, but it can sometimes be a little
                                    | daunting to tackle a new piece of software all alone.
                                    | The project offers some commercial products and services
                                    | designed to help you on your journey,
                                    | all of which are completely optional.

                            .text
                                p.paragraph-small.testimonials-item-title
                                    | 2 Xibo is an
                                    b  amazing
                                    |  tool!
                                p.paragraph-small
                                    | Open Source is great, but it can sometimes be a little
                                    | daunting to tackle a new piece of software all alone.
                                    | The project offers some commercial products and services
                                    | designed to help you on your journey,
                                    | all of which are completely optional.

                            .text
                                p.paragraph-small.testimonials-item-title
                                    | 3 Xibo is an
                                    b  amazing
                                    |  tool!
                                p.paragraph-small
                                    | Open Source is great, but it can sometimes be a little
                                    | daunting to tackle a new piece of software all alone.
                                    | The project offers some commercial products and services
                                    | designed to help you on your journey,
                                    | all of which are completely optional.

                            .text
                                p.paragraph-small.testimonials-item-title
                                    | 4 Xibo is an
                                    b  amazing
                                    |  tool!
                                p.paragraph-small
                                    | Open Source is great, but it can sometimes be a little
                                    | daunting to tackle a new piece of software all alone.
                                    | The project offers some commercial products and services
                                    | designed to help you on your journey,
                                    | all of which are completely optional.

                            .text
                                p.paragraph-small.testimonials-item-title
                                    | 5 Xibo is an
                                    b  amazing
                                    |  tool!
                                p.paragraph-small
                                    | Open Source is great, but it can sometimes be a little
                                    | daunting to tackle a new piece of software all alone.
                                    | The project offers some commercial products and services
                                    | designed to help you on your journey,
                                    | all of which are completely optional.


                        .owl-carousel.carousel-testimonials-img.owl-theme
                            .img-item
                                img(src='img/home-testimonials.png')
                                .author
                                    p.paragraph-big 1 Linda Warren
                                    p.text-small Co founder of Facebook
                            .img-item
                                img(src='img/home-testimonials.png')
                                .author
                                    p.paragraph-big 2 Linda Warren
                                    p.text-small Co founder of Facebook
                            .img-item
                                img(src='img/home-testimonials.png')
                                .author
                                    p.paragraph-big 3 Linda Warren
                                    p.text-small Co founder of Facebook
                            .img-item
                                img(src='img/home-testimonials.png')
                                .author
                                    p.paragraph-big 4 Linda Warren
                                    p.text-small Co founder of Facebook
                            .img-item
                                img(src='img/home-testimonials.png')
                                .author
                                    p.paragraph-big 5 Linda Warren
                                    p.text-small Co founder of Facebook


                    .home__testimonials__brands.owl-carousel
                        .home__testimonials__brands-item
                            a(href='#')
                                img(src='img/logos/ashton6thform.png')
                        .home__testimonials__brands-item
                            a(href='#')
                                img(src='img/logos/signagekorea.png')
                        .home__testimonials__brands-item
                            a(href='#')
                                img(src='img/logos/barton-peveril.png')
                        .home__testimonials__brands-item
                            a(href='#')
                                img(src='img/logos/openict.png')
                        .home__testimonials__brands-item
                            a(href='#')
                                img(src='img/logos/tilburg-hc.png')
                        .home__testimonials__brands-item
                            a(href='#')
                                img(src='img/logos/lemedisplay.png')
                        .home__testimonials__brands-item
                            a(href='#')
                                img(src='img/logos/tilburg-hc-gast.png')



            // END TESTIMONIALS


            // RUN NETWORK

            .home__run-network

                .container.home__run-network__container
                    .section-title
                        h2.title-big Run your network how you want

                    .row.home__run-network__row

                        .col-sm-6.home__run-network__column

                            .home__run-network__card

                                .home__run-network__card-icon.home__run-network__card-icon--icon1
                                    img(src='img/svg/Home/icon_home_self-host.svg')

                                .home__run-network__card-content
                                    h3.title-medium
                                        | Install Xibo on your own
                                        | server, using Docker
                                    p.paragraph-small
                                        | Everything you need to get up and running
                                        | is provided, with detailed documentation.
                                        | A few commands is all you need to install
                                        | Xibo on a Docker enabled server, we’ll even
                                        | tell you how to install Docker!
                                        br
                                        br
                                        | Our friendly Community support forum
                                        | is there if you need help.

                                .home__run-network__card-footer
                                    a.cta-btn-medium(href='#') GET FREE XIBO

                        .col-sm-6.home__run-network__column

                            .home__run-network__card

                                .home__run-network__card-icon.home__run-network__card-icon--icon2
                                    img(src='img/svg/Home/icon_home_cloud_white.svg')

                                .home__run-network__card-content
                                    h3.title-medium
                                        | The easiest way to use
                                        | Xibo is in the Cloud
                                    p.paragraph-small
                                        | Fully managed Cloud hosting for your
                                        | Xibo network, with support from the team
                                        | behind its development.
                                        br
                                        br
                                        | We can have your CMS up and running
                                        | in a few minutes, and keep it up to date
                                        | and performing at its best, all for a low
                                        | monthly cost.
                                .home__run-network__card-footer
                                    a.cta-btn-medium.cta-btn-medium--blue-bg(href='#') LEARN MORE


            // END RUN NETWORK



            //STATS

            .home__stats

                .container.home__stats__container

                    .section-title
                        h2.title-big Widely used
                        p.paragraph-big Numbers speak for themselves

                    .row.home__stats__row

                        .col-sm-4.home__stats__column
                            span.home__stats__count 6478
                            p.paragraph-big ACTIVE XIBO INSTALLS

                        .col-sm-4.home__stats__column
                            span.home__stats__count 43190
                            p.paragraph-big ACTIVE XIBO DISPLAYS
                        .col-sm-4.home__stats__column
                            span.home__stats__count 55345
                            p.paragraph-big XIBO INSTALLS EVER

            //END STATS


            //STORY

            .home__story

                .container-fluid.home__story__container

                    .row.home__story__row

                        .col-md-6.col-md-push-6.home__story__column.home__story__column--text

                            .section-title

                                h2.title-big Our Story
                                p.paragraph-big
                                    | Xibo began in 2004 as a university project, after
                                    | which it was released as Open Source software
                                    | under the AGPLv3.
                                    br
                                    br
                                    | Since being released the software has been used
                                    | worldwide in small business and large enterprise alike.
                                    br
                                    br
                                    | The project is supported by Spring Signage Ltd, who
                                    | offer full time development and support resources,
                                    | Xibo CMS Cloud Hosting, the Xibo for Android Signage
                                    | Player and other commercial services.
                                    br
                                    br
                                    | Drop in on the Xibo Community for a chat with us,
                                    | or contact us with your commercial enquiry.

                        .col-md-6.col-md-pull-6.home__story__column.home__story__column--image(style="background: url('img/home-story.png') no-repeat center/cover")

            //END STORY


            // TEAM

            .home__team

                .container.home__team__container

                    .section-title
                        h2.title-big Meet the Team

                    .home__team__row

                        .home__team__item

                            .home__team__item-content-left
                                .home__team__item-image
                                    img(src='img/home-team.png')
                                .home__team__item-links
                                    a(href='#')
                                        img(src='img/svg/Home/icon_home_git_dark.svg')
                                    a(href='#')
                                        img(src='img/svg/Home/icon_home_linked-in_dark.svg')

                            .home__team__item-content-right
                                h3.title-medium Dan Garner
                                p.text-small DEVELOPMENT
                                p.paragraph-small
                                    | Here since the first line of Xibo code was written,
                                    | Dan is a full-stack web developer with 17 years experience.


                        .home__team__item

                            .home__team__item-content-left
                                .home__team__item-image
                                    img(src='img/home-team.png')
                                .home__team__item-links
                                    a(href='#')
                                        img(src='img/svg/Home/icon_home_git_dark.svg')
                                    a(href='#')
                                        img(src='img/svg/Home/icon_home_linked-in_dark.svg')

                            .home__team__item-content-right
                                h3.title-medium Dan Garner
                                p.text-small DEVELOPMENT
                                p.paragraph-small
                                    | Here since the first line of Xibo code was written,
                                    | Dan is a full-stack web developer with 17 years experience.
                                    br
                                    br
                                    | He has a particular interest in internal architecture and has some great ideas
                                    | for the future of Xibo.

                        .home__team__item

                            .home__team__item-content-left
                                .home__team__item-image
                                    img(src='img/home-team.png')
                                .home__team__item-links
                                    a(href='#')
                                        img(src='img/svg/Home/icon_home_git_dark.svg')
                                    a(href='#')
                                        img(src='img/svg/Home/icon_home_linked-in_dark.svg')

                            .home__team__item-content-right
                                h3.title-medium Dan Garner
                                p.text-small DEVELOPMENT
                                p.paragraph-small
                                    | Here since the first line of Xibo code was written,
                                    | Dan is a full-stack web developer with 17 years experience.
                                    br
                                    br
                                    | He has a particular interest in internal architecture and has some great ideas
                                    | for the future of Xibo.

                        .home__team__item

                            .home__team__item-content-left
                                .home__team__item-image
                                    img(src='img/home-team.png')
                                .home__team__item-links
                                    a(href='#')
                                        img(src='img/svg/Home/icon_home_git_dark.svg')
                                    a(href='#')
                                        img(src='img/svg/Home/icon_home_linked-in_dark.svg')

                            .home__team__item-content-right
                                h3.title-medium Dan Garner
                                p.text-small DEVELOPMENT
                                p.paragraph-small
                                    | Here since the first line of Xibo code was written,
                                    | Dan is a full-stack web developer with 17 years experience.
                                    br
                                    br
                                    | He has a particular interest in internal architecture and has some great ideas
                                    | for the future of Xibo.


            // END TEAM


            // COMMERCIAL

            .home__commercial

                .container.home__commercial__container

                    .section-title
                        h2.title-big Commercial Services
                        p.paragraph-big
                            | Running your digital signage network can be a daunting prospect.
                            br
                            br
                            | Even with great free software like Xibo and the Xibo Community
                            | it can be better to have someone to contact in a commercial capacity.
                            | We’re pleased to offer various commercial value added services
                            | to help you get the most out of your Digital Signage network.

                    .home__commercial__tabs-wrapper
                        span.home__commercial__m-select
                            img(src='img/svg/Home/icon_home_cloud_white.svg')
                            b Xibo in the Cloud
                        ul.nav.nav-tabs.home__commercial__tabs
                            li.active
                                a(href='#cloud', data-toggle='tab')
                                    img(src='img/svg/Home/icon_home_cloud_white.svg')
                                    img(src='img/svg/Home/icon_home_cloud_blue.svg')
                                    | Xibo in the Cloud
                            li
                                a(href='#development', data-toggle='tab')
                                    img(src='img/svg/Home/icon_home_development.svg')
                                    img(src='img/svg/Home/icon_home_development_blue.svg')
                                    | Development
                            li
                                a(href='#design', data-toggle='tab')
                                    img(src='img/svg/Home/icon_home_design.svg')
                                    img(src='img/svg/Home/icon_home_design_blue.svg')
                                    | Design
                            li
                                a(href='#reselling', data-toggle='tab')
                                    img(src='img/svg/Home/icon_home_reselling.svg')
                                    img(src='img/svg/Home/icon_home_reselling_blue.svg')
                                    | Reselling
                            li
                                a(href='#android', data-toggle='tab')
                                    img(src='img/svg/Home/icon_home_android.svg')
                                    img(src='img/svg/Home/icon_home_android_blue.svg')
                                    | Xibo for Android

                    .tab-content.home__commercial__tab-content

                        #cloud.tab-pane.active
                            .card
                                .row
                                    .col-md-4
                                        h3.title-medium Xibo in the Cloud1
                                        p.paragraph-small
                                            | Low cost, high performance Cloud Hosting for your Xibo CMS.
                                            | We've got you covered
                                            | if you don't want the hassle of running your own web server.
                                            br
                                            br
                                            | Exactly the same Xibo solution available worldwide on our
                                            | Software as a Service Cloud Network.

                                        a.cta-btn-small.cta-btn-small--blue-bg(href='#') LEARN MORE


                                    .col-md-8
                                        img(src='img/home-map.png')

                        #development.tab-pane
                            .card
                                .row
                                    .col-md-4
                                        h3.title-medium Xibo in the Cloud2
                                        p.paragraph-small
                                            | Low cost, high performance Cloud Hosting for your Xibo CMS.
                                            | We've got you covered
                                            | if you don't want the hassle of running your own web server.
                                            br
                                            br
                                            | Exactly the same Xibo solution available worldwide on our
                                            | Software as a Service Cloud Network.
                                    .col-md-8
                                        img(src='img/home-map.png')

                        #design.tab-pane
                            .card
                                .row
                                    .col-md-4
                                        h3.title-medium Xibo in the Cloud3
                                        p.paragraph-small
                                            | Low cost, high performance Cloud Hosting for your Xibo CMS.
                                            | We've got you covered
                                            | if you don't want the hassle of running your own web server.
                                            br
                                            br
                                            | Exactly the same Xibo solution available worldwide on our
                                            | Software as a Service Cloud Network.
                                    .col-md-8
                                        img(src='img/home-map.png')

                        #reselling.tab-pane
                            .card
                                .row
                                    .col-md-4
                                        h3.title-medium Xibo in the Cloud4
                                        p.paragraph-small
                                            | Low cost, high performance Cloud Hosting for your Xibo CMS.
                                            | We've got you covered
                                            | if you don't want the hassle of running your own web server.
                                            br
                                            br
                                            | Exactly the same Xibo solution available worldwide on our
                                            | Software as a Service Cloud Network.
                                    .col-md-8
                                        img(src='img/home-map.png')

                        #android.tab-pane
                            .card
                                .row
                                    .col-md-4
                                        h3.title-medium Xibo in the Cloud5
                                        p.paragraph-small
                                            | Low cost, high performance Cloud Hosting for your Xibo CMS.
                                            | We've got you covered
                                            | if you don't want the hassle of running your own web server.
                                            br
                                            br
                                            | Exactly the same Xibo solution available worldwide on our
                                            | Software as a Service Cloud Network.
                                    .col-md-8
                                        img(src='img/home-map.png')



            //END COMMERCIAL



        //END MAIN


        // FOOTER

        footer.footer
            .container.footer__container

                .footer__row

                    .footer__column
                        img(src='img/spring-signage_logo_white.svg', alt='spring signage')
                        p.text-small
                            | 36 Church Street - Ground Floor,
                            | North Laine, Brighton, BN 1 1RL
                        span.footer__registered.text-small
                            | Registered company: 07811749
                        span.footer__copyright.text-small
                            | © 2017 Spring Signage LTD

                    .footer__column.visible-xs
                        span.footer__registered.footer__registered--mobile.text-small
                            | Registered company: 07811749

                    .footer__column
                        h3.title-medium
                            | Product
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Home
                            li.footer__list-item
                                a(href='#') About
                            li.footer__list-item
                                a(href='#') Download
                            li.footer__list-item
                                a(href='#') Xibo for Android
                            li.footer__list-item
                                a(href='#') Shop

                    .footer__column
                        h3.title-medium
                            | Company
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Hosting
                            li.footer__list-item
                                a(href='#') Development
                            li.footer__list-item
                                a(href='#') Design
                            li.footer__list-item
                                a(href='#') Reseller
                            li.footer__list-item
                                a(href='#') Terms
                            li.footer__list-item
                                a(href='#') Privacy Policy

                    .footer__column
                        h3.title-medium
                            | Help
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Help Page
                            li.footer__list-item
                                a(href='#') User Manual
                            li.footer__list-item
                                a(href='#') Blog
                            li.footer__list-item
                                a(href='#') Community Forum
                            li.footer__list-item
                                a(href='#') Knowledge Base
                            li.footer__list-item
                                a(href='#') Youtube Channel

                    .footer__column
                        h3.title-medium
                            | Stay in touch
                        a.footer__cta.cta-btn-small.cta-btn-small--blue-bg
                            | CONTACT US
                            img(src='img/svg/Home/icon_footer_envelope.svg', alt='message')
                        ul.footer__social-links
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_facebook_blue.svg', alt='facebook')
                                    img(src='img/svg/Home/icon_footer_facebook.svg', alt='facebook')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_twitter_blue.svg', alt='twitter')
                                    img(src='img/svg/Home/icon_footer_twitter.svg', alt='twitter')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_google_blue.svg', alt='google')
                                    img(src='img/svg/Home/icon_footer_google.svg', alt='google')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_rss_blue.svg', alt='rss')
                                    img(src='img/svg/Home/icon_footer_rss.svg', alt='rss')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_youtube_blue.svg', alt='youtube')
                                    img(src='img/svg/Home/icon_footer_youtube.svg', alt='youtube')

        // END FOOTER





        // JQuery
        script(src='https://code.jquery.com/jquery-2.2.4.min.js')

        // Bootstrap JS
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
        crossorigin='anonymous')

        //Owl carousel
        script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js')

        //Jquery mobile
        script(src='js/jquery.mobile.custom.min.js')

        // Custom JS
        script(src='js/custom.min.js')

        script.

            // home page stats count

            function startCounterStats() {
                var statsPosY = $('.home .home__stats').offset().top;
                var wTop = $(window).scrollTop();
                var wHeight = $(window).height()/1.4;
                if (wTop > statsPosY - wHeight) {
                    $(window).off("scroll", startCounterStats);
                    $('.home__stats__count').each(function () {
                        var $this = $(this);
                        jQuery({Counter: 0}).animate({Counter: $this.text()}, {
                            duration: 3000,
                            easing: 'swing',
                            step: function () {
                                $this.text(Math.ceil(this.Counter));
                            }
                        });
                    });
                }
            }

            $(window).scroll(startCounterStats);

            // end


            // owl carousel

            $('.carousel-testimonials').owlCarousel({
                margin: 0,
                loop: true,
                dots: false,
                items: 1,
                smartSpeed: 700,
                nav: true,
                responsive: {
                    768: {
                        mouseDrag: false,
                        touchDrag: false
                    },
                    0: {
                        mouseDrag: true,
                        touchDrag: true
                    }
                },
                navText: ["<img src='img/svg/Home/icon_home_left-arrow_orange.svg'>" +
                    "<img src='img/svg/Home/icon_home_left-arrow.svg'>",
                    "<img src='img/svg/Home/icon_home_right-arrow_orange.svg'>" +
                    "<img src='img/svg/Home/icon_home_right-arrow.svg'>"]
            });

            $('.carousel-testimonials-img').owlCarousel({
                margin: 13,
                loop: true,
                dots: false,
                items: 5,
                smartSpeed: 700,
                center: true,
                mouseDrag: false,
                touchDrag: false,
                responsive: {
                    768: {
                        items: 5
                    },
                    0: {
                        items: 1
                    }
                }
            });

            var middleSize = function () {
                $('.owl-item.active.center').prev().addClass('middle-size');
                $('.owl-item.active.center').next().addClass('middle-size');
            };

            middleSize();

            var owl1 = $('.carousel-testimonials');
            var owl2 = $('.carousel-testimonials-img');

            owl1.on('click', '.owl-next', function () {
                owl2.trigger('next.owl.carousel')
            });

            owl1.on('click', '.owl-prev', function () {
                owl2.trigger('prev.owl.carousel')
            });

            owl1.on('dragged.owl.carousel', function (event) {
                if (event.relatedTarget['_drag']['direction'] === "left") {
                    owl2.trigger('next.owl.carousel');
                } else {
                    owl2.trigger('prev.owl.carousel');
                }
            });

            $('.owl-next, .owl-prev').click(function () {

                $('.owl-stage').find('.middle-size').removeClass('middle-size');
                setTimeout(function () {
                    middleSize();
                });

            });


            $('.home__testimonials__brands').owlCarousel({
                margin: 30,
                loop: true,
                autoplay: true,
                autoplayTimeout: 2000,
                items: 7,
                smartSpeed: 700,
                responsive: {
                    768: {
                        items: 7
                    },
                    560: {
                        items: 6
                    },
                    0: {
                        items: 3
                    }
                }
            });










