doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // Bootstrap CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
        rel='stylesheet',
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u',
        crossorigin='anonymous')
        //end

        //fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i',
        rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900',
        rel='stylesheet')
        //end

        //owl carousel
        link(href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css',
        rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css',
        rel='stylesheet')
        //end

        // Main CSS
        link(href='css/main.min.css' rel='stylesheet')
        //end

        title Hosting

    body

        // NAVBAR

        //desktop navbar

        nav.navbar.navbar-default.navbar-fixed-top.hosting-nav-bg(role='navigation')

            .container-fluid

                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        img(src='img/xibo-logo.svg', alt='logo')

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='#') Home
                        li
                            a(href='#') About
                        li
                            a(href='#') Download
                        li
                            a(href='#') Shop
                        li
                            a(href='#') Help
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Services
                                i.glyphicon.glyphicon-menu-down
                            ul.dropdown-menu
                                li.dropdown-triangle
                                    img(src='img/svg/Home/icon_header_triangle.svg')
                                li
                                    a(href='#') Cloud hosting
                                        img(src='img/svg/Home/icon_home_cloud_blue.svg')
                                        img(src='img/svg/Home/icon_home_cloud_dark.svg')
                                        span Simple, reliable, scalable Xibo CMS Cloud Hosting
                                li
                                    a(href='#') Development
                                        img(src='img/svg/Home/icon_home_development_blue.svg')
                                        img(src='img/svg/Home/icon_home_development_dark.svg')
                                        span Sponsor the development of a new feature or bug fix
                                li
                                    a(href='#') Design
                                        img(src='img/svg/Home/icon_home_design_blue.svg')
                                        img(src='img/svg/Home/icon_home_design_dark.svg')
                                        span Outsource your design work to our experts
                                li
                                    a(href='#') Reselling
                                        img(src='img/svg/Home/icon_home_reselling_blue.svg')
                                        img(src='img/svg/Home/icon_home_reselling_dark.svg')
                                        span Considering Xibo as the foundation for your business?
                                li
                                    a(href='#') Xibo for Android
                                        img(src='img/svg/Home/icon_home_android_blue.svg')
                                        img(src='img/svg/Home/icon_home_android_dark.svg')
                                        span Built for the Xibo CMS, runs on Android
                    ul.nav.navbar-nav.navbar-right
                        li.navbar-twitter
                            a(href='#')
                                img(src='img/svg/Home/icon_header_git.svg', alt='twitter')
                                | Follow us
                        li.navbar-login
                            a.cta-btn-login(href='#') Log in
                        li.navbar-cart
                            a(href='#')
                                img(src='img/svg/Home/icon_header_cart.svg', alt='cart')
                                span 2

        //end desktop navbar


        //mobile navbar

        nav.m-navbar

            .m-navbar__top

                .m-navbar__logo
                    a(href='#')
                        img(src='img/logo.png', alt='logo')
                .m-navbar__toggle
                    span

            .m-navbar__popup

                span.m-navbar__close-popup
                    img(src='img/svg/Help/icon_help_close.svg', alt='close')

                ul.m-navbar__list
                    li.m-navbar__list-item
                        a(href='#') Home
                    li.m-navbar__list-item
                        a(href='#') Shop
                    li.m-navbar__list-item
                        a(href='#') About
                    li.m-navbar__list-item
                        a(href='#') Help
                    li.m-navbar__list-item
                        a(href='#') Download

                .m-navbar__services
                    h5.m-title Services

                    ul.m-navbar__list.m-navbar__list--services
                        li.m-navbar__list-item
                            a(href='#') Hosting
                        li.m-navbar__list-item
                            a(href='#') Reselling
                        li.m-navbar__list-item
                            a(href='#') Design
                        li.m-navbar__list-item
                            a(href='#') Xibo for Android
                        li.m-navbar__list-item
                            a(href='#') Development

                .m-navbar__footer
                    .m-navbar__login
                        a.cta-btn-login(href='#')
                            | Log in
                    .m-navbar__twitter
                        a(href='#')
                            img(src='img/svg/Home/icon_home_git_dark.svg', alt='twitter')
                            | Follow us


        //ned mobile navbar



        // END NAVBAR


        //MAIN

        .hosting

            // HEADER

            .header.header--hosting
                .container-fluid.header__container.header__container--hosting

                    .row.header__row

                        .col-md-6.header__column-left
                            h1.page-title Xibo in the Cloud
                            p.paragraph-big
                                | Simple, reliable, scalable Xibo CMS Cloud Hosting

                        .col-md-6.header__column-right
                            .header__card
                                p.paragraph-big
                                    | Get your Xibo CMS for only
                                    br
                                    a(href='#')  £1.20
                                    |  GBP per display per month.
                                a.cta-btn-medium.cta-btn-medium--blue-bg(href='#') Sign Up

            // END HEADER


            // FEATURES

            .features
                .container.features__container

                    .section-title
                        h2.title-big Why choose Xibo for Android?
                        p.paragraph-big
                            | Xibo in the Cloud is the easiest way to get and run a Xibo Digital Signage network.
                            | We manage everything needed to get your CMS running so that you can focus on
                            | content. You get the same great Xibo solution, with full support from the people
                            | who made the software.


                    .row.features__row

                        .col-md-4.features__item
                            .features__card.features__card--hosting
                                .features__card-icon.features__card-icon--hosting1
                                    img(src='img/svg/Android/icon_android_works-with-xibo.svg', alt='icon')
                                h4.title-small CMS
                                p.paragraph-small
                                    | Full featured Xibo CMS, ready in 10 minutes.

                        .col-md-4.features__item
                            .features__card.features__card--shadowed
                                .features__card-icon.features__card-icon--hosting2
                                    img(src='img/svg/Android/icon_android_price.svg', alt='icon')
                                h4.title-small Price
                                p.paragraph-small
                                    | £1.20 GBP per display slot per month, billed annually.
                                    br
                                    br
                                    | 500MB library storage, 2GB monthly bandwidth per
                                    | display slot.

                        .col-md-4.features__item
                            .features__card.features__card--hosting
                                .features__card-icon.features__card-icon--hosting3
                                    img(src='img/svg/Hosting/icon_hosting_service.svg', alt='icon')
                                h4.title-small Service
                                p.paragraph-small
                                    | Managed service, expert support, first class global network.

            // END FEATURES


            // BENEFITS

            .benefits.benefits--hosting
                .container.benefits__container

                    .section-title
                        h2.title-big Packed with benefits
                        p.paragraph-big
                            | Running Xibo on our Cloud platform brings a host of benefits,
                            | from easy configuration to fully a managed network.

                    .row.benefits__row

                        .col-md-6.col-md-push-6.benefits__column-right
                            img(src='img/img_reselling_header-cover.jpg')

                        .col-md-6.col-md-pull-6.benefits__column-left
                            .owl-carousel.owl-theme

                                .benefits__carousel-item
                                    h3.title-medium Deploy
                                    p.paragraph-small
                                        | With Xibo in the Cloud you can deploy a CMS
                                        | in under 10 minutes. You pick a name and
                                        | our provisioning system goes to work, setting
                                        | everything up for you. When completed we
                                        | email you with the connection details.
                                        br
                                        br
                                        | Our account limits are simple and generous,
                                        | set with care to be more than enough for
                                        | most use cases. Each display slot adds
                                        | 500 MB of storage and 2GB monthly
                                        | bandwidth to your instance limits.
                                        br
                                        br
                                        | Connect any Player you want and mix and
                                        | match if needed. Player licences, where
                                        | applicable, are not included.

                                .benefits__carousel-item
                                    h3.title-medium Built for the Xibo CMS, runs on Android.
                                    p.paragraph-small
                                        | Xibo for Android is fully compatible
                                        | with the open source Xibo CMS and can
                                        | run against a self-hosted "on-premise"
                                        | CMS or
                                        a(href='#')  Xibo in the Cloud.
                                        |  It is a native
                                        | android application, lovingly optimized
                                        | for stability and performance.
                                        br
                                        br
                                        | Scheduling, Layouts, Campaigns, Video,
                                        | Images, RSS, Text, DataSets and much more.
                                        | Xibo for Android understands the Xibo CMS.
                                        br
                                        br
                                        | Local, secure media storage means your
                                        | content is on your Player in advance and
                                        | played back even when the device
                                        | loses connection with the CMS.

                                .benefits__carousel-item
                                    h3.title-medium Deploy
                                    p.paragraph-small
                                        | With Xibo in the Cloud you can deploy a CMS
                                        | in under 10 minutes. You pick a name and
                                        | our provisioning system goes to work, setting
                                        | everything up for you. When completed we
                                        | email you with the connection details.
                                        br
                                        br
                                        | Our account limits are simple and generous,
                                        | set with care to be more than enough for
                                        | most use cases. Each display slot adds
                                        | 500 MB of storage and 2GB monthly
                                        | bandwidth to your instance limits.
                                        br
                                        br
                                        | Connect any Player you want and mix and
                                        | match if needed. Player licences, where
                                        | applicable, are not included.

                                .benefits__carousel-item
                                    h3.title-medium Built for the Xibo CMS, runs on Android.
                                    p.paragraph-small
                                        | Xibo for Android is fully compatible
                                        | with the open source Xibo CMS and can
                                        | run against a self-hosted "on-premise"
                                        | CMS or
                                        a(href='#')  Xibo in the Cloud.
                                        |  It is a native
                                        | android application, lovingly optimized
                                        | for stability and performance.
                                        br
                                        br
                                        | Scheduling, Layouts, Campaigns, Video,
                                        | Images, RSS, Text, DataSets and much more.
                                        | Xibo for Android understands the Xibo CMS.
                                        br
                                        br
                                        | Local, secure media storage means your
                                        | content is on your Player in advance and
                                        | played back even when the device
                                        | loses connection with the CMS.

                                .benefits__carousel-item
                                    h3.title-medium Deploy
                                    p.paragraph-small
                                        | With Xibo in the Cloud you can deploy a CMS
                                        | in under 10 minutes. You pick a name and
                                        | our provisioning system goes to work, setting
                                        | everything up for you. When completed we
                                        | email you with the connection details.
                                        br
                                        br
                                        | Our account limits are simple and generous,
                                        | set with care to be more than enough for
                                        | most use cases. Each display slot adds
                                        | 500 MB of storage and 2GB monthly
                                        | bandwidth to your instance limits.
                                        br
                                        br
                                        | Connect any Player you want and mix and
                                        | match if needed. Player licences, where
                                        | applicable, are not included.

                                .benefits__carousel-item
                                    h3.title-medium Built for the Xibo CMS, runs on Android.
                                    p.paragraph-small
                                        | Xibo for Android is fully compatible
                                        | with the open source Xibo CMS and can
                                        | run against a self-hosted "on-premise"
                                        | CMS or
                                        a(href='#')  Xibo in the Cloud.
                                        |  It is a native
                                        | android application, lovingly optimized
                                        | for stability and performance.
                                        br
                                        br
                                        | Scheduling, Layouts, Campaigns, Video,
                                        | Images, RSS, Text, DataSets and much more.
                                        | Xibo for Android understands the Xibo CMS.
                                        br
                                        br
                                        | Local, secure media storage means your
                                        | content is on your Player in advance and
                                        | played back even when the device
                                        | loses connection with the CMS.





                        .col-md-12.benefits__sign-up
                            a.cta-btn-medium.cta-btn-medium--orange-bg(href='#') Sign Up


            // END BENEFITS


            //CALCULATE

            .hosting__calculate
                .container.hosting__calculate__container

                    .section-title
                        h2.title-big Calculate
                        p.paragraph-big
                            | What would it cost and what do you get?
                            | Choose your number of displays below.

                    form.hosting__calculate__form

                        p.text-big
                            | If you have a large network to deploy, please
                            a(href='#')  contact us
                            |  for a tailored quotation.
                        label
                            input.form-control.hosting__calculate__sum(type='text' readonly)

                        .hosting__calculate__checkboxes
                            label
                                span.checkbox-value 15
                                input.test(type='checkbox' checked)
                                b number of displays
                            label
                                span.checkbox-value 30
                                input(type='checkbox')
                                b GB bandwidth per month
                            label
                                span.checkbox-value 7.50
                                input(type='checkbox')
                                b GB storage
                            label
                                span.checkbox-value 216
                                input(type='checkbox')
                                b £ per year

            //END CALCULATE



            // GET XIBO

            .hosting__get-xibo
                .container.hosting__get-xibo__container

                    .section-title
                        h2.title-big Get Xibo in the Cloud
                        p.paragraph-big
                            | Get a 14 day demo CMS, no credit card required,
                            | or sign-up and buy a full instance.
                            | If you have a large network or any questions please
                            a(href='#')  contact us.

                    a.cta-btn-medium.cta-btn-medium--blue-bg(href='#') Sign up

            // END GET XIBO


            // DOMAIN

            .hosting__domain
                .hosting__domain__container

                    .section-title
                        h2.title-big Your Domain

                    .hosting__domain__content

                        .hosting__domain__card
                            img(src='img/svg/Hosting/icon_hosting_domain.svg')
                            .hosting__domain__names
                                p.hosting__domain__name-item.paragraph-big We offer instances on 4 domains:
                                p.hosting__domain__name-item.paragraph-big xibo.co.uk
                                p.hosting__domain__name-item.paragraph-big xibo.cloud
                                p.hosting__domain__name-item.paragraph-big signagecloud.net
                                p.hosting__domain__name-item.paragraph-big signcdn.com

                        .row.hosting__domain__row

                            .col-md-8.hosting__domain__column-left
                                p.paragraph-small
                                    | If you’d rather use your own domain name for a single CMS instance,
                                    | and are able to create a DNS CNAME record, then you can use your
                                    | own subdomain name for your instance for an additional fee
                                    | of £110 GBP per year including SSL certificate.

                            .col-md-4.hosting__domain__column-right
                                a.cta-btn-medium.cta-btn-small--blue-bg(href='#') Single CMS

                        .row.hosting__domain__row

                            .col-md-8.hosting__domain__column-left
                                p.paragraph-small
                                    | If you want to run multiple CMS instances on your own domain name,
                                    | and have the domain name you want to use registered already, we can
                                    | offer that at an additional cost of £250 per year including wildcard SSL
                                    | certificate and DNS hosting. Domains must be for sole use
                                    | by the Xibo platform.
                                    br
                                    br
                                    | Custom domain names are billed in addition to your Cloud CMS instance costs.

                            .col-md-4.hosting__domain__column-right
                                a.cta-btn-medium.cta-btn-small--blue-bg(href='#') Multiple CMS

            // END DOMAIN

        //END MAIN


        // FOOTER

        footer.footer
            .container.footer__container

                .footer__row

                    .footer__column
                        img(src='img/spring-signage_logo_white.svg', alt='spring signage')
                        p.text-small
                            | 36 Church Street - Ground Floor,
                            | North Laine, Brighton, BN 1 1RL
                        span.footer__registered.text-small
                            | Registered company: 07811749
                        span.footer__copyright.text-small
                            | © 2017 Spring Signage LTD

                    .footer__column.visible-xs
                        span.footer__registered.footer__registered--mobile.text-small
                            | Registered company: 07811749

                    .footer__column
                        h3.title-medium
                            | Product
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Home
                            li.footer__list-item
                                a(href='#') About
                            li.footer__list-item
                                a(href='#') Download
                            li.footer__list-item
                                a(href='#') Xibo for Android
                            li.footer__list-item
                                a(href='#') Shop

                    .footer__column
                        h3.title-medium
                            | Company
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Hosting
                            li.footer__list-item
                                a(href='#') Development
                            li.footer__list-item
                                a(href='#') Design
                            li.footer__list-item
                                a(href='#') Reseller
                            li.footer__list-item
                                a(href='#') Terms
                            li.footer__list-item
                                a(href='#') Privacy Policy

                    .footer__column
                        h3.title-medium
                            | Help
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Help Page
                            li.footer__list-item
                                a(href='#') User Manual
                            li.footer__list-item
                                a(href='#') Blog
                            li.footer__list-item
                                a(href='#') Community Forum
                            li.footer__list-item
                                a(href='#') Knowledge Base
                            li.footer__list-item
                                a(href='#') Youtube Channel

                    .footer__column
                        h3.title-medium
                            | Stay in touch
                        a.footer__cta.cta-btn-small.cta-btn-small--blue-bg
                            | CONTACT US
                            img(src='img/svg/Home/icon_footer_envelope.svg', alt='message')
                        ul.footer__social-links
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_facebook_blue.svg', alt='facebook')
                                    img(src='img/svg/Home/icon_footer_facebook.svg', alt='facebook')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_twitter_blue.svg', alt='twitter')
                                    img(src='img/svg/Home/icon_footer_twitter.svg', alt='twitter')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_google_blue.svg', alt='google')
                                    img(src='img/svg/Home/icon_footer_google.svg', alt='google')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_rss_blue.svg', alt='rss')
                                    img(src='img/svg/Home/icon_footer_rss.svg', alt='rss')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_youtube_blue.svg', alt='youtube')
                                    img(src='img/svg/Home/icon_footer_youtube.svg', alt='youtube')

        // END FOOTER



        // JQuery
        script(src='https://code.jquery.com/jquery-3.2.1.min.js',
        integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=',
        crossorigin='anonymous')

        // Bootstrap JS
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
        crossorigin='anonymous')

        //Owl carousel
        script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js')

        script(src='js/jquery.mousewheel.min.js')

        // Custom JS
        script(src='js/custom.min.js')

        //owl carousel

        script.
            var owl = $('.owl-carousel');

            $('.owl-carousel').owlCarousel({
                margin: 0,
                dots: true,
                items: 1,
                smartSpeed: 500
            });

            $('.benefits__row').on('mousewheel', function (e) {

                var wWidth = $(window).width();

                var owlPosY = owl.offset().top;

                var owlHeight = owl.height() / 10;

                if (e.deltaY > 0) {

                    if ($('.owl-carousel .owl-dots .owl-dot:first').hasClass('active') && wWidth > 992) {

                        $('body').animate({
                            scrollTop: owlPosY - 700
                        }, 150)


                    } else {
                        owl.trigger('prev.owl');
                    }

                } else {

                    if ($('.owl-carousel .owl-dots .owl-dot:last').hasClass('active') && wWidth > 992) {

                        $('body').animate({
                            scrollTop: owlPosY + owlHeight
                        }, 150)


                    } else {
                        owl.trigger('next.owl');
                    }

                }
                e.preventDefault();
            });

