doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // Bootstrap CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
        rel='stylesheet',
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u',
        crossorigin='anonymous')
        //end

        //fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i',
        rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900',
        rel='stylesheet')
        //end

        // Main CSS
        link(href='css/main.min.css' rel='stylesheet')
        //end

        title Reselling

    body

        // NAVBAR

        //desktop navbar

        nav.navbar.navbar-default.navbar-fixed-top.reselling-nav-bg(role='navigation')

            .container-fluid

                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        img(src='img/xibo-logo.svg', alt='logo')

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='#') Home
                        li
                            a(href='#') About
                        li
                            a(href='#') Download
                        li
                            a(href='#') Shop
                        li
                            a(href='#') Help
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Services
                                i.glyphicon.glyphicon-menu-down
                            ul.dropdown-menu
                                li.dropdown-triangle
                                    img(src='img/svg/Home/icon_header_triangle.svg')
                                li
                                    a(href='#') Cloud hosting
                                        img(src='img/svg/Home/icon_home_cloud_blue.svg')
                                        img(src='img/svg/Home/icon_home_cloud_dark.svg')
                                        span Simple, reliable, scalable Xibo CMS Cloud Hosting
                                li
                                    a(href='#') Development
                                        img(src='img/svg/Home/icon_home_development_blue.svg')
                                        img(src='img/svg/Home/icon_home_development_dark.svg')
                                        span Sponsor the development of a new feature or bug fix
                                li
                                    a(href='#') Design
                                        img(src='img/svg/Home/icon_home_design_blue.svg')
                                        img(src='img/svg/Home/icon_home_design_dark.svg')
                                        span Outsource your design work to our experts
                                li
                                    a(href='#') Reselling
                                        img(src='img/svg/Home/icon_home_reselling_blue.svg')
                                        img(src='img/svg/Home/icon_home_reselling_dark.svg')
                                        span Considering Xibo as the foundation for your business?
                                li
                                    a(href='#') Xibo for Android
                                        img(src='img/svg/Home/icon_home_android_blue.svg')
                                        img(src='img/svg/Home/icon_home_android_dark.svg')
                                        span Built for the Xibo CMS, runs on Android
                    ul.nav.navbar-nav.navbar-right
                        li.navbar-twitter
                            a(href='#')
                                img(src='img/svg/Home/icon_header_git.svg', alt='twitter')
                                | Follow us
                        li.navbar-login
                            a.cta-btn-login(href='#') Log in
                        li.navbar-cart
                            a(href='#')
                                img(src='img/svg/Home/icon_header_cart.svg', alt='cart')
                                span 2

        //end desktop navbar

        //mobile navbar

        nav.m-navbar

            .m-navbar__top

                .m-navbar__logo
                    a(href='#')
                        img(src='img/logo.png', alt='logo')
                .m-navbar__toggle
                    span

            .m-navbar__popup

                span.m-navbar__close-popup
                    img(src='img/svg/Help/icon_help_close.svg', alt='close')

                ul.m-navbar__list
                    li.m-navbar__list-item
                        a(href='#') Home
                    li.m-navbar__list-item
                        a(href='#') Shop
                    li.m-navbar__list-item
                        a(href='#') About
                    li.m-navbar__list-item
                        a(href='#') Help
                    li.m-navbar__list-item
                        a(href='#') Download

                .m-navbar__services
                    h5.m-title Services

                    ul.m-navbar__list.m-navbar__list--services
                        li.m-navbar__list-item
                            a(href='#') Hosting
                        li.m-navbar__list-item
                            a(href='#') Reselling
                        li.m-navbar__list-item
                            a(href='#') Design
                        li.m-navbar__list-item
                            a(href='#') Xibo for Android
                        li.m-navbar__list-item
                            a(href='#') Development

                .m-navbar__footer
                    .m-navbar__login
                        a.cta-btn-login(href='#')
                            | Log in
                    .m-navbar__twitter
                        a(href='#')
                            img(src='img/svg/Home/icon_home_git_dark.svg', alt='twitter')
                            | Follow us


                //ned mobile navbar



                // END NAVBAR


        //MAIN

        .reselling

            // HEADER

            .header.header--reselling
                .container-fluid.header__container.header__container--reselling

                    .row.header__row

                        .col-md-6.header__column-left.header__column-left--reselling
                            h1.page-title Reseller

                        .col-md-6.header__column-right
                            .header__card
                                p.paragraph-big
                                    | Considering Xibo as the foundation
                                    | for your business?  Already selling
                                    | Xibo Services & Xibo for Android?
                                a.cta-btn-medium.cta-btn-medium--blue-bg(href='#') Sign up

            // END HEADER


            // FEATURES

            .features
                .container.features__container

                    .section-title

                        h2.title-big Reselling Xibo
                        p.paragraph-big
                            | We are looking for skilled
                            | resellers to deliver Xibo based
                            | solutions and services across
                            | the globe.

                    .row.features__description-image

                        .col-md-4.features__description-image__column-left
                            img(src='img/svg/reselling/icon_reselling_reselling.svg', alt='icon')
                        .col-md-8.features__description-image__column-right.features__description-image__column-right--reselling
                            p.paragraph-big
                                | Reseller Accounts enable you to resell our value added products to your own customers
                                | and integrate licensing and cloud provisioning with your own e-Commerce system
                                | through our API.
                                br
                                br
                                | More information can be found in our
                                a(href='#')
                                    |  Knowledge Base.
                                |  Reseller accounts do not change
                                | the AGPLv3 licensing requirements of Xibo components released as Open Source.


                    .row.features__row.features__row--reselling

                        .col-md-4.features__item
                            .features__card
                                .features__card-icon.features__card-icon--reselling1
                                    img(src='img/svg/reselling/icon_reselling_leverage-xibo-brand.svg', alt='icon')
                                h4.title-small Leverage the Xibo brand
                                p.paragraph-small
                                    | Xibo has a huge following and
                                    | is used by business and
                                    | organisations worldwide.
                                    br
                                    br
                                    | Presenting Xibo to your customers
                                    | gives confidence that they
                                    | are getting the right solution.

                        .col-md-4.features__item
                            .features__card.features__card--shadowed
                                .features__card-icon.features__card-icon--reselling2
                                    img(src='img/svg/reselling/icon_reselling_leverage-your-brand.svg', alt='icon')
                                h4.title-small Leverage your own brand
                                p.paragraph-small
                                    | Xibo is tried, tested and used in production
                                    | networks for over 7 years.
                                    br
                                    | Using Xibo as a base for your
                                    | own signage service can cut
                                    | months from your time to market,
                                    | allowing you to focus on your customer.

                        .col-md-4.features__item
                            .features__card
                                .features__card-icon.features__card-icon--reselling3
                                    img(src='img/svg/reselling/icon_reselling_volume-linked-discounts.svg', alt='icon')
                                h4.title-small Volume linked discounts
                                p.paragraph-small
                                    | We offer all resellers
                                    | discounts on our advertised
                                    | pricing, linked to your sales volume.

            // END FEATURES


            // ACCOUNT TABLE

            .reselling__account

                .container.reselling__account__container

                    h2.title-big Do I need a Reseller Account?

                    table.reselling__table
                        tr
                            th
                            th
                                | Without a Reseller
                                | Account
                            th
                                | With a Reseller
                                | Account
                        tr
                            td
                                | Supply Open Source Xibo Components to Customers.
                            td
                                img(src='img/svg/reselling/icon_reselling_check_blue.svg', alt='checked')
                            td
                                img(src='img/svg/reselling/icon_reselling_check_blue.svg', alt='checked')
                        tr
                            td
                                |Charge for services around Xibo Open Source Components.
                            td
                                img(src='img/svg/reselling/icon_reselling_check_blue.svg', alt='checked')
                            td
                                img(src='img/svg/reselling/icon_reselling_check_blue.svg', alt='checked')
                        tr
                            td
                                | Purchase White Labelled Components for internal use
                                br
                                | or supplied as a service.
                            td
                                img(src='img/svg/reselling/icon_reselling_check_blue.svg', alt='checked')
                            td
                                img(src='img/svg/reselling/icon_reselling_check_blue.svg', alt='checked')
                        tr
                            td
                                | Purchase Xibo for Android / Xibo in the Cloud and supply
                                br
                                | to Customers as a managed service.
                            td
                                img(src='img/svg/reselling/icon_reselling_check_blue.svg', alt='checked')
                            td
                                img(src='img/svg/reselling/icon_reselling_check_blue.svg', alt='checked')
                        tr
                            td
                                | Purchase Xibo for Android / Xibo in the Cloud and resell to Customers.
                            td
                                img(src='img/svg/reselling/icon_reselling_close_orange.svg', alt='not checked')
                            td
                                img(src='img/svg/reselling/icon_reselling_check_blue.svg', alt='checked')
                        tr
                            td
                                | Purchase White Label Branding and resell to Customers.
                            td
                                img(src='img/svg/reselling/icon_reselling_close_orange.svg', alt='not checked')
                            td
                                img(src='img/svg/reselling/icon_reselling_check_blue.svg', alt='checked')
                        tr
                            td
                                | Discounts of 5% for annual revenue under £1000 and 12% thereafter
                                br
                                | on all Xibo in the Cloud and Xibo for Android purchases.
                            td
                                img(src='img/svg/reselling/icon_reselling_close_orange.svg', alt='not checked')
                            td
                                img(src='img/svg/reselling/icon_reselling_check_blue.svg', alt='checked')
                        tr
                            td
                                | Platform integration with your website using our Platform API.
                            td
                                img(src='img/svg/reselling/icon_reselling_close_orange.svg', alt='not checked')
                            td
                                img(src='img/svg/reselling/icon_reselling_check_blue.svg', alt='checked')


            // END ACCOUNT TABLE


            // WHITE LABEL

            .reselling__white-label

                .container.reselling__white-label__container

                    .section-title
                        h2.title-big White Label
                        p.paragraph-big
                            | Changing the branding of Xibo to suit your customer, business or organisation couldn’t be easier
                            br
                            | with our platform. Simply upload your resources into our customer portal and request a build.
                            br
                            br
                            | You’ll still need to let your customer know that they are using Open Source software.

                    .reselling__white-label__row

                        .reselling__white-label__item
                            .reselling__white-label__item-content
                                img(src='img/svg/reselling/icon_reselling_xibo-cms.svg')
                                h4.title-small Xibo CMS
                                p.paragraph-small
                                    | Change the Application name
                                    | throughout the CMS and the
                                    | Logo shown in the header.

                        .reselling__white-label__item.reselling__white-label__item--middle
                            .reselling__white-label__item-content
                                img(src='img/svg/reselling/icon_reselling_xibo-for-windows.svg')
                                h4.title-small Xibo for Windows
                                p.paragraph-small
                                    | Change the Application Name,
                                    | Splash screen and MSI installer.

                        .reselling__white-label__item
                            .reselling__white-label__item-content
                                img(src='img/svg/reselling/icon_reselling_xibo-for-android.svg')
                                h4.title-small Xibo for Android
                                p.paragraph-small
                                    | Change the Name, Icon, Splash
                                    | Screen and About text to completely
                                    |re-brand Xibo for Android.
                                    br
                                    br
                                    | Each device will still need a player
                                    br
                                    a(href='#')
                                        | licence.

                    .reselling__note
                        p.text-big
                            | Please note that for the Xibo CMS and Windows player the
                            a(href='#')
                                |  AGPL Licence and Copyright notices
                            |  must remain present and visible. Xibo for Android will not show any licensing information.
                            br
                            br
                            | Your customers must always know they are using Open Source software.








            // END WHITE LABEL

        //END MAIN


        // FOOTER

        footer.footer
            .container.footer__container

                .footer__row

                    .footer__column
                        img(src='img/spring-signage_logo_white.svg', alt='spring signage')
                        p.text-small
                            | 36 Church Street - Ground Floor,
                            | North Laine, Brighton, BN 1 1RL
                        span.footer__registered.text-small
                            | Registered company: 07811749
                        span.footer__copyright.text-small
                            | © 2017 Spring Signage LTD

                    .footer__column.visible-xs
                        span.footer__registered.footer__registered--mobile.text-small
                            | Registered company: 07811749

                    .footer__column
                        h3.title-medium
                            | Product
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Home
                            li.footer__list-item
                                a(href='#') About
                            li.footer__list-item
                                a(href='#') Download
                            li.footer__list-item
                                a(href='#') Xibo for Android
                            li.footer__list-item
                                a(href='#') Shop

                    .footer__column
                        h3.title-medium
                            | Company
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Hosting
                            li.footer__list-item
                                a(href='#') Development
                            li.footer__list-item
                                a(href='#') Design
                            li.footer__list-item
                                a(href='#') Reseller
                            li.footer__list-item
                                a(href='#') Terms
                            li.footer__list-item
                                a(href='#') Privacy Policy

                    .footer__column
                        h3.title-medium
                            | Help
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Help Page
                            li.footer__list-item
                                a(href='#') User Manual
                            li.footer__list-item
                                a(href='#') Blog
                            li.footer__list-item
                                a(href='#') Community Forum
                            li.footer__list-item
                                a(href='#') Knowledge Base
                            li.footer__list-item
                                a(href='#') Youtube Channel

                    .footer__column
                        h3.title-medium
                            | Stay in touch
                        a.footer__cta.cta-btn-small.cta-btn-small--blue-bg
                            | CONTACT US
                            img(src='img/svg/Home/icon_footer_envelope.svg', alt='message')
                        ul.footer__social-links
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_facebook_blue.svg', alt='facebook')
                                    img(src='img/svg/Home/icon_footer_facebook.svg', alt='facebook')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_twitter_blue.svg', alt='twitter')
                                    img(src='img/svg/Home/icon_footer_twitter.svg', alt='twitter')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_google_blue.svg', alt='google')
                                    img(src='img/svg/Home/icon_footer_google.svg', alt='google')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_rss_blue.svg', alt='rss')
                                    img(src='img/svg/Home/icon_footer_rss.svg', alt='rss')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_youtube_blue.svg', alt='youtube')
                                    img(src='img/svg/Home/icon_footer_youtube.svg', alt='youtube')

        // END FOOTER



        // JQuery
        script(src='https://code.jquery.com/jquery-3.2.1.min.js',
        integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=',
        crossorigin='anonymous')

        // Bootstrap JS
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
        crossorigin='anonymous')

        // Custom JS
        script(src='js/custom.min.js')