doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        // Bootstrap CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
        rel='stylesheet',
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u',
        crossorigin='anonymous')
        //end

        //fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i',
        rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900',
        rel='stylesheet')
        //end

        // Main CSS
        link(href='css/main.min.css' rel='stylesheet')
        //end

        title Home

    body

        // NAVBAR

        //desktop navbar

        nav.navbar.navbar-default.navbar-fixed-top.shop-nav-bg.sticky(role='navigation')

            .container-fluid

                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        img(src='img/xibo-logo.svg', alt='logo')

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='#') Home
                        li
                            a(href='#') About
                        li
                            a(href='#') Download
                        li
                            a(href='#') Shop
                        li
                            a(href='#') Help
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Services
                                i.glyphicon.glyphicon-menu-down
                            ul.dropdown-menu
                                li.dropdown-triangle
                                    img(src='img/svg/Home/icon_header_triangle.svg')
                                li
                                    a(href='#') Cloud hosting
                                        img(src='img/svg/Home/icon_home_cloud_blue.svg')
                                        img(src='img/svg/Home/icon_home_cloud_dark.svg')
                                        span Simple, reliable, scalable Xibo CMS Cloud Hosting
                                li
                                    a(href='#') Development
                                        img(src='img/svg/Home/icon_home_development_blue.svg')
                                        img(src='img/svg/Home/icon_home_development_dark.svg')
                                        span Sponsor the development of a new feature or bug fix
                                li
                                    a(href='#') Design
                                        img(src='img/svg/Home/icon_home_design_blue.svg')
                                        img(src='img/svg/Home/icon_home_design_dark.svg')
                                        span Outsource your design work to our experts
                                li
                                    a(href='#') Reselling
                                        img(src='img/svg/Home/icon_home_reselling_blue.svg')
                                        img(src='img/svg/Home/icon_home_reselling_dark.svg')
                                        span Considering Xibo as the foundation for your business?
                                li
                                    a(href='#') Xibo for Android
                                        img(src='img/svg/Home/icon_home_android_blue.svg')
                                        img(src='img/svg/Home/icon_home_android_dark.svg')
                                        span Built for the Xibo CMS, runs on Android
                    ul.nav.navbar-nav.navbar-right
                        li.navbar-twitter
                            a(href='#')
                                img(src='img/svg/Home/icon_header_git.svg', alt='twitter')
                                | Follow us
                        li.navbar-login
                            a.cta-btn-login(href='#') Log in
                        li.navbar-cart
                            a(href='#')
                                img(src='img/svg/Home/icon_header_cart.svg', alt='cart')
                                span 2

        //end desktop navbar


        //mobile navbar

        nav.m-navbar.m-navbar--shop

            .m-navbar__top

                .m-navbar__logo
                    a(href='#')
                        img(src='img/logo.png', alt='logo')
                .m-navbar__toggle
                    span

            .m-navbar__popup

                span.m-navbar__close-popup
                    img(src='img/svg/Help/icon_help_close.svg', alt='close')

                ul.m-navbar__list
                    li.m-navbar__list-item
                        a(href='#') Home
                    li.m-navbar__list-item
                        a(href='#') Shop
                    li.m-navbar__list-item
                        a(href='#') About
                    li.m-navbar__list-item
                        a(href='#') Help
                    li.m-navbar__list-item
                        a(href='#') Download

                .m-navbar__services
                    h5.m-title Services

                    ul.m-navbar__list.m-navbar__list--services
                        li.m-navbar__list-item
                            a(href='#') Hosting
                        li.m-navbar__list-item
                            a(href='#') Reselling
                        li.m-navbar__list-item
                            a(href='#') Design
                        li.m-navbar__list-item
                            a(href='#') Xibo for Android
                        li.m-navbar__list-item
                            a(href='#') Development

                .m-navbar__footer
                    .m-navbar__login
                        a.cta-btn-login(href='#')
                            | Log in
                    .m-navbar__twitter
                        a(href='#')
                            img(src='img/svg/Home/icon_home_git_dark.svg', alt='twitter')
                            | Follow us


        //ned mobile navbar



        // END NAVBAR


        //MAIN

        .shop-product

            // PRODUCT DETAILS

            .container.shop-product__container

                .row.shop-product__row

                    .col-md-3.shop-product__column

                        //SIDEBAR

                        aside.shop-sidebar
                            .shop-sidebar__card

                                .shop-sidebar__title
                                    p.paragraph-small Choose a category

                                ul.shop-sidebar__list
                                    li.active.shop-sidebar__list-item
                                        a(href='#') ALL
                                    li.shop-sidebar__list-item
                                        a(href='#') CMS
                                    li.shop-sidebar__list-item
                                        a(href='#') Android
                                    li.shop-sidebar__list-item
                                        a(href='#') Help/Support
                                    li.shop-sidebar__list-item
                                        a(href='#') Reseller
                                    li.shop-sidebar__list-item
                                        a(href='#') Layouts

                        //END SIDEBAR

                    .col-md-9.shop__column-main

                        .main-card

                            ol.breadcrumb.shop-product__card-nav
                                li
                                    a(href='#') Android
                                li
                                    a(href='#') Xibo for android


                            .shop-product__card-content

                                //top

                                .row.shop-product__row-description

                                    .col-sm-5.shop-product__description-image
                                        .item-image
                                            img(src='img/svg/Shop/icon_shop_hosting.svg')

                                    .col-sm-7.shop-product__description-content

                                        h3.title-medium Xibo for Android

                                        ul.nav.nav-tabs.shop-product__tabs
                                            li.active
                                                a(href='#description', data-toggle='tab') DESCRIPTION
                                            li
                                                a(href='#pricing', data-toggle='tab') PRICING

                                        .tab-content.shop-product__tab-content

                                            #description.tab-pane.active
                                                p.paragraph-small
                                                    | A full white label re-brand of Xibo
                                                    | for Android allowing the replacement of:
                                                    | Application Name Icon / Splash Screen About Text.
                                                    br
                                                    br
                                                    | Your white labelled application will still require
                                                    | a Xibo for Android licence per device you install
                                                    | it on to run beyond its 14 day trial period.

                                            #pricing.tab-pane
                                                p.paragraph-small
                                                    | Pricing - A full white label re-brand of Xibo
                                                    | for Android allowing the replacement of:
                                                    | Application Name Icon / Splash Screen About Text.
                                                    br
                                                    br
                                                    | Your white labelled application will still require
                                                    | a Xibo for Android licence per device you install
                                                    | it on to run beyond its 14 day trial period.


                                //bottom

                                form.shop-product__steps-form

                                    .shop-product__form-title
                                        p.paragraph-small Ready to buy Xibo for Android?

                                    //step one

                                    .row.shop-product__steps.shop-product__steps--one

                                        .col-sm-2.col-xs-3
                                            p.paragraph-big.shop-product__steps-checkmark
                                                | 1
                                                span
                                                    img(src='img/svg/Shop/icon_shop_check.svg')

                                        .col-sm-3.col-xs-9
                                            p.paragraph-small Select the quantity

                                        .col-sm-3.col-sm-offset-0.col-xs-9.col-xs-offset-3.shop-product__count
                                            label
                                                span.shop-product__count-btn.shop-product__count-btn--minus -
                                                input.form-control.shop-product__count-input(type='number', value ='0', min='0', max='20' readonly)
                                                span.shop-product__count-btn.shop-product__count-btn--plus +

                                        .col-sm-4.col-sm-offset-0.col-xs-9.col-xs-offset-3.shop-product__sum
                                            label
                                                input.shop-product__product-sum(type='number', value='10', readonly)

                                    //step two

                                    .row.shop-product__steps.shop-product__steps--two

                                        .col-sm-2.col-xs-3
                                            p.shop-product__steps-checkmark.paragraph-big
                                                | 2
                                                span
                                                    img(src='img/svg/Shop/icon_shop_check.svg')

                                        .col-sm-3.col-xs-9
                                            p.paragraph-small
                                                | Enter your email
                                                | address

                                        .col-sm-7.col-xs-12.shop-product__email
                                            label.shop-product__steps-item
                                                input.form-control(type='email')
                                                span.text-small
                                                    | Electronic - automatic account creation
                                                    | via Customer Portal.

                                    .row.shop-product__submit
                                        .col-sm-7.col-sm-push-5
                                            button.cta-btn-medium.cta-btn-medium--blue-bg(type='submit') BUY
                                        .col-sm-5.col-sm-pull-7
                                            a(href='#') Back





            // END PRODUCT DETAILS


        //END MAIN


        // FOOTER

        footer.footer
            .container.footer__container

                .footer__row

                    .footer__column
                        img(src='img/spring-signage_logo_white.svg', alt='spring signage')
                        p.text-small
                            | 36 Church Street - Ground Floor,
                            | North Laine, Brighton, BN 1 1RL
                        span.footer__registered.text-small
                            | Registered company: 07811749
                        span.footer__copyright.text-small
                            | © 2017 Spring Signage LTD

                    .footer__column.visible-xs
                        span.footer__registered.footer__registered--mobile.text-small
                            | Registered company: 07811749

                    .footer__column
                        h3.title-medium
                            | Product
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Home
                            li.footer__list-item
                                a(href='#') About
                            li.footer__list-item
                                a(href='#') Download
                            li.footer__list-item
                                a(href='#') Xibo for Android
                            li.footer__list-item
                                a(href='#') Shop

                    .footer__column
                        h3.title-medium
                            | Company
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Hosting
                            li.footer__list-item
                                a(href='#') Development
                            li.footer__list-item
                                a(href='#') Design
                            li.footer__list-item
                                a(href='#') Reseller
                            li.footer__list-item
                                a(href='#') Terms
                            li.footer__list-item
                                a(href='#') Privacy Policy

                    .footer__column
                        h3.title-medium
                            | Help
                        ul.footer__list
                            li.footer__list-item
                                a(href='#') Help Page
                            li.footer__list-item
                                a(href='#') User Manual
                            li.footer__list-item
                                a(href='#') Blog
                            li.footer__list-item
                                a(href='#') Community Forum
                            li.footer__list-item
                                a(href='#') Knowledge Base
                            li.footer__list-item
                                a(href='#') Youtube Channel

                    .footer__column
                        h3.title-medium
                            | Stay in touch
                        a.footer__cta.cta-btn-small.cta-btn-small--blue-bg
                            | CONTACT US
                            img(src='img/svg/Home/icon_footer_envelope.svg', alt='message')
                        ul.footer__social-links
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_facebook_blue.svg', alt='facebook')
                                    img(src='img/svg/Home/icon_footer_facebook.svg', alt='facebook')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_twitter_blue.svg', alt='twitter')
                                    img(src='img/svg/Home/icon_footer_twitter.svg', alt='twitter')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_google_blue.svg', alt='google')
                                    img(src='img/svg/Home/icon_footer_google.svg', alt='google')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_rss_blue.svg', alt='rss')
                                    img(src='img/svg/Home/icon_footer_rss.svg', alt='rss')
                            li.footer__social-links-item
                                a(href='#')
                                    img(src='img/svg/Home/icon_footer_youtube_blue.svg', alt='youtube')
                                    img(src='img/svg/Home/icon_footer_youtube.svg', alt='youtube')

        // END FOOTER



        // JQuery
        script(src='https://code.jquery.com/jquery-3.2.1.min.js',
        integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=',
        crossorigin='anonymous')

        // Bootstrap JS
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
        crossorigin='anonymous')

        // Custom JS
        script(src='js/custom.min.js')


