.hosting__calculate
  background: $white

  &__form
    max-width: 790px
    margin: 20px auto 0

    .text-big
      text-align: center
      margin-bottom: 15px

  label
    width: 755px
    display: block
    margin: 0 auto
    input[type='text']
      height: 86px
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
      border-radius: 6px
      background: white
      color: $blue
      font-family: 'Maven Pro', sans-serif
      padding: 0 52px
      font-size: 52px
      font-weight: 400
      outline: none!important
      border: none
      &:active, &:focus
        border: none

  &__checkboxes
    display: flex
    margin-top: 34px
    label
      flex-grow: 1
      text-align: center
      cursor: pointer
      padding: 0 15px
      span
        height: 163px
        width: 163px
        display: block
        border-radius: 6px
        border: 2px solid #ffffff
        padding-top: 60px
        color: $blue
        font-family: 'Maven Pro', sans-serif
        font-size: 32px
        font-weight: 500
        margin: 0 auto

      b
        display: block
        color: $gray-light
        font-weight: 400
        margin-top: 15px
      input
        display: none
      &.checked span
        color: white
        background-image: linear-gradient(30deg, #005c97 0%, #363795 100%)



//responsiveness
@media (max-width: 992px)
  .hosting__calculate
    &__checkboxes
      flex-wrap: wrap
      label
        width: 50%
        padding-bottom: 30px

@media (max-width: 768px)
  .hosting__calculate
    .text-big, .paragraph-big
      text-align: left
    .text-big
      margin-bottom: 55px
    &__checkboxes
      width: 250px
      margin: 34px auto 0
      label
        span
          width: 76px
          height: 76px
          font-size: 24px
          padding-top: 20px

    &__sum
      height: 50px!important
      padding: 0 23px!important
      font-size: 32px!important

