.hosting__domain
  background: $white

  &__container
    padding: 120px 15px

  &__content
    max-width: 780px
    margin: 0 auto

  &__card
    background: white
    position: relative
    padding: 28px
    margin-top: 56px
    border-radius: 6px
    img
      width: 131px
      position: absolute
      left: 100px
      top: 26px
    &:before
      content: ''
      position: absolute
      left: 290px
      top: 33px
      width: 1px
      height: 120px
      background-color: $white

  &__names
    padding-left: 50%

  &__row
    margin-top: 60px

  &__column-left
    padding-right: 0

  &__column-right
    text-align: right


//responsiveness
@media (max-width: 992px)
  .hosting__domain

    &__container
      padding: 55px 15px 60px

    &__row
      margin-top: 55px!important

    &__column-right
      margin: 30px 0 0!important
      text-align: center

    &__column-left
      padding-right: 15px


@media (max-width: 768px)
  .hosting__domain

    &__card
      padding: 60px 22px
      text-align: center
      img
        width: 73px
        position: relative!important
        left: 0
        top: 0
        margin: 0 auto
        display: block
      &:before
        display: none
    &__names
      padding: 0
      margin-top: 25px

@media (max-width: 460px)
  .hosting__domain

    &__card
      text-align: left


