.reselling

  &__account

    &__container
      h2.title-big
        text-align: center

  &__table
    border-radius: 6px
    border: 2px solid $white
    max-width: 950px
    margin: 60px auto 0

    tr
      tr, td
        border: 1px solid $white
        vertical-align: middle
      th
        color: $black
        font-weight: 400
        line-height: 23px
        padding: 9px 9px 9px 20px
        &:nth-child(n+2)
          border-left: 1px solid $white
      td
        color: $gray-light
        line-height: 23px
        padding: 5px
        img
          width: 15px
        &:nth-child(n+2)
          text-align: center
        &:first-child
          padding-left: 30px
          width: 60%

//responsiveness
@media (max-width: 768px)
  .reselling
    &__account
      display: none!important

