.reselling
  .features
    background: $white

    .section-title
      margin-bottom: 55px

    &__description-image__column-left img
      width: 143px

//responsiveness
@media (max-width: 768px)
  .reselling .features

    .section-title
      margin-bottom: 0!important

    &__description-image

      &__column-left
        display: none!important

      &__column-right
        padding-top: 0
        .paragraph-big
          padding-top: 20px

