.reselling

  &__white-label
    background: $white

    &__container
      padding: 120px 15px

    .section-title
      text-align: center
      p.paragraph-big
        margin-top: 30px

    &__row
      padding-top: 60px
      margin: 0 auto
      display: flex
    &__item
      padding-left: 90px
      &--middle
        padding-left: 60px
        width: 80%
        .reselling__white-label__item-content
          border-left: 1px solid white
          border-right: 1px solid white
          padding: 0 70px 85px 100px

    &__item-content
      img
        width: 70px
      .title-small
        margin-top: 23px
        margin-bottom: 12px
      .paragraph-small
        a
          color: $blue

  &__note
    margin-top: 50px
    p.text-big
      max-width: 575px
      line-height: 19px
      margin: 0 auto
      color: $gray-light

//responsiveness
@media (max-width: 1200px)
  .reselling

    &__white-label

      &__item
        padding: 0 15px!important

        &--middle

          .reselling__white-label__item-content
            padding: 0 15px 90px 30px!important



@media (max-width: 992px)
  .reselling

    &__white-label

      &__container

        .section-title-box

          .title-big
            font-size: 26px

          .paragraph-big
            text-align: left
            margin-top: 20px!important

      &__row
        flex-wrap: wrap
        padding-top: 0

      &__item
        width: 100%!important
        padding: 0!important
        &:nth-child(2)
          .reselling__white-label__item-content
            padding: 60px 10px 25px 45px!important
            border: none!important
            border-top: 1px solid $white!important
            border-bottom: 1px solid $white!important
        &:first-child
          .reselling__white-label__item-content
            padding-top: 50px!important

      &__item-content
        padding: 60px 0 25px 45px!important

    &__note
      margin-top: 25px!important


@media (max-width: 768px)
  .reselling

    &__white-label
      background: white
