.footer
  background: linear-gradient(30deg, #263a68 0%, #242628 100%)
  p, a, span, h3
    color: white

  &__container
    padding-top: 115px
    padding-bottom: 120px

  &__row
    display: flex

  &__column
    flex-grow: 1

    h3.title-medium
      margin-bottom: 28px

    &:first-child
      width: 290px
      img
        width: 81px
      p.text-small
        margin-top: 25px
        max-width: 182px
      span
        margin-top: 13px
        display: block
    &:nth-child(3), &:nth-child(4), &:nth-child(5)
      width: 195px
    &:last-child
      width: 270px

  &__copyright
    font-weight: 300

  &__list-item a
    font-size: 13px
    line-height: 25px
    &:hover
      color: $blue

  &__cta.cta-btn-small
    width: 165px
    text-align: left
    img
      width: 23px
      position: absolute
      right: 18px
      top: 12px

  &__social-links-item
    display: inline-block
    margin-top: 30px
    margin-right: 11px
    a
      display: block
      width: 42px
      height: 42px
      border: 2px solid $blue
      border-radius: 50%
      padding: 8px
      text-align: center
      position: relative
      overflow: hidden
      img
        width: 100%
        transition: all 0.3s
        &:last-child
          position: relative
          bottom: 22px
          opacity: 0
      &:hover
        background: $blue
        img
          &:first-child
            opacity: 0
          &:last-child
            opacity: 1
    &:last-child
      margin-right: 0

//responsiveness
@media (max-width: 1200px)
  .footer

    &__row
      flex-wrap: wrap

    &__column
      text-align: center
      width: 50%!important
      padding-bottom: 40px
      .text-small
        margin: 0 auto

@media (max-width: 768px)
  .footer
    position: relative

    &__container
      padding-top: 60px
      padding-bottom: 80px

    &__registered--mobile
      padding-top: 80px
      display: block

    &__copyright
      position: absolute
      bottom: 60px
      left: 0
      right: 0
      display: block
      text-align: center

    &__list-item a
      line-height: 35px

    &__column
      width: 50%!important
      text-align: left
      .text-small:not(.footer__copyright):not(.footer__registered)
        margin-left: 0
        max-width: 110px!important
      .title-medium
        margin-bottom: 23px!important

      &:first-child
        .footer__registered
          display: none!important

      &:last-child
        width: 100%!important

      &:nth-last-child(2)
        .footer__list-item
          display: inline-block
          width: 49%

    &__social-links-item
      margin-right: 10px!important
