.navbar
  background: none
  border: none
  margin: 0
  padding-top: 20px
  padding-bottom: 20px
  transition: all 0.5s
  z-index: 5

  &:after
    content: ''
    width: 100%
    height: 95px
    position: absolute
    left: 0
    top: 0
    z-index: -1
    transition: all 0.5s
    opacity: 0

  .container-fluid
    max-width: 1170px

  .navbar-header
    .navbar-brand
      padding: 0 15px
      img
        width: 81px

  .navbar-collapse
    ul.nav.navbar-nav

      li
        padding: 15px
        a
          color: $white
          line-height: 23px
          padding: 0
          text-align: center
          img
            position: relative

        &.active a
          background: none
          color: $orange

        &.dropdown
          i
            font-size: 10px
            margin-left: 3px
            position: relative
          &.open a
            background: none
          ul.dropdown-menu
            width: 655px
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
            border-radius: 6px
            padding: 40px 0
            left: -450px
            top: 64px
            &:before
              content: ''
              position: absolute
              left: 165px
              top: 0
              width: 1px
              height: 100%
              background: $white
            li
              padding: 0
              a
                color: $gray
                font-family: 'Maven Pro', sans-serif
                font-size: 18px
                position: relative
                text-align: left
                padding: 10px 10px 10px 194px
                &:before
                  content: ''
                  position: absolute
                  left: 163px
                  top: 14px
                  width: 5px
                  height: 50px
                  border-radius: 2px
                  background-color: $blue
                  opacity: 0
                  transition: all 0.3s
                img
                  width: 45px
                  position: absolute
                  left: 98px
                  top: 16px
                  transition: all 0.3s
                  &:first-child
                    opacity: 0
                span
                  display: block
                  font-size: 14px
                  margin-top: 10px
                &:hover
                  color: $blue
                  &:before
                    opacity: 1
                  img
                    &:first-child
                      opacity: 1
                    &:last-of-type
                      opacity: 0!important

              &.dropdown-triangle
                position: absolute
                top: -24px
                right: 143px

        &.navbar-twitter a img
          width: 23px
          margin-right: 13px
          bottom: 2px

        &.navbar-login
          padding: 9px 32px 9px 48px

        &.navbar-logged-in
          a
            position: relative
            padding-left: 50px
            text-transform: capitalize
            text-align: center
            span.user-image
              width: 40px
              height: 40px
              display: block
              background: white
              box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
              border-radius: 50%
              overflow: hidden
              float: left
              position: absolute
              left: 0
              top: -8px
              img
                &.default
                  width: 15px
                  margin-top: 12px
                &.uploaded
                  width: 100%


        &.navbar-cart a
          img
            width: 22px
            margin-right: 10px
          span
            display: inline-block
            width: 18px
            height: 18px
            background: $orange
            border-radius: 50%
            text-align: center
            line-height: 18px
            font-size: 9px
            position: relative
            bottom: 4px

        &:not(.navbar-cart):not(.navbar-login)
          a
            &:hover
              color: $orange


      &:not(.navbar-right)
        padding-left: 85px


  //sticky when scrolling

  &.sticky
    padding-top: 10px
    padding-bottom: 10px
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    &:after
      opacity: 1
      height: 75px
  //end

  &.home-nav-bg:after
    background: linear-gradient(30deg, #263a68 0%, #242628 100%)
  &.development-nav-bg:after
    background: linear-gradient(30deg, #2b5876 0%, #4e4376 100%)
  &.reselling-nav-bg:after
    background: linear-gradient(30deg, #05219c 0%, #242628 100%)
  &.android-nav-bg:after
    background: linear-gradient(30deg, #1e5b85 0%, #34485c 100%)
  &.hosting-nav-bg:after
    background: linear-gradient(30deg, #005c97 0%, #363795 100%)
  &.help-nav-bg:after
    background: linear-gradient(30deg, #2b5876 0%, #4e4376 100%)
  &.design-nav-bg:after
    background: linear-gradient(30deg, #415fa0 0%, #425fa1 0%, #182848 100%)
  &.download-nav-bg:after
    background: linear-gradient(30deg, #005083 0%, #363795 100%)
  &.about-nav-bg:after
    background: linear-gradient(30deg, #216492 0%, #2c3e50 100%)

  //! not :after in shop page

  &.shop-nav-bg
    background: linear-gradient(30deg, #4b6cb7 0%, #4b6cb7 0%, #182848 100%)


//mobile navbar styles

.m-navbar
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 10
  display: none

  &__logo
    padding: 15px
    img
      width: 52px
  &__toggle
    width: 23px
    height: 18px
    right: 15px
    top: 20px
    position: absolute
    cursor: pointer
    span, span:before, span:after
      width: 23px
      height: 2px
      border-radius: 2px
      background: white
      position: absolute
      right: 0
    span
      top: 0
      &:before, &:after
        content: ''
      &:before
        top: 7px
      &:after
        top: 14px

  &__popup
    background: white
    position: fixed
    left: 15px
    right: 15px
    top: 12px
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 0 999px rgba(52, 60, 69, 0.9)
    border-radius: 6px
    padding: 65px 0 30px
    display: none
    max-width: 555px
    margin: 0 auto

  &__close-popup
    position: absolute
    right: 30px
    top: 25px
    cursor: pointer
    img
      width: 15px

  &__list
    display: flex
    flex-wrap: wrap
    padding: 0 15px 0 45px
    margin-bottom: 20px
    &--services
      padding-left: 0

  &__list-item
    width: 50%
    a
      font-size: 14px
      line-height: 35px
      color: $gray-light
      &:hover
        color: $blue

  &__services
    padding-left: 45px
    padding-top: 15px
    border-top: 1px solid $white
    border-bottom: 1px solid $white

  &__footer
    padding: 30px 15px 0 30px
    display: table
    width: 100%
    a
      display: block

  &__login, &__twitter
    width: 50%
    display: table-cell
    vertical-align: middle

  &__login
    a
      padding: 8px!important

  &__twitter
    position: relative
    a
      color: $gray-light
      padding-left: 46px
    img
      width: 23px
      position: absolute
      left: 7px
      top: 5px


  &--shop
    background: linear-gradient(30deg, #4b6cb7 0%, #4b6cb7 0%, #182848 100%)!important

//end


//responsiveness
@media (max-width: 1200px)
  .navbar
    ul.nav.navbar-nav:not(.navbar-right)
      padding-left: 20px!important

@media (max-width: 1050px)
  .navbar
    ul
      li
        padding: 15px 10px!important
        &.navbar-login
          padding: 9px 5px!important
      &.dropdown-menu
        left: -400px!important
        li
          padding: 0!important
          &.dropdown-triangle
            right: 203px!important



@media (max-width: 955px)
  .navbar
    display: none
  .m-navbar
    display: block