.android__get-xibo
  background: linear-gradient(30deg, #2980b9 0%, #2c3e50 100%)

  &__container

    .title-big
      color: white

  &__card
    max-width: 940px
    margin: 60px auto 0
    background: white
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    border-radius: 6px
    padding: 118px 95px 80px

  &__column-left
    .paragraph-big
      color: $gray-light

  &__card-buttons
    display: flex
    margin-top: 20px
    a.cta-btn-small
      &:first-child
        margin-right: 30px

  &__card-notification
    max-width: 360px
    background: $white
    border-radius: 6px
    margin-top: 30px
    position: relative
    padding: 25px 50px 25px 100px
    img
      width: 50px
      position: absolute
      left: 32px
      top: 18px
    p.paragraph-small
      line-height: 19px

  &__column-right
    text-align: center
    p.text-big
      margin-top: 5px

  &__video-box
    position: relative
    overflow: hidden
    max-width: 358px
    margin-left: auto
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    border-radius: 6px
    background-color: #2c93f4
    img
      width: 100%

  &__play-video-icon
    width: 55px
    height: 55px
    display: block
    position: absolute
    left: calc(50% - 27.5px)
    top: calc(50% - 27.5px)
    background: white
    border-radius: 50%
    padding-top: 16.5px
    padding-left: 3px
    text-align: center
    cursor: pointer
    transition: all 0.3s
    &:hover
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)

    img
      width: 16px


//responsiveness
@media (max-width: 992px)

  .android__get-xibo

    &__card
      padding: 55px 12px 80px

    &__card-buttons
      text-align: center
      display: block!important
      margin-top: 29px
      a
        margin: 0 15px 30px!important

    &__card-notification
      margin: 30px auto 0!important
      padding: 26px 20px!important
      img
        display: none

    &__video-box
      margin: 60px auto 0
